[2017-06-01 19:40] jasonjoh opened #53 "Node.js REST tutorial has incorrect require statement for oauth2"
Per user comment at https://docs.microsoft.com/en-us/outlook/rest/node-tutorial:

The node-tutorial repository does it correctly, just need to update the tutorial doc itself.

[2017-06-01 19:48] jasonjoh opened #54 "PHP tutorial missing using statements"
Per comment on https://docs.microsoft.com/en-us/outlook/rest/php-tutorial:

[2017-06-02 12:38] #53 closed

[2017-06-02 18:51] #54 closed

[2017-06-05 15:37] jasonjoh opened #60 "Java REST tutorial, tokens always null"
Per comment left on [topic](https://docs.microsoft.com/en-us/outlook/rest/java-tutorial#comments-container):

 statement in AuthorizeController.java

[2017-06-05 16:40] #60 closed

[2017-10-26 19:03] misterGF opened #117 "Outlook calendar plans"
https://docs.microsoft.com/en-us/outlook/add-ins/outlook-mobile-addins

Any plans to include calendars in the latest mobile addin feature?

Only mail read is supported at this time. That means MobileMessageReadCommandSurface is the only ExtensionPoint you should declare in the mobile section of your manifest

[2017-10-27 13:30] jasonjoh commented on #117
Nothing I can announce regarding this at this time. I'd suggest adding a request for this on our [UserVoice](https://officespdev.uservoice.com/) so other folks can vote it up!

[2017-10-27 13:30] #117 closed

[2017-12-06 14:54] jasonjoh opened #130 "Need to document add-in limitation with custom forms"
This came up in https://github.com/OfficeDev/office-js-docs/issues/1046. Add-ins cannot activate on items that use a custom form.

[2017-12-06 14:59] #130 closed

[2017-12-19 22:29] kbrandl opened #136 "Sideload instructions for Outlook 365 outdated?"
When sideloading an add-in in Outlook 365, the UI that I see doesn't match the UI that's described in the [Sideload Outlook add-ins for testing](https://docs.microsoft.com/en-us/outlook/add-ins/sideload-outlook-add-ins-for-testing#sideload-an-add-in-in-outlook-in-office-365) article. Is the article perhaps outdated?

Here's the Settings menu that I see in Outlook 365:

![image](https://user-images

[2018-01-04 14:56] jasonjoh commented on #136
I actually have a work item to update the screenshots in this topic due to some new UI changes we're making, so this is timely.

[2018-01-08 15:42] jasonjoh opened #138 "Req set 1.5 is no longer in preview"
https://docs.microsoft.com/en-us/outlook/add-ins/use-rest-api

Doc says that 1.5 is in preview, which is wrong.

[2018-01-08 21:50] #138 closed

[2018-01-11 22:41] Rick-Kirkham opened #142 "Small changes in Outlook add-ins overview"
All of this refers to https://docs.microsoft.com/en-us/outlook/add-ins/

1. In first sentence change "web technologies based platform" to "web-based platform". The "technologies" doesn't add anything and it makes whole phrase hard to read.

2. The remark " For an Outlook add-in, Outlook reads the manifest and hooks up the specified controls in the UI, then loads the JavaScript and HTML. This all e

[2018-01-12 13:31] jasonjoh commented on #142
Thanks Ricky. I've been working on the side to scrub through all of these docs ever since we migrated them, it's just been hard to find time :).

[2018-01-13 00:16] Rick-Kirkham opened #143 "Changes to Outlook add-in Quickstart"
This is in reference to: https://github.com/OfficeDev/outlook-dev-docs/blob/live/docs/add-ins/quick-start.md

1. The comment above Office.initialize in the first JS code block says "The initialize function must be run each time a new page is loaded". This comment is misleading and not to the point. The code is not "running" Office.initialize. It is assigning something to Office.initialize. The Off

[2018-01-15 08:05] rbarten opened #144 "Outlook API Throttling documentation"
We often receive an error 429 when using the Microsoft Graph or Outlook Mail REST API for particular actions on a mailbox. Error 429 seems to be a Throtting issue, but we cannot find any information about the issue we experience, because it's doesn't seems to be related to the 'Rate-Limit' throttling rule documented here: https://blogs.msdn.microsoft.com/exchangedev/2017/04/07/throttling-coming-to

[2018-01-16 15:57] jasonjoh commented on #144
I don't know the answer off the top of my head, I'll have to take a look at your repro and see what I can find out.

[2018-01-17 13:44] jasonjoh commented on #144
Update: I was able to reproduce this using Graph, though for me I get the first 500 at the 498th move, and other requests (list messages, list subfolders) also fail with 429. I'll send the traces to engineering and see what I can find out.

[2018-01-17 14:46] rbarten commented on #144
Great! We noticed the same when using the Graph. All requests are failing then.
When we use the Outlook Mail API directly only the Move action fails with 429, the other requests (list messages and subfolders) are working fine.

[2018-01-17 18:13] jasonjoh commented on #144
I've logged a bug on this. I'll update as I get more information.

[2018-01-24 13:35] #136 closed

[2018-01-24 20:10] CGrijalva90 opened #151 "getTokenFromCode needs to be async"
From:

`function getTokenFromCode(auth_code, callback, response) {...}`

To:

` async function getTokenFromCode(auth_code, callback, response) {...}`

[2018-01-25 17:48] jasonjoh commented on #151
Thanks, good catch!

[2018-01-25 18:14] #151 closed

[2018-01-28 09:11] sirajrider opened #159 "email key in outlook contacts json response is not proper"
Please check the response below. Name has value which is address value instead of proper type.
using this api for getting contacts **https://graph.microsoft.com/v1.0/me/contacts**
`"emailAddresses":[
			{"name":"personal@outlook.com","address":"personal@outlook.com"},
			{"name":"work@outlook.com","address":"work@outlook.com"},
			{"name":"other@outlook.com","address":"other@outlook.com"}
		],`

[2018-01-29 14:34] jasonjoh commented on #159
Hi @sirajrider, questions like this would be better on Stack Overflow so more people can see and benefit! :). Plus we want to limit the issues in this repository to actual problems with the documentation.

That being said, that can be a valid response depending on how the contacts is configured. If you're using an Outlook.com account, the web interface doesn't have an ability to set a "name" on an

[2018-01-29 14:34] #159 closed

[2018-01-29 16:07] jasonjoh opened #160 "Broken link in manifest.md"
Link to download schemas is broken.

[2018-01-29 16:10] jasonjoh commented on #160
Looks like Office moved this content to another repository: https://github.com/OfficeDev/office-js-docs-pr/tree/master/docs/overview/schemas

[2018-02-07 15:17] #160 closed

[2018-02-08 22:48] faboo commented on #144
Hi, I'm experiencing a similar issue - many moves in rapid succession followed by ErrorTooManyObjectsOpened errors that contradict the Rate-Limit headers - has there been any change in its status?

[2018-02-08 22:58] jasonjoh commented on #144
@faboo no, I'm still waiting for the engineering team to finish investigating. I will definitely update here as soon as I have more information to share.

[2018-03-01 14:59] Danthar commented on #144
We are running into the exact same issue.

[2018-03-02 13:05] OfficeGSX opened #184 "Unfinished sentence in an article"
There is an unfinished sentence in an article.

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/outlook/add-ins/get-attachments-of-an-outlook-item
2. Search for "The following code makes one request to retrieve all the a"

**Actual results:**
Sentence is not finished
**Expected results:**
Sentence should be finished

**Proposed fix:**
The unfinished word is most likely "attachments"

**

[2018-03-02 16:11] lauriemoore commented on #144
I am having this problem too. Is there a timeframe on when it can be fixed?  Are there any work arounds?  It was suggested to me to try to move more than one message in a single request by having a comma separated list of the message ids in order to cut back on the number of requests being made. But, I haven't tried that yet.

[2018-03-02 16:58] davster commented on #144
The issue here isn't the number of calls, it is the number of concurrently opened objects in the store.  Batching is good for other reasons, but will actually just exasperate this problem here. How many messages are you trying to move in a single request?  In theory at least, assuming the messages are moving serially on the server, you shouldn't have more than one open handle at a time.  Ill take

[2018-03-02 17:04] lauriemoore commented on #144
I'm just moving one at at time.  I get 20 messages at time and loop through them individually. For each one, I download their attachments if any and get the Transport Header because I need some information from it.  And then, if my processing is successful, I move the message to a folder called Processed.  Or, if not everything worked out, for example, we will only take certain attachment types...

[2018-03-02 17:11] davster commented on #144
Yeah, that shouldn't be happening.  Out of curiosity, do you log your response headers?  There are a few response headers which would be helpful:  request-Id, the UTC time of the request and the X-BEServer name.

[2018-03-06 20:07] #184 closed

[2018-03-08 10:53] Danthar commented on #144
So we are doing practically the same thing as @lauriemoore is doing. And right now we are consistently running into this issue. Its annoying because the retry-after response headers are not communicated back by the Graph SDK.

What happens is that a ServiceException is thrown. These are the relevant response headers communicated back.

request-id: 50b6fb6d-2226-4c51-9c7f-117ea4a0931b
x-ms-ags-diag

[2018-03-08 15:05] Danthar commented on #144
I reproduced the issue using a plain old HttpClient. And verified that the retry-after headers are not present, even though we are getting a 429 error.
Example url (if that would help): https://graph.microsoft.com/v1.0/users/[REDACTED]/mailFolders/Inbox/messages?$expand=Attachments&top=10
Ping: @davster

[2018-03-08 15:13] rbarten commented on #144
I think you should use the Outlook Rest API directly instead of the Graph to receive those headers.
We also are receiving the error more often, But I haven’t found the time to retrieve the headers. We are also using Graph, But Outlook API directly has the same issue.

[2018-03-09 14:45] rbarten commented on #144
@davster  Below two samples of failing requests. First we get a error 500, after that 429 on each request:
I could provide the complete Fiddler trace if you want.

Error 500
Request:
[code]

Response
[code]

Error 429
Request:
[code]

Response:
[code]

[2018-03-22 13:41] kyhnlbyrk opened #196 "Email returns null"
Hi guys, I am coming from https://docs.microsoft.com/en-us/outlook/rest/java-tutorial#implementing-oauth2 this documentation. However, I can not get the email of the user. I get the name but the email returns null..

[2018-03-22 13:43] jasonjoh commented on #196
I'm guessing that you're using a Microsoft account (like Outlook.com or Hotmail.com) instead of Office 365? If so, the `mail` attribute is always empty for them. Try the `userPrincipalName`.

[2018-03-22 13:56] kyhnlbyrk commented on #196
hmm yeah, I am using Hotmail... However, I need to take calendar event information.. To do that  I need to create Outlook Service in the documentation. And to create Outlook Service for the events I need the email. How can I get past this issue? Is userPrincipalName is going to give me the email?

[2018-03-22 14:01] jasonjoh commented on #196
Yes.

[2018-03-22 14:01] kyhnlbyrk commented on #196
Okay, thanks

[2018-03-22 14:08] kyhnlbyrk commented on #196
works like charm !

[2018-03-22 14:08] #196 closed

[2018-03-22 22:13] lauriemoore commented on #144
Does anyone have an update on this?  We run this in production and our quarter end is quickly approaching and our email volume will go up.  Today, we started getting in more emails at 8am... and by 3pm we had hit the 500 limit.  In a few days, we will get 300 emails in 30 mins...and this will become a huge problem for us.  We have our scheduling program wait for 30 mins before running the applicat

[2018-03-22 23:45] davster commented on #144
Known issue that was recently fixed (after I responded above).  The issue wasn't with traditional throttling.  Basically there was an object leak that was happening for Move commands which caused us to exhaust the available handles and store started yelling at us.  These leaked handles will affect any other call for that user.

Anyways, you should start seeing relief.

[2018-03-22 23:50] lauriemoore commented on #144
I wondered if something had changed.  We almost feel like the problem is worse now.  It is inconsistent and hard to remedy.

I think I can get about 700 mail moves before I get the error.  But, then, waiting 30 minutes is not working and I don't know how long it will take before the problem resets because the retry-after is not populated.  It seems like waiting 30 minutes is a really long time any

[2018-03-27 10:37] kyhnlbyrk opened #198 "Unicode characters are not showing correctly"
Hi,

I am using this doc to fetch logged in users outlook events. However, the data comes in ASCII format I believe. I need to use Unicode. I.E. when I add location from outlook, let's say İstanbul, the data that comes to me is "?stanbul". How can I fix this issue?

[2018-03-27 12:10] jasonjoh commented on #198
The Graph API returns data in UTF-8 by default. I just tried with İstanbul in the location and I get it back properly.

[2018-03-30 14:22] jasonjoh opened #199 "Code mistake in sample in the Use REST API topic"
@ElizabethSamuel-MSFT @dmahugh wanted to make you guys aware.

Reported via feedback here: https://docs.microsoft.com/en-us/outlook/add-ins/use-rest-api#comments-container

https://github.com/OfficeDev/outlook-dev-docs/blob/master/docs/add-ins/use-rest-api.md

In the last code sample, the `getMessageUrl` is constructed incorrectly. It currently says:

[code]

Two issues

- User reports that the `/

[2018-03-30 14:50] #199 closed

[2018-04-05 10:01] maxpaj opened #435 "Exchange Server 2013 addin compability?"
## Article URL
https://dev.office.com/reference/add-ins/outlook/tutorial-api-requirement-sets

## Issue
I have a customer who wants to use our addin in their Outlook. They run an Exchange Server 2013 solution and can install addins through Exchange Admin Center. But when they try to install our addin it says:

The version number indicates that they are using Exchange Server 2013 CU14.

I've dug th

[2018-04-09 15:55] jasonjoh commented on #144
@rbarten @lauriemoore This particular issue should be fixed. I just ran my repro app through 1200 messages with no error.

[2018-04-09 15:55] #144 closed

[2018-04-10 13:31] EEtancelin opened #207 "Disclose Security Isssue"
Hi @jasonjoh,
we did implement last month the exchange token validation but me and my colleague got concern about the safety of the proposed procedure.  https://docs.microsoft.com/en-us/outlook/add-ins/validate-an-identity-token.

It's seems that the validation that is propose, may allow attacker to impersonate an user. Is there any mail address to express security issues ?

[2018-04-12 15:09] nitslucky opened #210 "Regular expression addin activation based on PropertyName="Subject""
I have written an add-in for outlook web. This addin gets activated based on the string match found in the Body of an email with PropertyName="BodyAsPlaintext", but the same regular expression is not working when I change the PropertyName="Subject".

For example: If it finds a string in Body of an email something like D3451-0032, G3645-7462/442 or 3702/3621392 its working fine. But if I try to sen

[2018-04-12 15:13] jasonjoh commented on #210
Please ask this on StackOverflow and tag with `outlook-web-addins`. Issues in this repository should be limited to issues with the documentation itself. Thanks!

[2018-04-12 15:13] #210 closed

[2018-05-03 10:40] kyhnlbyrk opened #221 "Push Notification Service"
Hi,

I am using this service to subscribe events. However, I get error code 401 although I include the access token. I get the access token following https://docs.microsoft.com/en-us/outlook/rest/java-tutorial this tutorial. And my payload is like the following:

{

"@odata.type":"#Microsoft.OutlookServices.PushSubscription",

"Resource":"https://outlook.office.com/api/v2.0/me/events",

"Notificat

[2018-05-03 13:02] jasonjoh commented on #221
Hi @kyhnlbyrk! Issues in this repository should be limited to issues with the documentation itself. This isn't intended as a support forum for the APIs.

You can get community support by posting on Stack Overflow with the tag `outlook-restapi`. If you prefer more formalized support, you can always contact Microsoft Developer Support via https://support.microsoft.com/en-us/assistedsupportproducts.

[2018-05-03 13:02] #221 closed

[2018-05-03 13:28] kyhnlbyrk commented on #221
Okay sorry for inconvenience, and thank you for the response:)

[2018-05-07 15:52] jasonjoh commented on #207
Sorry for the delay on this! Can you explain your concern here?

[2018-05-16 14:15] jasonjoh commented on #143
@lindalu-MSFT can you get this assigned to a writer?

[2018-05-16 14:15] jasonjoh commented on #142
@lindalu-MSFT can you assign this to a writer?

[2018-05-16 14:51] jasonjoh opened #228 "Validate Node tutorial for REST API"
Per comment in LiveFyre on https://docs.microsoft.com/en-us/outlook/rest/node-tutorial:

[2018-05-16 15:38] jasonjoh commented on #228
RE: `getTokenFromCode`: Good catch! I had this in [the finished sample](https://github.com/jasonjoh/node-tutorial/blob/3e0f90619a9011f002cde59e51d2ef464f2e524a/routes/authorize.js#L16), but neglected to update it in the tutorial code.

[2018-05-16 16:49] #228 closed

[2018-05-17 22:39] binarykitchen opened #232 "What about the forward command?"
When I POST to i.E. https://outlook.office365.com/api/v2.0/me/messages/(getCallbackTokenAsync)/forward I am getting a 403 error saying "The api you are trying to access does not support item scoped OAuth."

It is missing for the ReadWriteMailbox permission?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5da3c535-6299-8

[2018-05-18 11:15] MichaelWhite63 opened #234 "Using Internal Exchange Server"
I followed this page and was able to create a Node server to read mail from an office 365 account.
I also have an internal Exchange account that I would like to read from. To do this I went into the Application Registration Portal and created a new application for an internal Exchange e-mail address.  I updated the .env file with the new access credentials.  Next, I re-ran the same server code.  T

[2018-05-18 15:32] jasonjoh commented on #234
@MichaelWhite63: Generally, you cannot use the Microsoft Graph to access on-premises Exchange servers. There is preview support for a very specific setup if you're on-premises Exchange servers are Exchange 2016 and you have a hybrid deployment with Office 365. You can find the details here:

https://developer.microsoft.com/en-us/graph/docs/concepts/hybrid_rest_support

[2018-05-18 15:40] MichaelWhite63 commented on #234
Jason,

Thank you for your response. The version of on-premise Exchange that my Node server needs to communicate with is Exchange 2013 CU19.

Can you direct me to a page that contains instructions on how to build an API to read from an Inbox on that version of Exchange.

Michael White

[2018-05-18 16:40] jasonjoh commented on #234
Exchange 2013 is accessible via Exchange Web Services (EWS). You can find those docs here: https://msdn.microsoft.com/en-us/library/office/dd877012(v=exchg.150).aspx

[2018-05-18 16:40] #234 closed

[2018-05-19 00:48] lindalu-MSFT commented on #232
@Reezaali Can we get a writer to looking into improving this documentation so that it addresses the question?

[2018-05-19 14:02] MichaelWhite63 commented on #234
Jason,

Do you have a Javascript example that I could use in Node.js?

Michael

On Fri, May 18, 2018 at 12:40 PM, Jason Johnston <notifications@github.com>
wrote:

[2018-05-21 13:16] jasonjoh commented on #234
No sorry, I haven't worked with EWS in years.

[2018-05-22 17:20] Namiqismayil opened #237 "Office365 “addFileAttachmentAsync” error when doing multiple requests"
0
down vote
favorite

I am experience issue with addFileAttachmentAsync. It works fine when add single attachment or inline image. But I need to add multiple attachments and multiple embedded images. Here are things I tried:
Just adding an single attachment - works
Just adding an single inline image - works
Adding an image and an attachment - works but it is slow
Multiple attachments and inline im

[2018-05-22 19:49] jasonjoh commented on #237
@Namiqismayil: Thanks for your question! You might want to post this on Stack Overflow with the tag `outlook-web-addins` to get more eyes on it.

[2018-05-23 11:30] MarkyDeParky opened #238 "Need documentation about command rendering in webclient."
I'm missing documentation about how the commands are presented in Outlook on the web for Office 365 and Outlook.com. There's no ribbon in that context and a ribbon button is therefor rendered differently.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 4f7445e8-6fd2-594c-3236-137f0ad85d37
* Version Indep

[2018-05-24 22:18] chairmanmow opened #241 "Code samples?"
This is a great document if you want to see pictures of the plugins that MS built for its partners, but as someone trying to develop a plugin themselves the referenced .sketch file isn't useful as it requires a proprietary app to open.

If you're so opinionated, Why not supply some boilerplate HTML, CSS some recommended selector values and a means for detecting whether the app is running inside of

[2018-05-24 23:05] uythoang opened #242 "Wrong folder for hbs files"
In step #5 of the Calendar API and Contacts API instructions, the folder should be ./views/ for the hbs files.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b47c58-f96e-dca0-6ae6-0e22bda41a07
* Version Independent ID: 760e409d-5f01-7bf2-0c8e-a05e75afa711
* Content: [How to use Outlook REST APIs in a Node.js app](htt

[2018-05-25 12:14] jasonjoh commented on #242
Great catch, thank you! I'll get this fixed ASAP.

[2018-05-25 15:30] wengera opened #244 "Login without User physically entering credentials through Application Portal?"
I am trying to make a web application that periodically pulls my emails and displays them in a table but I don't want to have to sit down and type in the account credentials and reload the page every time the authentication token expires. Is there a way I can store the credentials in my application and just have my application auto-login whenever the token expires?

---
#### Document Details

⚠ *D

[2018-05-25 15:31] #242 closed

[2018-05-25 15:36] jasonjoh commented on #244
@wengera This tutorial actually does that. It uses the `Microsoft.Identity.Client`, which automatically caches the refresh token. Every time a Graph call is made, the client is invoked and if the access token has expired, it refreshes it for you.

Now, the sample uses a session-based token cache which isn't a very permanent storage solution. You could replace this with say a database-backed cache

[2018-05-30 05:37] searlin opened #245 "Adaptive Card format doesn't support Office365 Pro Plus"
Only the outlook on the web can accept the Adaptive Card format, Office365 Pro Plus(version 1708) doesn't support it. The Office365 Pro Plus can only support original json format.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b236b39e-5c3a-06bd-04fe-9b4f13ad5789
* Version Independent ID: b38cf95f-2407-14b9-e75a-9cc162

[2018-05-30 12:06] jasonjoh commented on #241
@chairmanmow Framework7 does this and provides CSS to make your add-ins look native on iOS or Android. It's not a Microsoft product, but it might be helpful in your case.

[2018-05-31 03:54] searlin commented on #245
@jasonjoh thanks for your quick response, for now, i think I will use old json format, after Adaptive card is supported in Office365 Pro Plus, then I will migrate to Adaptive card, do you have any idea when it will be supported?

[2018-05-31 04:15] baykingsea opened #246 "How to serarch an dshow the body of the messages?"
I am trying to search the messages by string e.g. "Delta"   and then show the body of the message as well.  But putting  search variable in $messageQueryParams doesn't execute.  Also I am unable to show the body of the message even though I am calling it in select

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e64f07f

[2018-05-31 12:51] jasonjoh commented on #246
Please post this question on Stack Overflow with the `microsoftgraph` tag.

[2018-05-31 12:51] #246 closed

[2018-05-31 13:02] jasonjoh commented on #245
Well, Pro Plus **does** support it today, though it's only in the monthly release channel. If you really wanted it soon, you could [switch to the Monthly release channel ](https://docs.microsoft.com/en-us/DeployOffice/overview-of-update-channels-for-office-365-proplus#configure-the-update-channel-to-be-used-by-office-365-proplus)(assuming you have the required admin access to your tenant).

The wa

[2018-05-31 14:51] #245 closed

[2018-05-31 14:53] #244 closed

[2018-06-01 00:44] searlin commented on #245
Fully understand, thanks for your explanation!

[2018-06-04 12:59] searlin opened #250 "Can we render/transform html formatted text in actionable message via email"
Suppose I have a html formatted text, is there an easy way that I can render/transfer that text  in the actionable email? I know the text supports Markdown, but the functions are very limited and it's hard to map the html format to Markdown syntax.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b236b39e-5c3a-06bd-04fe-

[2018-06-04 13:10] jasonjoh commented on #250
No, per the documentation:

If you have a scenario where Markdown isn't sufficient, please explain what you're trying to do. I can't promise that we would change anything, but I can at least provide that information back to the feature owners.

[2018-06-04 13:29] searlin commented on #250
Ok, so currently we want display the actionable message in the supported email client, and display the original email in unsupported client, it works perfectly by using the "hideOriginalBody" property, the problem is that most of our original email will have rich text formatted message(like different sizes, different **colors**, line break, etc), so i it will be very strange if it's plain text.

[2018-06-04 18:09] jasonjoh commented on #250
I see. So if I'm understanding you, you're concerned with the HTML body of the email itself? You can use HTML there fine, the actionable message card is separate from that.

Within the card itself you can't insert HTML.

[2018-06-05 12:42] searlin commented on #250
Thanks for your information jasonjoh, the end goal is to display the same rich text as the normal email, I parsed the html tags using HtmlAgilityPack and replaced some of them with Markdown, so basically, I have a workaround now.

[2018-06-05 12:58] pickartzu opened #252 "Signature Validation of the Exchange identity token"
Me and others asked some question regarding this point earlier but these questions are now vanished:
=== old BEGIN ===
The validation of the ExchangeId token is done with the help of:
currentCertificate = AuthMetadata.GetSigningCertificate(new Uri(authMetadataEndpoint));
This seems to me verifying the token by itself, because the public key using for verifying is extracted from a URL within the to

[2018-06-05 15:43] #250 closed

[2018-06-05 16:15] huchenhai opened #253 "Regarding using session"
Hi I'm writing an application uses Spring boot as Restful API, the session might not available at the backend. Is there another way to store token instead of using session? Eg database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b06a747-de4f-325a-c543-13c6bdd60da6
* Version Independent ID: 8d4f3c2a-2661-5b9c-7a0f-

[2018-06-05 16:18] jasonjoh commented on #253
Yes, you can store the token in just about any way you want. The key thing is to make sure it's a secure storage.

[2018-06-05 16:18] #253 closed

[2018-06-06 20:43] huchenhai commented on #253
Hi, could you please explain what the data table looks like? Should have separate table to store state, nonce and token ?

[2018-06-07 17:34] jasonjoh commented on #253
There's no real required data format here. What I would do is store only the refresh token (**not the access token** ) and the user's unique ID from their ID token in long-term storage. That way you can always look up the user's refresh token and use that to obtain a fresh access token.

Access tokens are only valid for an hour so I wouldn't bother storing them in a database (and since they're usa

[2018-06-08 11:04] OfficeGSX opened #254 "[LOC] Invalid link in a article"
There is a invalid link which is redirecting to a non existing GH article.

**Repro steps**:
1. Go to [https://docs.microsoft.com/en-us/outlook/add-ins/get-attachments-of-an-outlook-item](https://docs.microsoft.com/en-us/outlook/add-ins/get-attachments-of-an-outlook-item)
2. Search for "Outlook-Power-Hour_Code-Samples:"
3. Click the link

GH article:
https://github.com/OfficeDev/outlook-dev-docs/b

[2018-06-08 13:35] huchenhai commented on #253
thank you so much

On Thu, Jun 7, 2018 at 1:34 PM, Jason Johnston <notifications@github.com>
wrote:

[2018-06-08 13:54] jasonjoh commented on #252
@pickartzu First, you should always combine the amURL with the user's mailbox GUID to serve as the unique ID. That way, if you did get an amURL from a different domain (other than the user's true domain) you would treat it as a new user and not give access to your existing user's data.

However, you can also add an additional validation to require that the domain of the amURL value match the Autod

[2018-06-08 14:05] jasonjoh commented on #254
Thanks @OfficeGSX, fix in progress.

[2018-06-08 14:07] #254 closed

[2018-06-11 10:16] jordevorstenbosch opened #257 "Cannot sideload add-in"
By the time you get to the Test the Button outlook no longer accepts the add-in. It says "Installed" but doesn't actually add the add-in, once you close the store and get back to the main window it's not there, when you reopen the store it's no longer under custom add-ins. I suspect there's an error somewhere that doesn't get thrown because outlook doesn't give any errors/warnings. Not sure if the

[2018-06-11 16:38] jasonjoh commented on #257
@jordevorstenbosch The add-in is working for me in both Outlook on Windows and Outlook on the web. I'll go through the tutorial steps to recreate it to see if maybe I left out an important step somewhere :).

In the meantime, a few things for you to check:

- What versions of Outlook are you using? For non-web versions, can you get the build number? You can find this in Windows Outlook in File->Of

[2018-06-11 16:47] jasonjoh commented on #257
Also can you confirm the version of yo and generator-office you're using?

[2018-06-11 17:28] jasonjoh commented on #257
@jordevorstenbosch I just recreated the add-in following the steps up through "Test the button" and it worked for me. I'm going to assign to you to check the things I listed above. Also, it might be helpful for me to see your code, can you send me a link to your repository?

[2018-06-12 07:23] jordevorstenbosch commented on #257
@jasonjoh
Version for non-web is version 1805 build 9930.2087 it doesn't work in the online version of office365 either though.
It does load on localhost:3000. (I installed the certificate locally)
yo version 2.0.2
generator-office 1.1.13

Repo: https://github.com/jordevorstenbosch/outlook-addin-test

[2018-06-12 11:41] garimak29 opened #258 "Unable to view Inbox"
I am getting below errors after signing in.

Error: C:\Users\garkumar\Node-work\mails1\node-tutorial\views\error.hbs: Can't set headers after they are sent.
    at validateHeader (_http_outgoing.js:494:11)
    at ServerResponse.setHeader (_http_outgoing.js:501:3)
    at ServerResponse.header (C:\Users\garkumar\Node-work\mails1\node-tutorial\node_modules\express\lib\response.js:767:10)
    at Serve

[2018-06-12 12:34] jordevorstenbosch commented on #257
@jasonjoh I don't have the rights to assign it to you, so someone who does will have to

[2018-06-12 14:14] jasonjoh commented on #257
Found the problem. You've got this in your manifest:

[code]

The value of this element is invalid and causes the add-in to silently fail loading. It looks like you missed the step in [the tutorial](https://docs.microsoft.com/outlook/add-ins/addin-tutorial#test-the-generated-add-in):

I logged this as an issue with the `yo office` generator as well: https://github.com/OfficeDev/generator-office/is

[2018-06-12 14:35] jordevorstenbosch commented on #257
@jasonjoh Seems I forgot that step, this does allow the app to be sideloaded. I am now back to the original issue I was having. The add-in loads, but it doesn't go past the 'run >' button, so I don't get to the part where you have to put in the login for github. I did end up going through the entire tutorial by copying all the code with the 'copy' button and then pasting it in the appropriate file

[2018-06-12 14:36] jasonjoh commented on #258
I'm sorry to hear that. It looks like you're following along with the [Node tutorial](https://docs.microsoft.com/en-us/outlook/rest/node-tutorial). Can you try the finished sample I have posted at https://github.com/jasonjoh/node-tutorial and see if you get the same error? I've tried to force error conditions and cannot reproduce what you're seeing.

If the finished sample works for you, try compa

[2018-06-12 14:37] #257 closed

[2018-06-12 19:02] Namiqismayil commented on #237
got the answer:
https://stackoverflow.com/questions/50473233/office365-addfileattachmentasync-error-when-doing-multiple-requests

[2018-06-12 19:02] #237 closed

[2018-06-13 12:23] jasonkatz424 opened #259 "How does one deploy the finished app via centralized deployment"
Once we create our first Outlook add-in following these steps, how do we actually deploy it to our organization?  Did not work through Centralized Deployment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15be7148-d1e8-b58b-b026-9f072efb638a
* Version Independent ID: 53a5d00c-d82b-6536-2e80-3e2a3452879a
* Content: [Bu

[2018-06-13 16:50] peterremote1980 opened #260 "yo office will put every files on level up to the parent folder"
yo office will put every files on level up to the parent folder. i am using node v8.11.2. Is is a bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15be7148-d1e8-b58b-b026-9f072efb638a
* Version Independent ID: 53a5d00c-d82b-6536-2e80-3e2a3452879a
* Content: [Build an Outlook add-in](https://docs.microsoft.com/en-us/

[2018-06-14 06:16] garimak29 commented on #258
The tried the finished sample, now I am able to see the inbox without any errors but it is not fetching the username and not the emails either.

[2018-06-14 13:39] jasonjoh commented on #258
Can you explain more detail what's not working? Also, are you logging in with an Outlook.com or an Office 365 account?

[2018-06-15 09:55] garimak29 commented on #258
I implemented your finished sample with the steps you have provided in [https://github.com/jasonjoh/node-tutorial]. After signing in my OUTLOOK account in place of username I'm getting 'undefined' (in debug as well), when I go to Inbox to view the emails fetched, there also the value is coming "null".

[2018-06-15 13:18] jasonjoh commented on #258
Ok. Let's verify that your account works with the Microsoft Graph. Can you go to the [Graph Explorer](https://developer.microsoft.com/graph/graph-explorer), login with the same account, and run the default query using the **Run Query** button? What is the response?

[2018-06-15 15:39] jasonjoh commented on #260
Please file this over on the [generator-office](https://github.com/OfficeDev/generator-office/issues) repository.

[2018-06-15 15:39] #260 closed

[2018-06-15 15:40] jasonjoh commented on #259
@jasonkatz424 the publication options for add-ins are all documented here: https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish?context=outlook/context

[2018-06-15 17:59] bplus commented on #238
May I ask how this is triaged?  I have the same question.

[2018-06-15 18:09] parsonsk opened #262 "app.js is missing"
This page mentions to open app.js and replace the contents, but no app.js was generated by "yo office".  Generated files were:
  create package.json
   create my-office-add-in-manifest.xml
   create app.css
   create assets/icon-16.png
   create assets/icon-32.png
   create assets/icon-80.png
   create assets/logo-filled.png
   create certs/ca.crt
   create certs/server.crt
   create certs/server.

[2018-06-18 06:55] garimak29 commented on #258
I performed below steps :
1. I clicked on the Graph Explorer Link provided by you.
2. Signed in to my outlook account.
3. Agreed to the permissions.
4. Clicked on Run Query button.

Please find the response I'm getting, below :
{
    "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#users/$entity",
    "id": "e9754b849d7066c8",
    "userPrincipalName": "garima.kumar29@outlook.com",

[2018-06-18 07:18] OfficeGSX opened #263 "[LOC] Invalid link in an article"
**Current:** link redirect to 404 error page

**Expected:** link should redirect to valid page or be removed from the article

**Repro steps:**
1. go to https://docs.microsoft.com/en-us/outlook/payments/partner-dashboard (or GH: https://github.com/OfficeDev/outlook-dev-docs/blob/live/docs/payments/partner-dashboard.md)
2. search for "Microsoft Graph" link (Next steps section)
3. click the link -->

[2018-06-18 13:31] jasonjoh commented on #258
Ok. This could either be normal or a problem with your specific account.

- Go to https://account.microsoft.com/profile/ and sign in. Do you have a name listed there? Fields will be null if they have no value set there, and things like `officeLocation` just don't exist on personal accounts.
- You said the listing of mail was coming back null as well. If you run the query in Graph Explorer for `htt

[2018-06-18 13:37] jasonjoh commented on #262
Looks like the yo office folks changed the structure of the add-in they generate. @lindalu-MSFT can you work with @ElizabethSamuel-MSFT or @dmahugh to figure out how the quick start needs to change to fit the new version of yo office?

[2018-06-20 09:04] garimak29 commented on #258
You were right, when i signed in  [https://graph.microsoft.com/v1.0/me/mailfolders/inbox/messages](url)  my name was missing and as soon as I added that it fetched all the required details.
Thanks a ton !!  👍

[2018-06-20 14:53] #258 closed

[2018-06-20 16:59] gregory commented on #144
We are trying to import the entire inbox by using the batch endpoint of the graph service.
Out of 20 requests batched together,  where each retrieve 100 messages, the response consistently
return with 4 with ErrorTooManyObjectsOpened.

What am i doing wrong?

[2018-06-21 20:34] jasonjoh commented on #263
Looks like this is a bug in the Graph site actually. The link *should* be valid. The problem is I leave out the `en-us` segment of the link (or substitute another language code there). Microsoft sites are supposed to be able to detect your preferred language and insert the code automatically.

I *could* fix this by adding `en-us` but that would break language detection for non-US folks. I'm report

[2018-06-22 12:59] #263 closed

[2018-06-22 13:01] #259 closed

[2018-06-25 20:40] choatehall opened #272 "Don't work"
I followed this document step by step. I have outlook 2016 desktop and outlook online.  I can see outlook addin icon shows up, but when I clicked on the icon an very helpful error message shows up:
Add-in error: something went wrong and we couldn't start this add-in. Please try again later or contact your system administrator.. [RETRY] button....

---
#### Document Details

⚠ *Do not edit this sec

[2018-06-25 20:43] Reezaali commented on #272
@choatehall were you using the VS or any editor walkthrough? Thanks!

[2018-06-26 00:55] ElizabethSamuel-MSFT commented on #272
@choatehall I tried the yo office instructions and opened the add-in using Outlook desktop (followed the sideload instructions for that platform). One thing I noticed is that, in the "Update the code" section, the file should be "index.js" instead of "app.js". Could you try that? Any other details you can provide will be great. Thanks.

[2018-06-26 13:53] choatehall commented on #272
I am using visual studio 2017 + outlook 2016 client.

[2018-06-26 23:46] ElizabethSamuel-MSFT commented on #272
@choatehall thanks for the update. Did you already have an O365 subscription? Thanks.

[2018-06-27 13:08] tit1 commented on #144
I've been performing a batch action, creating 10 email messages and receive 2 back with the same error as @gregory . Its interesting to note that there is no retire after header.

[2018-06-27 19:07] choatehall commented on #272
I do have O365. thanks

[2018-06-27 21:09] ElizabethSamuel-MSFT commented on #272
Thanks for your quick answers. Did you try this out in the Outlook on the web? Thanks.

[2018-06-28 19:49] choatehall commented on #272
I tried outlook on the web. Doesn't work either.

Actually I am a beginner of outlook add-in.  I would like to create add-in for our meeting request.  Is there any documents (completed, step-by-step and works) that I can referring to? Any online course or lab?  Thank you.

[2018-06-29 11:20] pickartzu opened #275 "ExchangeId Identity Token: Firewall rules for the meta data server"
For the verification of the Exchange identity token, we have to implement firewall rules in order to access the server of the URL from the meta data endpoint ("appctx".” amurl”).
Can you give us a hint which server can be possible in order to implement the firewall rules for them?
In a first step it would be helpful to get an answer for this question at least for O365 domains and outlook.com.

[2018-06-29 15:56] ElizabethSamuel-MSFT commented on #272
Consider trying this version of the same tutorial - https://docs.microsoft.com/en-us/outlook/add-ins/quick-start?tabs=visual-studio-code - or looking at the other tutorial - https://docs.microsoft.com/en-us/outlook/add-ins/addin-tutorial. There are also a number of Outlook add-in samples on GitHub that you can take a look at: https://github.com/OfficeDev?utf8=%E2%9C%93&q=outlook-add-in&type=&langu

[2018-06-29 16:09] jasonjoh commented on #275
@lindalu-MSFT @ElizabethSamuel-MSFT

[2018-06-29 16:11] jasonjoh commented on #252
@ElizabethSamuel-MSFT FYI

As I recall the Autodiscover-match strategy was only for on-premises Exchange servers. Office 365 should be a static list, though I don't know what they are. I apologize for the lack of specificity, I'm not on the add-ins team anymore :).

[2018-06-29 16:14] jasonjoh commented on #272
FYI: the original error you are reporting typically means Outlook cannot load the taskpane page. The taskpane is just a webpage, so you should verify that you can load it from the same machine by opening it in a browser.

[2018-06-29 16:32] pickartzu commented on #252
Thanks. The static list would be helpful also for Issue #275.
Any idea who can provide it ?

[2018-07-01 00:15] Itrel opened #278 "Sorry, we couldn't load the app because your browser version is not supported"
FYI,

When I first attempted to run the example using Visual Studio, I got this error when clicking the Add-in.
Sorry, we couldn't load the app because your browser version is not supported …

After some research I found discussions about  the html &lt;meta http-equiv …/&gt; . So I removed that line from MessageRead.html and redeployed the Add-in. It worked.

Then I added the original &lt;meta htt

[2018-07-02 15:42] Itrel commented on #278
Opening Outlook at work resulted in the same "ADD-IN ERROR"
Sorry, we can't load the add-in. Please make sure you have network and/or Internet connectivity. Click "Retry" once you're back online.

But I am online. I'll recompile and deploy the add-in here at work and see what happens.

[2018-07-02 18:49] MattODW opened #281 "Modifying an item in a shared mailbox, in another user's mailbox, in an archive mailbox, or in a public folder."
Is item #6 below correct? It states that it is not possible to manipulate an item in another users mailbox by Outlook add-in.  But is seems that it is possible to manipulate items in another user's mail folder by API here:  https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/user_list_messages
Quote from text on this page:

Mailbox items available to add-ins
Outlook Add-ins are

[2018-07-04 08:12] hardikjee opened #282 "Does REST API work with workspace email id which is integrated with outlook?"
Hi,

I want inbox mail list from id abc@example.com which is integrated with Outlook.

I just did the above Outlook REST API integration and It works fine with my outlook email id test@outlook.com. My question is  one of my client has integrated his workspace id let say **abc@example.com** with outlook. Now will this workspace email id work with above developed Outlook REST API?

[2018-07-04 12:36] OfficeGSX opened #283 "[LOC] Broken link in an article"
There is a link which redirects to a non existing GH article

**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/outlook/add-ins/compose-scenario
2. Search for "Outlook-Power-Hour_Code-Samples"
3. Click on the link

**Actual results**:
Link redirects to a non existing GH article
**Expected results**:
Link should redirect to an existing GH article

**GH Article**:
https://github.com/OfficeD

[2018-07-05 12:20] jasonjoh commented on #282
The requirement is that `abc@example.com` be either an Office 365 mailbox or an Outlook.com mailbox. If it is one of those, then it will work. If it is hosted by some other system, it will not.

[2018-07-05 12:20] #282 closed

[2018-07-05 16:06] ElizabethSamuel-MSFT commented on #283
@OfficeGSX Thanks for raising this issue. The fix should go live soon.

[2018-07-05 16:06] #283 closed

[2018-07-05 16:16] ElizabethSamuel-MSFT commented on #272
@choatehall : Did @jasonjoh's comment help you? Thanks.

[2018-07-05 16:24] ElizabethSamuel-MSFT commented on #262
@parsonsk, we recently updated the quick start (https://github.com/OfficeDev/outlook-dev-docs/pull/269). Can you give it another try? If that does not help, please re-open this issue or create a new one with details about what you're facing. Thanks.

[2018-07-05 16:24] #262 closed

[2018-07-05 19:55] choatehall commented on #272
It works... After I tried the node.js version (non visual studio). so thank you.

We also hook it up angularJs.

[2018-07-05 20:57] ElizabethSamuel-MSFT commented on #272
We'll continue investigating the issue with the VS version but I'm glad you're now unblocked. Thanks for raising this.

[2018-07-06 05:45] hardikjee commented on #282
Thank you so much for your valuable response.

[2018-07-06 18:09] choatehall opened #288 "VS 2017 is sometimes working.."
I finally made the "Visual Studio 2017" version working.  However, it only work for office365 not outlook2016 client.  The error message for that is: "This add-in couldn't be started. Please try it again later..".   Then I changed to a new account, the add-in don't even appear. I went back to the original account, the add-in completely disappeared.   I checked the "manage add-in" on my outlook set

[2018-07-09 11:08] OfficeGSX opened #289 "[LOC] invalid link in an article"
There is a non functional link in the article.

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/outlook/add-ins/manifests
2. Search for "Design guidelines for Office Add-ins"
3. Click on the link

**Actual results**:
Link redirects to a non existing page
**Expected results**:
Link redirects to an existing page.

**GH Article**:
https://github.com/OfficeDev/outlook-dev-docs/blob/live/doc

[2018-07-09 11:12] OfficeGSX opened #290 "[LOC] invalid link in an article"
There is a non functional link in the article.

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/outlook/add-ins/addin-tutorial
2. Search for "UX design pattern templates for Office Add-ins."
3. Click on the link

**Actual results**:
Link redirects to a non existing page
**Expected results**:
Link redirects to an existing page.

**GH Article**:
https://github.com/OfficeDev/outlook-dev-do

[2018-07-10 11:45] murtaaz763 commented on #278
Spinner on Visual Studio keeps spinning. It doesn't proceed. What can be done on to see whether it is really working or not?

[2018-07-10 19:55] lindalu-MSFT commented on #290
@OfficeGSX Thanks for the catch! I fixed this. Closing.

[2018-07-10 19:55] #290 closed

[2018-07-10 20:00] lindalu-MSFT commented on #289
@OfficeGSX found the typo that broke the link and fixed. THANKS. Closing.

[2018-07-10 20:00] #289 closed

[2018-07-10 20:09] lindalu-MSFT commented on #275
@jasonjoh  I assigned to two of the writers on the Add-ins team. Do you know what we need to change in the topic? If you can provide any guidance, it would be greatly appreciated. Thanks in advance.

[2018-07-10 20:09] lindalu-MSFT commented on #275
@ElizabethSamuel-MSFT @AlexJerabek I assigned this to you to update the topic.

[2018-07-10 20:32] jasonjoh commented on #275
@lindalu-MSFT No sorry, I have no idea. I assume all that's needed are the servers for Office 365 (assuming they are fixed endpoints). You might start with @wamaina to see what info we can provide here.

[2018-07-10 22:43] ElizabethSamuel-MSFT commented on #289
https://github.com/OfficeDev/outlook-dev-docs/pull/293

[2018-07-10 22:43] ElizabethSamuel-MSFT commented on #290
Fixed in https://github.com/OfficeDev/outlook-dev-docs/pull/293

[2018-07-11 01:21] lindalu-MSFT commented on #275
I unassigned @AlexJerabek.  @ElizabethSamuel-MSFT to research technical details to follow-up with this. THANKS. :)

[2018-07-11 09:45] yogeshkrishnani opened #294 "Getting error when generating token from code"
Error [ERR_HTTP_HEADERS_SENT]: /Node/outlook-mail/node-tutorial/views/error.hbs: Cannot set headers after they are sent to the client

function getTokenFromCode is throwing above error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b47c58-f96e-dca0-6ae6-0e22bda41a07
* Version Independent ID: 760e409d-5f01-7bf2-0c8e-

[2018-07-11 10:34] OfficeGSX opened #295 "[LOC] Invalid link in an article"
There is an invalid link redirecting to a non exisitng article

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/outlook/add-ins/manifests
2. Search for "Understanding Outlook Add-in permissions"
3. Click on the link

**Actual results:**
Link redirects to a non exising page
**Expected results:**
Link redirects to an existing page

**GH article:**
https://github.com/OfficeDev/outlook-dev-

[2018-07-11 10:43] OfficeGSX opened #296 "[LOC] Invalid link in an article"
There is an invalid link redirecting to a non exisitng article

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/outlook/add-ins/addin-tutorial
2. Search for "UX design pattern templates for Office Add-ins"
3. Click on the link

**Actual results:**
Link redirects to a non exising page
**Expected results:**
Link redirects to an existing page

**GH article:**
https://github.com/OfficeDev/o

[2018-07-12 05:44] mayankdonbosco opened #299 "401 error"
I am getting 401 error if i try to use it for my microsoft id.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15be7148-d1e8-b58b-b026-9f072efb638a
* Version Independent ID: 53a5d00c-d82b-6536-2e80-3e2a3452879a
* Content: [Build an Outlook Add-in](https://docs.microsoft.com/en-us/outlook/add-ins/quick-start?tabs=visual-

[2018-07-12 09:16] searlin opened #300 "Email sent to group doesn't support Actionable Message in Office 365 ProPlus client"
If the Actionable Email is sent to an Office 365 group, the Actionable Message doesn't appear in Office 365 ProPlus(all versions), only appears in Outlook on the web.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e36738b7-29cb-00c2-30e3-6065addee4c1
* Version Independent ID: 57a934d1-7e50-a144-d461-fc55175acfb8
* Cont

[2018-07-12 13:36] jasonjoh commented on #300
Let me check on this. When you say "Office 365 ProPlus", I assume you mean the Click-To-Run version that is installed from the Office 365 website? Can you add a screenshot of your **File**->**Office Account** page in Outlook?

Also, are you using the [adaptive card format](https://docs.microsoft.com/en-us/outlook/actionable-messages/adaptive-card) or the [MessageCard format](https://docs.microsoft

[2018-07-12 14:26] searlin commented on #300
You're right, my Outlook version is Monthly Channel with latest update, I can't access the computer that installed the outlook right now.
Both Adpative card and MessageCard can't be displayed if the Actionable Email is send to a group, but can be displayed if sent to a user.

[2018-07-12 15:22] jasonjoh commented on #300
Thanks! I tried this on my side. I've got a newer build of Outlook (yay dogfood!), and for me, the MessageCard format is working in both OWA and Outlook when emailed to a group. Adaptive is not working in either OWA or Outlook when sent to a group.

@tony-zhu do you have any insight here?

[2018-07-12 15:23] jasonjoh commented on #300
Oh I should add though: In Outlook, the card does NOT show up in the reading pane for the message sent to the group, I have to double-click to open the message in a separate window to see the card.

[2018-07-12 15:32] jasonjoh commented on #281
Yes, it's correct. What that doc says is that add-ins **do not activate** when you're viewing an item in a shared mailbox, etc. It's not making any assertion about your ability to manipulate items with Microsoft Graph :)

[2018-07-13 05:32] searlin commented on #300
Oh, that's a little tricky, thanks for your finding, it's much better than couldn't display.

[2018-07-13 09:03] StephanieNadia opened #307 "The add-in are greyed out on Desktop-Outlook"
Hello,

Thank you for the documentation.

I followed all the steps of the documentation but I can't do my test because the 2 add-in "Insert Gist" and "Insert default Gist" are greyed out on Desktop-Outlook.
They just work on the web version of Outllook.

How can I do to fix this mistake?

[2018-07-13 14:24] jasonjoh commented on #307
Since it works on the web, my guess is it's not a problem with the add-in, but a problem with your desktop Outlook. One blocker for add-ins is the use of custom forms as a default form. You could eliminate this as the cause fairly quickly by installing the Giphy add-in from the store and seeing if it is greyed out when you compose a new message.

[2018-07-13 20:46] lindalu-MSFT commented on #307
Thanks @jasonjoh! @StephanieNadia, did you try Jason's suggestion?

[2018-07-13 21:54] lindalu-MSFT commented on #299
@nokafor Is this something you can assist with? If you go to the topic, you'll see there are a few posts on the Feedback tool where people are having issues like this. It might have something to do with their installations. Can you have a look and let me know if you think we need to improve some part of our documentation to avoid getting these questions? Here's a link to the topic: [Build your fir

[2018-07-13 22:50] #296 closed

[2018-07-13 22:53] lindalu-MSFT commented on #252
@ElizabethSamuel-MSFT @AlexJerabek Can we update the documentation with the information that Jason provided in this issue? Thanks, lindalu

[2018-07-16 07:55] StephanieNadia commented on #307
Hello,
Thank you @jasonjoh for your answer. Sorry for my late answer.

I tried your suggestion but it does not work too. The add-in Giphy is also greyed out.

Thank you.

[2018-07-16 09:46] StephanieNadia commented on #307
Hello,
I found a tip. The add-in are not greyed out when you save the message you are composing in the draft, and open it after.
It seems that it doesn't work when the message is in a new Desktop outlook frame.

Thank you.

[2018-07-16 12:14] jasonjoh commented on #307
Ah ok. I seem to recall there was a bug in Outlook that caused this that was fixed. You may just need to update your Outlook client.

[2018-07-16 12:33] StephanieNadia commented on #307
Hello,
My version of Outlook is: " Microsoft Outlook 2016 MSO (16.0.8431.2110) 32 bits".

Should I have to update?

Thank you.

[2018-07-16 12:49] jasonjoh commented on #307
I'm not real familiar with the MSO versions of Office, so I'm not sure if that's the "latest" or not. If Windows Update doesn't show any updates for Office (assuming you have the option turned on to get updates for Microsoft products), then you're probably OK on the version.

You might check this SO post: https://stackoverflow.com/questions/47308056/message-compose-outlook-add-in-is-not-activated-

[2018-07-16 13:35] StephanieNadia commented on #307
Thank you for your answer.

I will check that post.

[2018-07-16 15:22] jasonjoh commented on #300
I discussed this with the devs, and the problem is that sending actionable messages to groups via email isn't supported in the current implementation. There is some extra work that would have to be done to enable this scenario fully. And yes, that's not in the documentation, I'll fix that shortly.

Currently the only way to get a supported, working actionable message scenario with groups is to [us

[2018-07-17 01:15] searlin commented on #300
Got it, thanks @jasonjoh, I think it's the right way for us to keep using actionable message via email with groups as long as the the actionable email sent to group can  be displayed in a separate window.

[2018-07-17 15:52] ediAm opened #312 "Save file from Outlook Add-in (rich client) to a folder on Mac"
I write an outlook add-in in js (in Visual Studio) that can encrypt and decrypt files of any kind.
When a file is being encrypted or decrypted it downloads / saves on the computer.

To do so i used the FileSaver.js from here: "https://github.com/eligrey/FileSaver.js" and it works perfectly from any browser and in windows rich client but doesn't work on Mac rich client.

Does anybody know a way (th

[2018-07-17 16:49] #300 closed

[2018-07-18 07:50] OfficeGSX opened #314 "[LOC] Invalid link in an article"
There is a link redirecting to 404 error

**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/outlook/actionable-messages/invoke-add-in-from-actionable-message
2. Search for "add-in's manifest"
3. Click on the link

**Actual results**:
Link redirects to a 404 error
**Expected results**:
Link redirects to a valid article

**GH Article**
https://github.com/OfficeDev/outlook-dev-docs/blob/live

[2018-07-18 17:10] jrajasekera opened #316 "Is there a way to sideload an Outlook add-in for IOS devices?"
I am developing an add-in for Outlook and would like for it to be available on the iOS Outlook App. In order to do this, I need to be able to sideload and debug my application on an iOS device. I haven't been able to find any documentation on how to do this, specifically for the Outlook application. Is it possible to do?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-07-19 05:17] shubhamgujarathi07 opened #317 "Ran into a small Error!"
A nice tutorial but i have ran into an issue! I have followed till 'Exchanging the code for a token'. Just before that part, when the documentation says i should save and run the app,i get this error:

**Source File: C:\Users\Administrator\source\repos\dotnet-tutorial1\dotnet-tutorial1\App_Start\Startup.cs    Line: 29**
Contents of the File:
[code]
Really want to do this! Hope i get a reply soon!

[2018-07-19 12:12] jasonjoh commented on #317
Since you closed it, I'm guessing you figured it out? Mind sharing what was the problem?

[2018-07-20 05:25] shubhamgujarathi07 commented on #317
Hello @jasonjoh , thanks for the concern!
It was my fault, i had saved the app scopes in a different file outside the project.

But i am stuck in using the api now, The sample to read mail and contacts is great! I want to know from where can i find ways to explore it. The office 365 API (MS Graph too) documentation has all GET calls, I don't think its the same way how this office dev tutorial has

[2018-07-20 14:03] jasonjoh commented on #317
The Graph SDK for .NET doesn't have a full reference, but it's patterned from the REST API endpoint itself. So your best bet is to look at the [Graph documentation](https://developer.microsoft.com/graph/docs/concepts/overview) to find the URL used for a particular call you want to make, then translate it into the SDK.

For example, the request you're already making to [list messages in the inbox](

[2018-07-20 14:03] #317 closed

[2018-07-20 19:08] jasonjoh commented on #294
I'm going to close this since it's bee a while. If you revisit this and are still having this issue, please reopen with the requested information.

[2018-07-20 19:08] #294 closed

[2018-07-23 04:07] shubhamgujarathi07 commented on #317
Ok! Will try it out @jasonjoh .
Thanks a lot again for the help!

[2018-07-25 16:28] amaisenovich opened #319 "Which "ExtensionPoint"s supports "SupportsPinning"?"
Hey team!

I can't find any clarifications about were "SupportsPinning" is applicable. If "SupportsPinning" is specifyed under "MessageReadCommandSurface" or "MessageComposeCommandSurface" the pin button will appear on the read or draft emails accordingly. Can you, please, clarify whether it make any diffrence for:

- AppointmentOrganizerCommandSurface
- AppointmentAttendeeCommandSurface
- Module

[2018-07-26 10:44] haayhappen commented on #272
Hey all,
had the same issue while walking through the PowerPoint Add in Tutorial for other editors.

[https://docs.microsoft.com/en-us/office/dev/add-ins/powerpoint/powerpoint-add-ins-get-started?tabs=visual-studio-code](url)

Point 4. in the tutorial misleads to create an app.js which is wrong.
--> Put your code into index.js instead.
Thanks to @ElizabethSamuel-MSFT for mentioning that too.

[2018-07-26 11:08] sonalinoolkar opened #320 "Actionable Message in Draft mode not working"
Hello,

I am trying to create draft email messages having Actionable Message card as content, using Graph Api Client.
However the card content is not visible in draft message.
It is only visible when the email is actually sent.

Is this scenario not supported. Please guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-07-26 17:23] lindalu-MSFT commented on #272
Thank you @haayhappen! @ElizabethSamuel-MSFT are you able to make the change in the topic and open a PR for this?

[2018-07-26 17:42] ElizabethSamuel-MSFT commented on #272
The PowerPoint issue has been addressed in PR https://github.com/OfficeDev/office-js-docs-pr/pull/259.

[2018-07-27 05:57] glittle opened #322 "Replace "initialize" with "onReady""
For the instructions above, I had to replace:

`Office.initialize = function (reason)`

with

` Office.onReady(function (reason)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15be7148-d1e8-b58b-b026-9f072efb638a
* Version Independent ID: 53a5d00c-d82b-6536-2e80-3e2a3452879a
* Content: [Build an Outlook Add-in](https:

[2018-07-27 12:48] erraji96 commented on #246
$getMessagesUrl = '/me/messages/' . $message_id;
$message = $graph->createRequest('GET', $getMessagesUrl)
         ->setReturnType(Model\Message::class)
         ->execute();
var_dump($message->getBody());

[2018-07-27 19:53] elegault opened #323 "Update for supported versions"
This should be edited to reflect that pinnable task panes are now supported in Outlook Online

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a1ad4b4-0fd1-b2e6-be0e-d300cf8336ed
* Version Independent ID: 8895d34e-490a-f836-7e39-2ccd6056d6fc
* Content: [Implement a pinnable taskpane in an Outlook Add-in](https://docs.mi

[2018-07-27 23:30] huyvo98 opened #324 "client credential authentication using certificate instead of secret string"
Hi,

Is there any documents about setting up client credential authentication using a certificate? I found a document but it is for apps that are registered to Azure Management Portal , not for apps that are registered on  Application Registration Portal.

Thanks,
Huy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ee

[2018-07-30 14:14] jasonjoh commented on #320
@sonalinoolkar I believe that this is expected behavior. However, I'll check with the dev team and clarify.

[2018-07-30 21:16] jasonjoh commented on #320
I just got confirmation that cards do not render in draft messages by design. You can preview cards in the Message Card Playground site or Adaptive Card Designer site, or you can simply send the card to yourself and view it in your inbox.

[2018-07-31 14:46] ediAm opened #325 "Attachment ID"
Hi,
I'm migrating my Add-in from EWS to REST API to support Gmail account on outlook users,
In the explanations it's written that 'item id' is a 'EWS-formatted ID' and it should be converted to 'REST-formatted ID' by 'Office.context.mailbox.convertToRestId' method.

Does attachment ID should be converted to 'REST-formatted ID' in order to get the attachment or it's the same ID in EWS and REST ?
Th

[2018-07-31 14:54] davster commented on #325
Yep.  use the same approach for attachment ids as well.

[2018-07-31 14:58] jasonjoh commented on #325
Thanks @davster!

[2018-07-31 14:59] jasonjoh commented on #325
@lindalu-MSFT can we update the doc to include this information?

[2018-07-31 15:42] #320 closed

[2018-07-31 21:23] donniewishardthird opened #327 "Simply does not work"
I created verbatim from above.  The button appears, but then there is an error "'Office' is undefined", which occurs in MessageRead.js on line 6.  I am really baffled how this could work for anyone.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15be7148-d1e8-b58b-b026-9f072efb638a
* Version Independent ID: 53a5d00c-d8

[2018-08-01 07:08] ediAm commented on #325
Thank you @davster !

[2018-08-01 13:33] jasonjoh commented on #327
Sorry you're having trouble. It will be helpful to understand if you followed the **Visual Studio** steps or the **Any editor** steps.

![image](https://user-images.githubusercontent.com/8966342/43524704-edbae6a6-956d-11e8-9b1d-6800ea22b6ab.png)

[2018-08-01 13:39] donniewishardthird commented on #327
I tried the VS 2017 directions verbatim.  When I run it, I get 'Office' is undefined and the Add-in does not load.  The 'Any editor' instructions DO work, and I was able to get it to work using that.  When I compare the code for both, there are definitely differences, but none that would lead me to think the VS 2017 option does not work.  Definitely strange, and for now, using Node and side-loadin

[2018-08-01 13:50] jasonjoh commented on #327
Ok let me give it a shot, I just happen to have a freshly installed machine here :). Is your VS install fully patched?

[2018-08-01 13:55] donniewishardthird commented on #327
Yep it sure it.  It sure looks like it should work, it generates all of the same files for the most part as the yo solution.  Whatever the issue, it does not know about 'Outlook', but all files loaded just fine.  Thanks for the help.  It would be interesting if I could take the entire source, load the sln, and see if it works.

[2018-08-01 14:03] jasonjoh commented on #327
Yeah it works fine for me. I can certainly make my project available, but one thing I spotted that may be the problem:

In **Update the code** step 1, it tells you to replace the `<body>` of MessageRead.html with the provided code. Is it possible that you replaced the entire contents of the file? This would remove the `<head>`, which is where office.js gets loaded (and Office is defined).

[2018-08-01 14:13] stevechilds opened #328 "Webpack?"
This is fine, but it doesn't mention webpack at all, which is included in the template generated by "yo office". The new files (dialog / helpers etc.. don't appear to be picked up by webpack and so the sample does not work if you follow the instructions...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b98fcab-f608-d0

[2018-08-01 14:20] donniewishardthird commented on #327
No, i went back over that and even verified I could load office.js.  Maybe it is something with my install / config.  The good thing is the Node solution works just fine.  Thanks for the help, I appreciate it.

[2018-08-01 14:29] jasonjoh commented on #327
Ok. I uploaded my solution here if you want to compare: https://github.com/jasonjoh/vs-outlook-addin

[2018-08-01 14:39] donniewishardthird commented on #327
I get '__g' is undefined when outlook loads.  Then I get the 'Office' is undefined too.  I am going to close this because it appears to be something going on with my environment.  Node works, and that is good enough at the moment.  Thanks again!

[2018-08-01 14:39] #327 closed

[2018-08-02 00:34] lindalu-MSFT commented on #325
@jasonjoh Updated doc with this info.

[2018-08-02 00:34] #325 closed

[2018-08-02 00:40] lindalu-MSFT commented on #323
Thanks @elegault, I updated the version support Note to add Outlook Online.

[2018-08-02 00:40] #323 closed

[2018-08-02 15:33] Prasunakakani commented on #144
Can any one give any idea or suggestion to resolve this, even i an facing the same error with just couple of requests.

[2018-08-03 15:20] #324 closed

[2018-08-06 19:30] cristi993 opened #331 "IE11 required?"
Had Internet Explorer 11 disabled in Windows features and the add-in threw this error in Outlook when it tried to load:
"Sorry we couldn't load your add-in because your version of Internet Explorer is not supported"

Adding IE11 back and a reboot later made the add-in load with no problems. Shouldn't be IE11 added as a Prerequisite?
(and maybe mentioned here too https://docs.microsoft.com/en-us/ou

[2018-08-08 10:50] OfficeGSX opened #333 "[LOC] Invalid link in an article"
There is an invalid link in the addin-tutorial article.

**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/outlook/add-ins/addin-tutorial
2. Search for "UX design pattern templates for Office Add-ins"
3. Click on the link

**Actual results**:
Link redirects to a non existing page
**Expected results**:
Link redirects to an existing page

**GH article**:
https://github.com/OfficeDev/outlook

[2018-08-08 14:26] Linda-Editor commented on #333
Fixed link and note style, and also updated Fabric link to point to its new location

[2018-08-08 14:26] #333 closed

[2018-08-09 19:05] praveenhv7 opened #336 "How to config for an Application using a tenant ID?"
Application '#####################' (dotnet-tutorial) is not supported over the /common or /consumers endpoints. Please use the /organizations or tenant-specific endpoint.

How to enable the app using a tenant ID.
I have edited the Authority request string with the tenant ID in place of commons but still i was not able to login. Please help

[2018-08-09 19:09] jasonjoh commented on #336
This sounds like a problem with the registration itself. I've seen this error in a few cases. When you go to https://apps.dev.microsoft.com, do you see more than one **Add an app** button?

[2018-08-09 20:32] praveenhv7 commented on #336
Yup one for normal app addition and one for enterprise.

On Thu, Aug 9, 2018, 3:09 PM Jason Johnston <notifications@github.com>
wrote:

[2018-08-09 20:34] jasonjoh commented on #336
Ok. Do you have a section called **Converged apps**? That's where you should register this app.

[2018-08-10 03:35] praveenhv7 commented on #336
No I don't have that option. Does this mean I am not allowed to use my app
to get AD details till admin approves it?

On Thu, Aug 9, 2018, 4:34 PM Jason Johnston <notifications@github.com>
wrote:

[2018-08-10 10:48] dalemyers opened #337 "Side loading documentation is out of date"
The newest versions of the UI look quite different to what is shown in the documentation so it leads to confusion. Just some new images and steps will clear everything up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70e6c303-4a9f-4d68-eb9a-b47d61190a25
* Version Independent ID: 42936d64-c5cd-4999-e348-3a0304f8a6e8
*

[2018-08-10 10:50] dalemyers commented on #316
If you side load for OWA then it will be pulled down to your device where you can test it.  You'll need to be sure they are designed for mobile though (https://docs.microsoft.com/en-us/outlook/add-ins/outlook-mobile-addins) since if they aren't, they just won't show up (in particular it needs to support the MobileFormFactor).

[2018-08-10 14:59] jasonjoh commented on #336
The .NET getting started for Outlook does not require any admin consent, it just requires an app registration, which you can create with a work/school account OR a personal Microsoft account. If you're modifying it to request AD-related info from the Graph, you *might* need admin consent.

This tutorial also uses an auth library that is compatible with Azure's v2 OAuth endpoints. If you register y

[2018-08-13 13:33] OfficeGSX commented on #333
Hello,

Can you please merge this fix to live as well ?

Regards,

Jiri

[2018-08-13 13:47] Linda-Editor commented on #333
@ElizabethSamuel-MSFT  Can you merge this PR to live?

[2018-08-13 13:58] TobyFish opened #340 "no index.js"
There is no index.js in the add-in route directory as specified above. There are many in the none_modules folders and there is an index.ts in the function-file folder.
Please advise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15be7148-d1e8-b58b-b026-9f072efb638a
* Version Independent ID: 53a5d00c-d82b-6536-2e80-3e2a

[2018-08-13 14:43] jasonjoh commented on #333
Merging here: https://github.com/OfficeDev/outlook-dev-docs/pull/341/

[2018-08-13 14:58] jasonjoh commented on #340
It appears the Office Add-in generator changed pretty significantly since that quick-start was written, so this walkthrough needs to be re-written. @lindalu-MSFT can you get a writer assigned?

@TobyFish when I ran the latest generator, I see a `./src/index.js` file. This is with yo 2.0.5 and generator-office 1.1.15.

![image](https://user-images.githubusercontent.com/8966342/44039722-a855ef2e-9ee

[2018-08-13 17:01] ElizabethSamuel-MSFT commented on #340
As @jasonjoh notes, index.js is now in a sub-folder. Apologies for the confusion. The update should go live soon but hopefully this info unblocks you.

[2018-08-13 17:01] #340 closed

[2018-08-13 19:18] lindalu-MSFT commented on #340
@ElizabethSamuel-MSFT Thanks for fixing.

[2018-08-14 11:54] TobyFish commented on #340
Thanks for the pointers. All I see in that folder is an index.ts, not an index.js, are the two used interchangeably?

[2018-08-14 15:38] ElizabethSamuel-MSFT commented on #340
@TobyFish It seems like you may be doing a different quick start. Can you share more details about the steps you were followed? Thanks.

[2018-08-15 09:50] TobyFish commented on #340
this one https://docs.microsoft.com/en-us/outlook/add-ins/quick-start?tabs=visual-studio-code

[2018-08-15 15:50] ElizabethSamuel-MSFT commented on #340
@TobyFish I think I understand what happened. We provide steps for the script type "Javascript". I believe you ended up selected "Typescript" instead:
![image](https://user-images.githubusercontent.com/28541963/44157610-b8f5eb00-a067-11e8-93e5-faee0cf4d3dc.png)

Please try the Javascript option to follow along with the tutorial.

Thanks.

[2018-08-16 08:45] sonalinoolkar commented on #320
@jasonjoh

The actionable message cards not even visible in Outlook Client 2016 as well. They are visible only in OWA.
Can you please confirm this as well?

Thanks,
Sonali

[2018-08-16 09:29] sonalinoolkar opened #344 "Unable to see actionable message in Outlook 2016 client"
Unable to see actionable message in Outlook 2016 client.
The email with actionable message is visible in OWA however not on Outlook client.

Is this a known issue?

[2018-08-16 12:04] jasonjoh commented on #344
No, Outlook 2016 supports actionable messages, as long as you have a version that supports them. See the table at https://docs.microsoft.com/en-us/outlook/actionable-messages/#release-notes for supported versions.

[2018-08-17 01:14] praveenhv7 commented on #336
Thanks a lot, Jason. I am not supposed to send a screenshot. I registered from portal.azure.com -> azure active directory -> App Registrations. I will try again. Thanks again.

[2018-08-17 12:02] jasonjoh commented on #336
That's your problem. The Azure portal creates v1 app registrations, and this app expects a v2 registration. You need to register the app at http://apps.dev.microsoft.com.

[2018-08-17 13:12] TobyFish opened #345 "Not sure "loadItemProps" ever gets executed"
Followed the turotial. Plug in loads and displays table header but table body remoans empty

[code]

??

[2018-08-17 13:30] praveenhv7 commented on #336
I will give it a try. Thanks :)

On Fri, Aug 17, 2018, 8:02 AM Jason Johnston <notifications@github.com>
wrote:

[2018-08-20 09:31] KhalilMohammad commented on #337
Could you tell me how to sideload as documentation is outdated?

[2018-08-20 19:26] lindalu-MSFT commented on #337
@ElizabethSamuel-MSFT How do we go about getting this topic updated?

[2018-08-23 12:46] vinaysheelwagh opened #347 "Exchange identity token validation using python"
We are working on validation of exchange identity token using python library [PyJWT](https://pyjwt.readthedocs.io/en/latest/). In the document("") it is mentioned that there are various libraries to validate Exchange user identity tokens.  Please let us know if [PyJWT](https://pyjwt.readthedocs.io/en/latest/) will work for Exchange user token validation. Is it something like that Exchange identity

[2018-08-23 13:00] ManojPatel1983 opened #348 "Extract entity strings feature available with Outlook client based plugins (VSTO)"
This is really a great feature to extract entities from email and meeting items.

I was just wondering if similar feature is available with Outlook client based plugins (VSTO).

Thanks,
Manoj

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d5b713c-9caa-31d3-45fa-5f8b13771e59
* Version Independent ID: c0b8e4c0-1523-25e5

[2018-08-24 10:15] VaibhavTyson commented on #347
facing same issue on my Linux environment.

[2018-08-29 07:22] chenxizhang opened #350 "Does this support outlook mobile"
Hi team, I test this sso implementation, and I found that desktop or OWA will work, but outlook mobile can not invoke the "Office.context.auth.getAccessTokenAsync" method . Is it by design or I missed something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b39afb8-79bf-86c7-6b9f-e62f6d4a9304
* Version Independent ID

[2018-08-29 07:29] chenxizhang opened #351 "Does this support SSO implementation?"
Hi team, I test this sso implementation, and I found that desktop or OWA will work, but outlook mobile can not invoke the "Office.context.auth.getAccessTokenAsync" method . Is it by design or I missed something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd515bdf-4003-dbc4-8898-50be0fd44338
* Version Independent ID

[2018-08-29 12:12] jasonjoh commented on #344
I'm going to go ahead and close this. If you are still having trouble and need assistance, please post on Stack Overflow.

[2018-08-29 12:12] #344 closed

[2018-08-29 12:14] jasonjoh commented on #336
I'm going to go ahead and close this since I haven't heard back. If you're still having trouble please post detail on Stack Overflow and tag with `Microsoft-graph`.

[2018-08-29 12:14] #336 closed

[2018-08-29 12:16] jasonjoh commented on #316
I'm going to go ahead and close this since we haven't heard back. If you still need assistance please post details on Stack Overflow.

[2018-08-29 12:16] #316 closed

[2018-08-29 17:11] lindalu-MSFT commented on #299
@nokafor Sylvia, can you help @ElizabethSamuel-MSFT identify the issue/cause of the 404 so we can improve this topic?

[2018-08-29 17:13] lindalu-MSFT commented on #328
@nokafor Hi Sylvia, here's another Yo Office setup issue. Can you assist @ElizabethSamuel-MSFT figure out what we need to do to fix the steps in this tutorial so that they work for the customer?

[2018-08-30 01:50] lindalu-MSFT commented on #351
@ElizabethSamuel-MSFT Can you please update this topic to clarify invoking Office.context.auth.getAccessTokenAsyn on Outlook mobile? Thanks, lindalu

[2018-08-31 17:11] janbalcarik opened #356 "SupportsPinning Outlook online (outlook.com) not working"
Hi, SupportsPinning for outlook online should work now (https://github.com/OfficeDev/outlook-dev-docs/commit/b644ef7d1c586a037839e5a9d4ff3fc1dab9021f).

I was unable to make this functionality operational. Outlook online is meant by outlook.com?

Thank you

[2018-08-31 23:30] Reezaali commented on #232
Hi @binarykitchen, I'll go ahead and close this issue because @jasonjoh suggested to post the question on Stack Overflow. Thanks.

[2018-08-31 23:30] #232 closed

[2018-09-03 10:07] kisnam opened #358 "The request was aborted: Could not create SSL/TLS secure channel."
Hi,
This is great example. However I ran into below error after clicking the login button.
"The request was aborted: Could not create SSL/TLS secure channel."
Any help is greatly appreciated.

[2018-09-04 11:58] jasonjoh commented on #358
@kisnam Can you let us know which sample you're referring to?

[2018-09-05 21:13] ElizabethSamuel-MSFT commented on #272
@choatehall Added troubleshooting tips in PR https://github.com/OfficeDev/outlook-dev-docs/pull/359 and closing this issue as you're unblocked.

[2018-09-05 21:13] #272 closed

[2018-09-10 18:41] t-saosl opened #363 "Actionable Message Action.Http for Local Host"
It is not clear in the documentation for actionable messages that using Action.Http to POST to or GET from Local Host is not supported. It would be helpful if this were noted in the documentation or this feature were added.

[2018-09-10 23:10] jgordner opened #364 "Ensuring an add-in can't be closed or disabled by the user"
In the section on "Deploying Outlook Add-ins that use on send" the documentation says, "Administrators have to ensure that the on send add-in:
* Is always present any time a compose item is opened (for email, new, reply, or forward).
* Can't be closed or disabled by the user."

How can an administrator ensure either of those things?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-09-12 18:15] ElizabethSamuel-MSFT commented on #328
Microsoft internal use: https://office.visualstudio.com/OC/_workitems/edit/2556013

[2018-09-13 14:44] butchmarshall opened #368 "Message card embedding via add-in?"
Is it possible to embed an actionable message card into an email via `Office.context.mailbox.item.body.setSelectedDataAsync` from an add-in?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e36738b7-29cb-00c2-30e3-6065addee4c1
* Version Independent ID: 57a934d1-7e50-a144-d461-fc55175acfb8
* Content: [Get started with act

[2018-09-13 14:51] jasonjoh commented on #368
No. Actionable messages *MUST* go through the delivery pipeline, you can't add them after the message is delivered.

[2018-09-13 14:51] #368 closed

[2018-09-13 14:58] butchmarshall commented on #368
I mean to ask is it possible to embed it during the composition phase of the email?

e.g.

![image](https://user-images.githubusercontent.com/339763/45496657-f4a5d280-b743-11e8-8df9-38467cbcc1e8.png)

[2018-09-13 15:04] jasonjoh commented on #368
Ah sorry, I misunderstood. I'm not 100% sure. Cards have to go into the `<head>` of the HTML body, so `setSelectedDataAsync` likely would not work (as I recall, I believe it only has access to the `<body>`). You might be able to do it via `body.setAsync`, but there's a [note on the docs](https://docs.microsoft.com/en-us/javascript/api/outlook_1_6/office.body?view=office-js#setasync-data--options--

[2018-09-13 15:29] butchmarshall commented on #368
It looks to be unsupported at this time (even by sending an entire HTML document via body.setSelectedDataAsync).

This would definitely a great future enhancement though!

Thanks for being so prompt @jasonjoh.

[2018-09-13 17:42] butchmarshall opened #370 "PropertyName="BodyAsHTML" usage requires additional info"
Using the [XML manifest](https://raw.githubusercontent.com/OfficeDev/Outlook-Add-In-Contextual-Regex/master/contoso-order-number-manifest.xml) from the [Outlook-Add-in-Contextual-Regex](https://github.com/OfficeDev/Outlook-Add-In-Contextual-Regex) example for testing, when changing the `ItemHasRegularExpressionMatch` Rules from `BodyAsPlaintext` to `BodyAsHTML` outlook throws an error:
![image](ht

[2018-09-13 17:51] butchmarshall commented on #370
It's probably referring to the Highlight attribute in the rule manifest mentioned [here](https://github.com/OfficeDev/office-js-docs/blob/master/reference/manifest/rule.md#itemhasregularexpressionmatch).

When changing to
[code]

Outlook then complains

![image](https://user-images.githubusercontent.com/339763/45506009-101cd780-b75c-11e8-83b3-c0918c9a7279.png)

[2018-09-13 18:05] butchmarshall opened #371 "PropertyName="Body" not documented, maybe typo?"
I'm not sure if this is a typo, but I came across this when investigating the BodyAsHTML/BodyAsPlaintext PropertyName attributes.  PropertyName="Body" doesn't seem to work?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64d9cc55-9781-d046-d612-15262d8d618e
* Version Independent ID: 8c98758c-3873-b3a4-742a-8cfbd

[2018-09-13 18:28] kbrandl commented on #371
@butchmarshall thanks for reporting this issue; we'll investigate and let you know the outcome.

[2018-09-13 18:29] kbrandl commented on #370
@butchmarshall thanks for reporting this issue; we'll investigate and let you know the outcome.

[2018-09-13 18:30] kbrandl commented on #364
@jgordner thanks for reaching out with this question; we'll investigate and reply back here with more info.

[2018-09-13 18:35] kbrandl commented on #356
@janbalcarik thanks for reaching out with this question and apologies for the delayed response. In order to assist with troubleshooting, can you please share your XML manifest file (with any PII removed)?

[2018-09-18 08:48] Herz3h commented on #144
I have the same issue on the Microsoft Graph Calendar API (adding new event). It fails really early (4th batch, requests n°62) and randomly, currently sending 350 requests split into batches of 20 requests. The response status code is 429 and the response is like this :

[code]

[2018-09-20 06:30] kisnam commented on #358
I was referring to aspnet-graph-connect-rest-api sample. The issue came while running the app locally. However, I was able to resolve the issue by publishing the app to Azure portal.

[2018-09-20 12:05] jasonjoh commented on #358
Ok. If you hit any other issues with that sample, please open an issue on their GitHub repository.

[2018-09-20 12:05] #358 closed

[2018-09-21 17:06] jtiltx commented on #144
@Herz3h
I also am having the same issue when adding events.  (Batch inserting and deleting).

[code]

[2018-09-21 17:07] Herz3h commented on #144
@jtiltx I fixed it by sending 16 elements instead of 20 per batch ;)

[2018-09-21 17:13] jtiltx commented on #144
@Herz3h thanks for the pro tip, Ill give it a go. :)

[2018-09-23 02:08] lynnzheng2018 opened #377 "Content is empty"
I create a message card and send it by Microsoft flow. It is working when I send to myself, however, when I send to other people in my organisation, it is showing empty.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e36738b7-29cb-00c2-30e3-6065addee4c1
* Version Independent ID: 57a934d1-7e50-a144-d461-fc55175acfb8
* C

[2018-09-24 17:05] atadhani opened #378 "Outlook Tasks in Microsoft Graph"
[Enter feedback here]

I am interested to use Outlook Tasks.

(I know that is it available in Microsoft Graph Beta   https://docs.microsoft.com/en-us/outlook/rest/compare-graph-outlook)

When will Microsoft Graph be released?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78f042c4-37ce-4588-23df-98b73a783c70
* Version

[2018-09-25 14:01] jasonjoh commented on #378
Outlook tasks are in beta on Microsoft Graph. We don't have a date to share on moving these to the v1.0 Graph at this time.

Watch our [blog](https://developer.microsoft.com/en-us/graph/blogs/) for announcements.

[2018-09-25 14:01] #378 closed

[2018-09-25 14:04] jasonjoh commented on #377
You must be registered and approved to send to others. This is specified in the **Important** box on that page:

If you’re sending this within the same organization only, an org admin can approve the registration. See https://docs.microsoft.com/en-us/outlook/actionable-messages/actionable-email-dev-dashboard for instructions.

[2018-09-25 14:04] #377 closed

[2018-09-26 19:29] pagalvin opened #384 "TypeError ... "optionsSchema.definitions.output.properties.path.description""
I was just working through this today and ran into a problem when I ran npm start:

TypeError: Cannot read property 'properties' of undefined
    at module.exports ([path]\Git the Gist\node_modules\webpack-cli\bin\config-yargs.js:89:48)

I researched a bit and it appears that in the last 24 to 48 hours, web pack (?) maybe was updated and broke this overall process. I modified package.json to force

[2018-10-01 02:46] kaveets24 opened #385 "Incorrect Reply URL - AADSTS50011"
Hi there,

I am having trouble getting this example to work correctly. I received the following error message when trying to authorize my outlook account.

AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application: '&lt;my_client_id&gt;'.

I believe the reason is because the example code that you've provided is not constructing the correct req

[2018-10-01 12:06] jasonjoh commented on #385
The ordering is not important. The actual value of the redirect is different in your two examples:

`http://localhost:8000/authorize`

` http://localhost:8888/callback`

In the tutorial, the value used is different than both of these: `http://localhost:3000/authorize`. In short, the value MUST match what you have registered in the App Registration Portal or you will get this error.

[2018-10-01 15:59] lindalu-MSFT commented on #384
@jasonjoh I think it's a better idea to assign these tasks to the writer, @ElizabethSamuel-MSFT , instead of me. She is the person making the actual changes to the documentation! I'm just the "middle man." I simply reassign these fixes over to her so it would save a step! Is that cool with you? Thanks, lindalu

[2018-10-02 14:37] OfficeGSX opened #386 "[LOC] Invalid link in an article"
There is an invalid link redirecting to a non exisitng article

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/outlook/rest/java-tutorial
2. Search for "Spring Tool Suite"
3. Click on the link

**Actual results:**
Link redirects to a non exising page
**Expected results:**
Link redirects to an existing page

**GH article:**
https://github.com/OfficeDev/outlook-dev-docs/blob/live/docs/re

[2018-10-02 14:40] OfficeGSX opened #387 "[LOC] Invalid link in an article"
There is an invalid link redirecting to a non exisitng article

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/outlook/rest/reference
2. Search for "FindMeetingTimes API"
3. Click on the link

**Actual results:**
Link redirects to a non exising page
**Expected results:**
Link redirects to an existing page

**GH article:**
https://github.com/OfficeDev/outlook-dev-docs/blob/live/docs/res

[2018-10-02 15:04] Linda-Editor commented on #386
New link: https://spring.io/tools/

[2018-10-02 15:04] #386 closed

[2018-10-02 15:17] Linda-Editor commented on #387
Added "en-us" to URL to fix it

[2018-10-02 15:17] #387 closed

[2018-10-05 02:11] EmiTanako opened #389 "Which type of Outlook?"
It would be better if this article will explicitly specify which clients these 'compose add-in availability scenarios' apply to. These scenarios (i.e. Editing a response (Accept, Tentative, or Decline) to a meeting request or meeting item) do not necessarily apply to both the Outlook Desktop in the OWA which creates a huge confusion.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-10-08 06:55] vibhuthasak commented on #294
I got same kind of error when I was working on this tutorial at work. It happened because of my workplace's proxy server. [Access token request TIMEOUT].

[2018-10-09 13:03] cimorci commented on #294
I currently have the same error. I am at the step just before implementing signing out.
I thought it came from the redirection after completing the getTokenFromCode method. When the redirection is only on the try part in authorize.js, I go in the catch part and I have this trace:

Error exchanging code for token
TypeError: Cannot read property 'cookie' of undefined
    at saveValuesToCookie (XXX/h

[2018-10-10 12:25] deepikaguptamobikasa opened #391 "I want email address, name of logged in user."
I am able to get access token but my requirement is to store email and name as well.
Please help me out asap.
i want user details after signin/login.
your earlier response is highly appreciated and that would help me on time.
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e64f07f-17a1-ba44-bcd4-e08bd2b12b0e
* V

[2018-10-10 12:35] jasonjoh commented on #391
This forum is for issues with the documentation, not for support. Getting user details can be done with Graph per https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/user_get. If you're having trouble implementing that with PHP, I'd suggest asking a question on Stack Overflow with the `microsoft-graph` tag.

[2018-10-10 12:35] #391 closed

[2018-10-12 20:05] mrik23 opened #394 "The required attribute 'FormType' is missing"
When I replace the part shown here for the XML manifest, I got this error: "The required attribute 'FormType' is missing" when adding the manifest.

And if I copy the whole manifest from here, I got an other error related to the schema.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d5b713c-9caa-31d3-45fa-5f8b13771e59

[2018-10-12 20:29] ElizabethSamuel-MSFT commented on #275
@pickartzu: Here is an article about [Office 365 URLs and IP address ranges](https://docs.microsoft.com/office365/enterprise/urls-and-ip-address-ranges). This support article ([Office 365 endpoint reference](https://support.office.com/en-us/article/Office-365-endpoints-reference-a9ca90db-7263-4234-a881-d2b9bb769118)) may also be useful.

[2018-10-12 20:31] ElizabethSamuel-MSFT commented on #252
@pickartzu: Here is an article about [Office 365 URLs and IP address ranges](https://docs.microsoft.com/office365/enterprise/urls-and-ip-address-ranges). This support article ([Office 365 endpoint reference](https://support.office.com/en-us/article/Office-365-endpoints-reference-a9ca90db-7263-4234-a881-d2b9bb769118)) may also be useful.

[2018-10-12 20:52] ElizabethSamuel-MSFT commented on #288
@choatehall: I'm sorry that you hit issues trying out the add-in. Have you tried [sideloading the add-in](https://docs.microsoft.com/outlook/add-ins/sideload-outlook-add-ins-for-testing#sideload-an-add-in-in-outlook-in-office-365) or using a browser to view the content of the add-in on your machine's localhost?

[2018-10-12 20:59] ElizabethSamuel-MSFT commented on #299
@mayankdonbosco: It may be that Basic Auth is disabled for accounts on the Office 365 tenant. Have you tried [sideloading the manifest](https://docs.microsoft.com/outlook/add-ins/sideload-outlook-add-ins-for-testing#sideload-an-add-in-in-outlook-in-office-365) or using an O365 tenant that you can configure?

[2018-10-12 21:02] ElizabethSamuel-MSFT commented on #328
Closing this. @stevechilds: please reactivate if you're still facing an issue. Thanks.

[2018-10-13 12:07] mrik23 opened #395 "Missing instruction on packaging and deployment"
I don't see anywhere in the doc instructions on how to package the solution for "production" and ready to be hosted, when using Visual Studio Code. I see that we can use npm run build which will run webpack and we end up with file in dist folder, but still a lot of things have to be fixed manually.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-10-13 14:30] kbrandl commented on #395
@mrik23 thank you for reaching out about this. This quick start is merely intended to provide a quick primer about how to build a simple Outlook add-in. Information about deploying and publishing an Office Add-in is beyond the scope of this quick start, but can be found in the [Deploy and publish your Office Add-in](https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish) article.

[2018-10-13 14:30] #395 closed

[2018-10-14 15:13] mrik23 commented on #395
@kbrandl OK but I don't think the relevant information are also available in that section. There is some instructions on packaging, but it's for Visual Studio. If we use VS Code or other 3rd party code editor, I don't find any instruction.

https://docs.microsoft.com/en-us/office/dev/add-ins/publish/package-your-add-in-using-visual-studio

It would be useful to give more clarification on how to mo

[2018-10-14 15:19] mrik23 opened #396 "Can't get mailbox item properties on Android Outlook app"
Is there any different requirements for the Outlook app for Android?

I can retrieve item properties correctly in browser (IE, Chrome) and iOS app, but it doesn't work in the Android app.

The only property working on Android seems to be Office.context.mailbox.item.internetMessageId, the following properties are not retrieved in Android Outlook.

Office.context.mailbox.item.subject
Office.context.

[2018-10-15 15:35] ElizabethSamuel-MSFT commented on #351
@chenxizhang: Thanks for your feedback about getAccessTokenAsync. However, it is still in beta/preview and is not currently supported on Outlook mobile.

[2018-10-15 15:36] ElizabethSamuel-MSFT commented on #351
@Rick-Kirkham: Can you see if we can update the SSO docs with this info? Thanks.

[2018-10-15 15:44] ElizabethSamuel-MSFT commented on #351
@chenxizhang: [SSO docs](https://docs.microsoft.com/office/dev/add-ins/develop/sso-in-office-add-ins#sso-api-reference). Also, please check out the [Identity API set](https://docs.microsoft.com/office/dev/add-ins/reference/requirement-sets/identity-api-requirement-sets?view=office-js) for details about the supported clients/platforms.

[2018-10-15 15:44] #351 closed

[2018-10-15 16:40] kbrandl commented on #395
@mrik23 thank you for the additional feedback.

An add-in is simply comprised of the web application that you build to provide the add-in's functionality, plus an XML manifest file that you create to specify the add-in's settings an capabilities (including the location of where the web application is hosted).  Regardless of which code editor you've used to create your add-in, you simply need to en

[2018-10-15 16:53] mrik23 commented on #395
Thanks, that would be nice to update the documentation, so we are guided through the whole process from creating the add-in to finally publishing on a public endpoint when not using Visual Studio.

You can close this issue.

[2018-10-15 19:49] glatzert commented on #337
As long as the docs are not updated for Outlook 365 on Desktops - could you provide a small step by step manual as a "quick fix"?

[2018-10-17 03:28] magic-overflow commented on #384
any solutions?

[2018-10-17 06:44] indrojeet1061 opened #398 "Exception in Rendering JSP"
Hi, I tried the above sample but I get the below exception when the response of the rest api is being rendered on the jsp.
Caused by: javax.servlet.ServletException: javax.servlet.jsp.JspTagException: Don't know how to iterate over supplied "items" in &lt;forEach&gt;

I can see the api returning proper response. I am guessing it is because the below code:

PagedResult&lt;Event&gt; Revents =  outlo

[2018-10-17 12:09] jasonjoh commented on #398
The actual array of events is in the `value` property on the `PagedResult`. If you look back at the original code in the tutorial:

[code]

Try adding a `.getValue()`.

[2018-10-17 16:07] ffot opened #399 "404 error"
I have slowly been making my way through this tut up to: Replace YOUR_APP_ID_HERE and YOUR_APP_PASSWORD_HERE with the application ID and password you obtained from the App Registration Tool and save the file - all fine.
I can restart the Laravel development server using (php artisan serve). And browse to http://localhost:8000 to the Connect to Outlook page, BUT when I click on the 'Connect to Outl

[2018-10-17 19:39] indrojeet1061 commented on #398
yes, you were right. Fixed it. Thanks for a reply

[2018-10-17 19:58] #398 closed

[2018-10-17 22:46] ElizabethSamuel-MSFT commented on #384
@pagalvin: I'm sorry to hear that you hit an issue with this tutorial. Can you ensure that you're running the latest version of Yeoman by running `npm install -g yo generator-office` then give it another try? Thanks.

[2018-10-17 22:58] ElizabethSamuel-MSFT commented on #278
@Itrel, @murtaaz763: I'm sorry that you hit issues trying out the add-in. Have you tried [sideloading the add-in](https://docs.microsoft.com/outlook/add-ins/sideload-outlook-add-ins-for-testing#sideload-an-add-in-in-outlook-in-office-365) or using a browser to view the content of the add-in on your machine's localhost?

Also, we've since done some minor updates to the quick start so please give it

[2018-10-17 23:06] ElizabethSamuel-MSFT commented on #295
Thanks for raising this issue. However it seems to have been fixed since it's no longer repro-ing. Closing this.

[2018-10-17 23:06] #295 closed

[2018-10-18 13:45] jasonjoh commented on #399
It sounds like you need to add the `signin` route to `./php-tutorial/routes/web.php` as in https://docs.microsoft.com/en-us/outlook/rest/php-tutorial#new-entry-in-php-tutorialrouteswebphp.

[2018-10-18 14:54] pagalvin commented on #384
Hi! I was able to solve it as I described in my initial posting here. So, I have no issues and maybe it was resolved subsequently. I was just pointing out for anyone else that ran into the issue and how I was able to solve it for myself.

[2018-10-18 15:29] ElizabethSamuel-MSFT commented on #384
@pagalvin: Got it. Thanks for sharing that.

[2018-10-18 15:29] #384 closed

[2018-10-18 17:59] ffot commented on #399
Thank for this not back in office till Monday, but check it out then.

On Thu, 18 Oct 2018, 14:45 Jason Johnston, <notifications@github.com> wrote:

[2018-10-19 00:30] mikeymicrophone opened #404 "Nice job, thanks for taking the time!"
This is one of the best OAuth-related documents I've yet seen.  It does a good job conveying the multiple steps involved, even though there is still a lot that is left unexplained.  The code and variable names are simple enough to grok in a sensible amount of time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5667b54

[2018-10-19 14:19] jasonjoh commented on #404
Thank you for the kind words @mikeymicrophone! I'm glad that you found this useful.

[2018-10-19 14:19] #404 closed

[2018-10-22 09:48] ffot commented on #399
You were quiet correct @jasonjoh. I had added Route::get('/signin', 'AuthController@signin'); but  not at the end as instructed.  Thanks again. moving on.

[2018-10-22 12:34] #399 closed

[2018-10-22 23:33] ElizabethSamuel-MSFT commented on #142
@Rick-Kirkham: Thanks for your feedback. The updates should be published soon.

[2018-10-22 23:33] #142 closed

[2018-10-23 07:59] Will-Blackburn opened #408 "Event not valid in schema"
This is also open on GitHub but hasn't had any response there.

Using the &lt;ExtensionPoint xsi:type="Events"&gt; results in an error:

This is an invalid xsi:type 'http://schemas.microsoft.com/office/mailappversionoverrides/1.1:Events'

The open GitHub item is on the example code, which fails as well:

https://github.com/OfficeDev/Outlook-Add-in-On-Send

---
#### Document Details

⚠ *Do not edit

[2018-10-23 17:59] hshoushari commented on #253
hello, i am trying to fetch user emails from outlook to my spring project,
in my case the user is already authenticated and authorized by active directory, and the outlook account is Microsoft exchange account,  and i need to fetch the user email without passing credentials because the user is already authenticated.

Kindly advice.

[2018-10-24 11:16] GearTheWorld opened #409 "The received email sent via SMTP shows nothing in Outlook 365"
I send an Actionable Message using this documentation via SMTP but the email received shows nothing however if I test the same payload on Playground it works.  Here's the payload taken from your sample and added the necessary html to send via smtp

&lt;html&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=us-ascii"&gt;
&lt;script type="application/adaptivecard+json"&

[2018-10-24 12:00] jasonjoh commented on #409
You have `<script type="application/adaptivecard+json">`, but you have `"@type": "MessageCard"`. These are in conflict.

If you are using the [Adaptive Card format](https://docs.microsoft.com/en-us/outlook/actionable-messages/adaptive-card), then you use `<script type="application/adaptivecard+json">`. However, by your `@type` value, you're using the [Legacy MessageCard format](https://docs.micros

[2018-10-24 13:41] GearTheWorld commented on #409
@jasonjoh It works like a charm.  1000 thanx ;)

[2018-10-24 13:41] #409 closed

[2018-10-25 23:32] EDAM19 opened #412 "Exception in"
Hi, I tried the example including only the part of Calendar and when it tries to execute PagedResult&lt;Event&gt; events = outlookService.getEvents(sort, properties, maxResults).execute().body();
the api returns:
Unrecognized field "@odata.context" (class app.service.PagedResult), not marked as ignorable (2 known properties: "value", "@odata.nextLink"]) at [Source: (InputStreamReader); line: 1, co

[2018-10-26 12:11] jasonjoh commented on #412
Do you have this line above your Event class?

[code]

That error is basically saying that there's a property in the JSON response that doesn't map to one of the properties declared in the Event class. The line above should instruct the Jackson library to ignore any unmapped properties.

[2018-10-29 20:35] jzillsBivarus opened #413 "Post actionable message via Office 365 Connectors documentation"
Documentation seems straight forward but following the steps nothing happens.  Maybe I don't understand the goal here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2606e423-7aff-b44e-3c88-1a96d16ed1fc
* Version Independent ID: 29e8d7ba-d255-f533-7781-aa2aa14a040e
* Content: [Get started with actionable messages via c

[2018-10-29 22:03] Vivihung opened #414 "Design guideline for Desktop"
It's good we have design guideline (and with details, WOW!) for mobile devices.
However, what's the guideline for desktop app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aef2c9cc-3f5b-b2b1-dd84-08a910a74c64
* Version Independent ID: df0d841a-6e7b-bb95-99b8-dae7fc950f35
* Content: [Outlook add-in design](https://doc

[2018-10-29 22:06] Vivihung opened #415 "Design guideline screenshot font is too small to see"
Many of the guideline description is inside the screenshot image. However, it's too small to see the content. Due to the image is not with high-resolution, zoom-in the web page doesn't help. Maybe provide a .pdf for user to download will be better?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aef2c9cc-3f5b-b2b1-dd84-

[2018-10-30 17:53] jasonjoh commented on #413
@jzillsBivarus when you setup the inbox connector, you should have gotten a confirmation email in your inbox:

![image](https://user-images.githubusercontent.com/8966342/47739024-d429cd00-dc4a-11e8-946e-23bbda4da37a.png)

After that, when you use Postman to do the POST, you should get a message in your inbox:

![image](https://user-images.githubusercontent.com/8966342/47739163-22d76700-dc4b-11e8-9

[2018-11-03 16:48] peterremote1980 opened #416 "i got "The api you are trying to access does not support item scoped OAuth" to read all messages"
Hi
   I got:

The api you are trying to access does not support item scoped OAuth

When reading all messages. Below is my code:

		let url = 'https://outlook.office.com/api/v2.0/me/messages/?$select=Sender,Subject';

		$.ajax({
			url: url,
			dataType: 'json',
			headers: {
				'Authorization': 'Bearer ' + this.accessToken
			}
		}).done((item) =&gt; {
			this.debug = JSON.stringify(item);
			thi

[2018-11-08 09:03] jmalla opened #417 "Inbox button does not show up"
Hi Jason,
I am following your tutorial.  The OAuth authentication works.   I can authenticate from http://localhost:3000/ and I see the the OAuth token.

However, the Inbox link does not show up.  I am not sure what the issue is.  Mail.hbs is fine and mail.js all seem okay.
I am not sure where to look.
Thanks,
Jay

[2018-11-08 13:05] jasonjoh commented on #417
It sounds like a problem with the authentication. The Inbox link in the nav only shows up if there is a user. From layout.hbs:

[code]

You could investigate in index.js where the user is pulled from the session and add to the `parms` variable.

[2018-11-09 08:18] sergey-tihon opened #420 "How to send Actionable Message in AdaptiveCard format?"
When I send card in AdaptiveCard format to `https://outlook.office365.com/webhook/*` I get response

&gt; HTTP/1.1 400 Bad Request
&gt; ...
&gt; Summary or Text is required.

Does it supported? If not, will it be supported at all? When (if date is known)?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2606e423-7

[2018-11-09 15:45] jasonshave opened #421 "MessageCard is outdated"
Great examples here however they use the outdated MessageCard format. Could we update this for the AdaptiveCard format? In the actions it would be helpful to show an HTTP POST along with custom header formatting (if possible).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2606e423-7aff-b44e-3c88-1a96d16ed1fc
* Version

[2018-11-09 16:15] jasonjoh commented on #421
Absolutely! We welcome pull requests (hint hint) :)

[2018-11-09 16:28] jasonjoh commented on #420
I see this too. Let me check with the devs and get back to you.

[2018-11-09 16:30] jasonjoh commented on #421
BTW I'm investigating a related issue in #420 that impacts this. It's not clear if we support AdaptiveCard via connector webhooks.

[2018-11-09 16:30] jasonjoh commented on #413
@jzillsBivarus do you still need help with this?

[2018-11-09 16:32] jasonjoh commented on #412
@EDAM19 are you still having trouble with this?

[2018-11-09 16:32] jasonshave commented on #421
Yes, my testing so far has shown blank content when I use the AdaptiveCard type. If I change it to a MessageCard it comes through just fine.

[2018-11-09 16:33] jasonjoh commented on #385
Closing this issue. Please re-open if you're still having trouble.

[2018-11-09 16:33] #385 closed

[2018-11-09 16:50] ElizabethSamuel-MSFT commented on #299
@mayankdonbosco: If you're still hitting this issue, please reactivate or create a new one. Thanks.

[2018-11-09 16:50] #299 closed

[2018-11-09 16:51] ElizabethSamuel-MSFT commented on #288
@choatehall: If you are still hitting this issue, please reactivate or create a new issue. Thanks.

[2018-11-09 16:51] #288 closed

[2018-11-09 16:53] ElizabethSamuel-MSFT commented on #275
@pickartzu: If you're still blocked by this issue, please reactivate or create a new issue. Thanks.

[2018-11-09 16:53] #275 closed

[2018-11-09 17:04] #241 closed

[2018-11-09 17:04] jasonjoh commented on #420
@sergey-tihon Outlook-based connectors (Groups, Inbox) do not support AdaptiveCard. To send AdaptiveCard actionable messages, you need to [send them over email](https://docs.microsoft.com/outlook/actionable-messages/actionable-messages-via-email).

[2018-11-09 17:04] #420 closed

[2018-11-09 17:06] jasonjoh commented on #421
I got confirmation that the webhooks don't support AdaptiveCard, only MessageCard. To get Adaptive in Outlook, you have to [send via email](https://docs.microsoft.com/outlook/actionable-messages/actionable-messages-via-email).

[2018-11-09 17:06] #421 closed

[2018-11-09 17:07] #278 closed

[2018-11-09 17:09] #307 closed

[2018-11-09 17:13] ElizabethSamuel-MSFT commented on #319
@exextoc: Can you provide this info? I can update the documentation after that.

[2018-11-09 17:46] ElizabethSamuel-MSFT commented on #347
@vinaysheelwagh: Were you referring to this document: https://docs.microsoft.com/en-us/outlook/add-ins/validate-an-identity-token#use-a-library-to-validate-the-token? If so, we can speak to the libraries mentioned there. Otherwise, you may want to ask the StackOverflow community for their input on this, tagged with the [office-js](https://stackoverflow.com/questions/tagged/office-js) and [outlook-

[2018-11-09 17:46] #347 closed

[2018-11-09 17:57] ElizabethSamuel-MSFT commented on #348
@ManojPatel1983: Thanks for your positive feedback about this feature! However, for VSTO, consider looking at their documentation (https://docs.microsoft.com/visualstudio/vsto/outlook-object-model-overview?view=vs-2017) or asking the StackOverflow community, tagging your post with [vsto and outlook-addin](https://stackoverflow.com/questions/tagged/outlook-addin+vsto). Thanks!

[2018-11-09 17:57] #348 closed

[2018-11-09 18:06] ElizabethSamuel-MSFT commented on #350
@chenxizhang: Thanks for your question. This method is not yet supported on mobile platforms. Please see the [IdentityAPI documentation](https://docs.microsoft.com/office/dev/add-ins/reference/requirement-sets/identity-api-requirement-sets?view=office-js) for current details about the supported platforms.

[2018-11-09 18:06] #350 closed

[2018-11-09 18:10] ElizabethSamuel-MSFT commented on #389
@EmiTanako: Thanks for your feedback. We'll work on clarifying this article. Thanks.

[2018-11-09 18:22] ElizabethSamuel-MSFT commented on #394
@mrik23: Sorry that you're hitting these issues. However, can you provide more detailed repro steps (including the content of your manifest after you replaced the rules part) for the first issue and what the schema error was for the second issue?

For example, with your first issue, did your manifest include <Form xsi:type="ItemRead"> under FormSettings (with this or other valid form type value)?

[2018-11-09 19:16] sergey-tihon commented on #420
@jasonjoh  Does it mean that there is no way to push notification into MS Teams channel in AdaptiveCard format?

[2018-11-09 20:00] jasonjoh commented on #420
That I don't know. Their docs are here: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/connectors/connectors-using

It looks like from that doc that no, they don't support it.

[2018-11-09 21:18] ElizabethSamuel-MSFT commented on #416
@peterremote1980: Issues in this GitHub repository (**OfficeDev/outlook-dev-docs**) are intended for reporting errors/problems with the API *documentation*.  Therefore I'm closing this GitHub issue, but please feel free to post your question to Stack Overflow with the [outlook-restapi](https://stackoverflow.com/questions/tagged/outlook-restapi) and [outlook-web-addins](https://stackoverflow.com/qu

[2018-11-09 21:18] #416 closed

[2018-11-09 23:14] ElizabethSamuel-MSFT commented on #345
@TobyFish: Thanks for trying out our tutorial. Can you confirm which tutorial? It seems like it was one of the quick-starts - https://docs.microsoft.com/outlook/add-ins/quick-start. This info will ensure that we're debugging the correct tutorial with you.

[2018-11-09 23:53] ElizabethSamuel-MSFT commented on #322
@glittle: Can you share what caused you to have to replace Office.initialize with Office.onReady? Did you hit an error? Having these details can help us determine next steps. Thanks.

[2018-11-11 19:09] dampee opened #423 "adaptive cards example gives an error"
If you try this against a MicrosoftTeams incoming webhook.  Teams will return the error: "Summary or Text is required."

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: b236b39e-5c3a-06bd-04fe-9b4f13ad5789
* Version Independent ID: b38cf95f-2407-14b9-e75a-9cc162ed61b7
* Content: [Designing Outlook actiona

[2018-11-12 13:56] jasonjoh commented on #423
Thanks @dampee. As far as I know Teams doesn't support adaptive via webhook. Why are you using this Outlook documentation against a Microsoft Teams webhook?

[2018-11-12 18:37] exextoc commented on #319
SupportsPinning is currently only supported in the Mail module. We track Outlook add-in feature requests on our user-voice page. Please add your request there. Feature requests on [user-voice](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins) are considered when we go through our planning process.

[2018-11-12 18:37] #319 closed

[2018-11-14 21:13] nehaj910 opened #425 "How to authenticate and create a Push notification Subscription to get Outlook email @mentions for me?"
![image](https://user-images.githubusercontent.com/13142613/48512688-002e7c00-e80f-11e8-8d74-9a8e1eb2c74d.png)

[2018-11-16 19:31] nehaj910 commented on #425
@jasonjoh  I have already asked the question on stack overflow. https://stackoverflow.com/questions/53295166/how-to-authenticate-and-create-a-push-notification-subscription-to-get-outlook-e
Can you please help in reaching out this question to the related support team. Thank you

[2018-11-21 10:37] PolSpock commented on #412
Hi, same problem here

[2018-11-21 15:35] SteveClements opened #427 "Availability in Outlook windows app"
Hi,

Any idea when is this likely to be available in the Outlook 2016 windows app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 423fb893-bedd-e004-5102-c13c4bea8d50
* Version Independent ID: f28b807f-0f3b-0bf5-c967-257fc55ec7f9
* Content: [On send feature for Outlook add-ins](https://docs.microsoft.com/en-us/outlook/

[2018-11-21 18:34] kbrandl commented on #337
This article has been updated with information about how to sideload an add-in if you're using the new Outlook on the web.

[2018-11-21 18:34] #337 closed

[2018-11-21 18:36] kbrandl commented on #427
@SteveClements thanks for your interest in Outlook add-in development. I've reached out to the product team to get information about this and will update this thread when I hear back.

[2018-11-21 22:15] kbrandl commented on #370
@exextoc upon preliminary investigation, I suspect this may be a product bug -- can you please investigate and respond here on this thread with what you find?

The question is this: how should the manifest be structured such it will validate successfully (i.e., can be successfully sideloaded into Outlook on the web) when it contains an `ItemHasRegularExpressionMatch` rule with `PropertyName="BodyA

[2018-11-21 22:33] kbrandl commented on #371
@butchmarshall thanks again for reporting. This was indeed a typo and has been fixed in the article (changed to `BodyAsPlaintext`).

[2018-11-21 22:33] #371 closed

[2018-11-21 22:39] kbrandl commented on #356
I'm closing this issue due to lack of activity on this thread over the past 2+ months. If you're still having trouble getting `SupportsPinning` to work in Outlook.com (also commonly referred to as "Outlook Online" or "Outlook on the web"), please solicit feedback/assistance by posting your question (and code) to Stack Overflow (tagged with the [outlook-web-addins](https://stackoverflow.com/questio

[2018-11-21 22:39] #356 closed

[2018-11-22 14:44] anujaunds opened #431 "I am facing a access token issue ."
I have account on microsoft dynamic 365 and i install your api module as per your document but still i am facing the one error "No access token has been provided". Could you please help me, how i resolved this issue.

Regards,
Anuj Sharma

Thank you for helping us to improve the Outlook developer documentation.

So that we can better assist you, please note the following:

- If you have a question

[2018-11-22 16:14] mkoledoye opened #432 "High Resolution Icon size"
It's slightly misleading to use an 80x80 image for the high resolution icon in the example here when in actual sense a 128x128 icon is required for an add-in submission.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd911611-3a2c-8ec2-5213-38369071fb30
* Version Independent ID: 5e83d015-e912-2c6f-1a21-69aeaa398923
* C

[2018-11-26 13:10] jasonjoh commented on #412
Closing issue due to no response.

[2018-11-26 13:10] #412 closed

[2018-11-26 13:13] jasonjoh commented on #431
@anujaunds it is not clear which API module you are referring to here. Please clarify.

[2018-11-26 13:16] jasonjoh commented on #423
@dampee Does the Teams documentation point you here perhaps? If they're leading you down the wrong path I want to make sure that gets addressed :)

[2018-11-26 13:18] #417 closed

[2018-11-26 13:18] #413 closed

[2018-11-26 17:32] jasonjoh commented on #423
Thanks @mastef! That link takes you to https://docs.microsoft.com/en-us/outlook/actionable-messages/actionable-messages-via-connectors, which uses MessageCard format (not Adaptive). Perhaps it would be helpful to add a note to the top of that page that states Adaptive isn't supported by connectors.

[2018-11-26 17:36] mastef commented on #423
I'm not 100% sure as I just started exploring this today, but that's how I ended up looking through the outlook docs, instead of the microsoftteams docs. Might act as an entry point

[2018-11-26 19:20] jasonjoh commented on #431
Closing this as @anujaunds opened an issue on the sample itself. See https://github.com/jasonjoh/php-tutorial/issues/29.

[2018-11-26 19:20] #431 closed

[2018-11-27 18:08] ElizabethSamuel-MSFT commented on #432
@mkoledoye: Thanks for raising this issue. However, the recommended icon size is 64x64 ([AppSource documentation](https://docs.microsoft.com/office/dev/store/create-effective-office-store-listings#create-an-icon-for-your-add-in)) so 80x80 and 128x128 should be acceptable. Did you get an error during your add-in submission which stated that 128x128 is the size requirement? Please let us know so we

[2018-11-27 20:11] mkoledoye commented on #432
@ElizabethSamuel-MSFT Thanks for looking into this. Yes, we did fail a functional test for our submission and the description of the test result was:

We had used an 80x80 icon for the failed submission. Upgrading the icon to 128x128 fixed it.

[2018-11-28 17:00] ElizabethSamuel-MSFT commented on #432
@mkoledoye: Thanks for letting us know. We'll work on getting the docs updated.

[2018-11-28 19:12] ajserensits opened #434 "Refresh Token"
Hi!  Maybe I am in the wrong place, but is there documentation for how to handle refresh tokens??  Thank you :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ee7d3a-9e1f-dcef-0ac2-e8382d39a796
* Version Independent ID: 15c4c20f-7d81-5d27-3de6-fa9868356c70
* Content: [Get Started with the Outlook REST APIs](https://d

[2018-11-28 19:21] jasonjoh commented on #434
The[ Azure OAuth documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow) covers this for the different flows. All of our tutorials that support refresh tokens have sample code to do the refresh, unless refresh is "built-in" with the OAuth library being used. For example, the ASP.NET tutorial uses MSAL, which handles refresh for you.

[2018-11-28 19:21] #434 closed

[2018-11-29 22:46] trinitron83 opened #436 "MSI Support"
Just wondering if pinnable task panes are supported in the MSI build at all and if not are there any plans to add support? Thanks.

[2018-11-30 00:06] kbrandl commented on #436
@exextoc can you provide any information about this?  Thanks!

[2018-11-30 00:31] exextoc commented on #436
There are currently no plans to take pinnable task pane support to Outlook 2013/2016 MSI.

[2018-11-30 00:41] #436 closed

[2018-11-30 20:22] exextoc commented on #370
BodyAsHTML does not support Highlight = all, due to the fact that parts of the HTML body may not be able to be highlighted by the e-mail. For example, the <A HREF> tag or <DIV> etc. So that gets rejected. If you leave off highlight = all, it will default to highlight = none, and then the rules won't have a highlight so the manifest will be rejected.

BodyAsPlaintext should be used as the highlight

[2018-11-30 21:32] kbrandl commented on #370
@exextoc thanks for the clarification about this behavior.

@butchmarshall -- as @exextoc describes, you must set `PropertyName="BodyAsPlaintext"` if you want to use the `Highlight` attribute.  We'll update the docs soon to reflect this info:
- https://docs.microsoft.com/en-us/outlook/add-ins/use-regular-expressions-to-show-an-outlook-add-in#using-regular-expression-results-in-code
- https://docs.

[2018-12-02 04:28] narraressan opened #437 "DtdProcessing Error on Manifest File"
Hi!

I am quite new to creating outlook add-in. I simply followed the instructions stated in the documentation but upon installation of the add-in, it prompts this error.

`This app can't be installed. The manifest XML file isn't valid. For security reasons DTD is prohibited in this XML document. To enable DTD processing set the DtdProcessing property on XmlReaderSettings to Parse and pass the set

[2018-12-02 20:24] #437 closed, assigned to nobody

[2018-12-04 07:23] sundarmjkImperium opened #440 "Office 365 Contacts Login Issue"
I just take dotnet-tutoral MVC project .. its working in my locally when i published(deployed in server)
I cant able to login in Meaning .. its redirecting to Signin  page  and proper valid uid and pwd after that its say error.

Note:its working fine in local machine or Development machine.

NullReferenceException: Object reference not set to an instance of an object.]
   MTS.Controllers.<GetAcces

[2018-12-04 12:57] jasonjoh commented on #440
@sundarmjkImperium as the issues in this repository are reserved for documentation issues, we cannot provide debugging support in this forum. Can you please open an issue on the tutorial project: https://github.com/jasonjoh/dotnet-tutorial?

[2018-12-04 12:57] #440 closed

[2018-12-04 21:08] trinitron83 opened #445 "ContextMenu extension point in Outlook web add-ins"
Have a customer who wanted to know if there are any plans to add a ContextMenu extension point (for custom right click) in web add-ins using Outlook.js.

[2018-12-04 23:35] ElizabethSamuel-MSFT commented on #432
The updates should go live soon so I'll go ahead and close this. Thanks.

[2018-12-04 23:35] #432 closed

[2018-12-05 20:34] kbrandl commented on #445
@trinitron83 thanks for reaching out about this. If you haven't already, I'd suggest that you upvote this feature request in UserVoice: https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/31729990-add-contextmenu-extension-point-to-modern-outlook. (The product team considers UserVoice requests when prioritizing future investments in the Office JS platform.)

@

[2018-12-05 21:38] bsdaniel opened #447 "Inquiry"
Hi, this is a great step by step tutorial. My question is that how would this work if you wanted to access more than one calendar/mail/contacts? I understand it would be a somewhat similar process but any help/guidance would be most beneficial. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b47c58-f96e-dca0-6

[2018-12-05 22:15] kbrandl commented on #364
@jgordner here's the information I've received from the product team:

- You must ensure that the manifest for the add-in has the mail compose extension point defined.
- For Exchange Online, the administrator can use Centralized Deployment to deploy the add-in and make it mandatory for their users.
- For Exchange on-premises, the administrator can use the Exchange Admin Center to deploy the add-in

[2018-12-06 19:05] exextoc commented on #445
@kbrandl we don't have any information to provide at the moment.

[2018-12-06 19:14] kbrandl commented on #445
@exextoc thank you for confirming.

@trinitron83 -- as @exextoc has indicated, we're unable to comment on future plans regarding potential implementation of this future. Please do upvote the feature request that I linked to previously, to communicate your interest in this feature.

[2018-12-06 19:14] #445 closed

[2018-12-07 21:37] jasonjoh commented on #447
@bsdaniel the concepts would be mostly the same, it would just be a matter of changing your API calls.

When logged in as a user, if you do something like:

[code]

The `/me` denotes the logged-in user. If you replace that with `/users/{user-id}`, you can access other users that the logged-in user has access to. The [Graph docs](https://docs.microsoft.com/graph/outlook-share-messages-folders) have

[2018-12-07 21:48] ElizabethSamuel-MSFT commented on #389
@EmiTanako: Sorry I'm now getting back to you on this but are you getting some error or exception when you try these compose scenarios in Desktop vs OWA? Can you share your experience? Thanks.

[2018-12-10 13:13] Peter-B- opened #452 "Remove link to playground"
The playground linked in the "Card playground" section uses the new action card format. This is very misleading (and cost me quite some time).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fa51748-908b-c781-39b2-09c961b1637a
* Version Independent ID: 51b88c0a-29d3-2ca8-0b54-d96be4779dd2
* Content: [Legacy actionable

[2018-12-10 13:15] jasonjoh commented on #452
@Peter-B- are you referring to the link in the left-hand table of contents?

[2018-12-10 14:58] Peter-B- commented on #452
@jasonjoh The one in the Card Playground paragraph:

![card playground](https://user-images.githubusercontent.com/6525889/49740388-57036600-fc94-11e8-8454-5009a78ff476.png)

[2018-12-10 15:02] jasonjoh commented on #452
Ah ok. I see what you're saying. The problem isn't so much that we link to a specific example as that the playground loads an ActionCard example by default. Let me chat with the playground devs on options.

In the meantime, if you use the **Select a sample** dropdown in the playground, you can select a number of MessageCard examples.

[2018-12-10 15:04] Peter-B- commented on #452
Ah. Now I see. Thanks a lot.

Maybe you could add a short note that only MessageCard is supported.

But then: maybe not everyone is so confused as I am.

Thanks a lot for your effort

[2018-12-10 15:07] jasonjoh commented on #452
To be clear, ActionCard is supported by Outlook when you're sending/receiving cards via email. If you're [sending via Connectors](https://docs.microsoft.com/outlook/actionable-messages/send-via-connectors) you're still limited to the MessageCard format.

I might end up just adding a note about the dropdown if there's nothing we can do from the playground side.

[2018-12-10 15:17] Peter-B- commented on #452
Yes, thanks a lot. I figured this out during the day. And to be honest: It is documented in multiple places.

[2018-12-12 14:13] OfficeGSX opened #456 "[LOC]: Invalid link in an article"
There is an non functional link in the article below.

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/outlook/rest/python-tutorial
2. Search for OAuth2 Authorization Code Grant flow with Azure AD
3. Click on the link

**Expected results:**
Link redirects to a website properly
**Actual resuts:**
Link redirects to a non existing page

**GH article:**
https://github.com/OfficeDev/outlook-

[2018-12-12 15:38] #456 closed

[2018-12-12 20:57] kbrandl commented on #370
Tracking doc update internally with: https://office.visualstudio.com/OC/_workitems/edit/2716227.

[2018-12-15 16:34] sguryev commented on #452
+1 to the request.
Guys I'm trying to send card to the Teams channel via webhook. I was impressed used the AdaptiveCard package because I though that I don't need to create a JSON myself. I was supposed to create a C# object and serialize it.

Not it's pretty clear to me that I have to use the MessageCard type and the question is - do you know if there is C# classes created which can be used for s

[2018-12-15 19:40] Peter-B- commented on #452
I felt the same. First I was running through the company, telling everyone how awesome AdaptiveCard is with all the nuget packages and stuff and later I found miself testing different Jsons to see what will work :-(

I created a [Gist](https://gist.github.com/Peter-B-/c166d73367876e61cc6b5fa5823a9329) with the classes I figured out. Maybe that can help you.

It is based on the documentation [here]

[2018-12-15 20:31] sguryev commented on #452
@Peter-B- look at these ones: https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/tree/master/CSharp/Library/Microsoft.Bot.Connector.Teams.Shared/TeamsAPI/Models

[2018-12-16 21:33] jmalla commented on #417
Hi Jason - Sorry for the late response.  But it is working great now.  I think I might have missed a step in the tutorial.

Regards,
Jay

[2018-12-17 05:55] salimguerid opened #460 "How to connect this with visual studio"
Interesting tutorial but how to connect it with a visual studio project? The first tutorial was using VS but this one is outside and therefore not really convenient to maintain. Is there a way to run this project using VS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b98fcab-f608-d0dd-08ab-633d4772f699
* Version Ind

[2018-12-17 18:32] bsdaniel commented on #447
Hi, thank you for your response. I have placed the recommended URL in my code and I am able to get the signed in users calendar events through the /users/{user-id} specified in your response, however, the more pressing issue is obtaining other users calendar events in the same manner.

Thanks.

[2018-12-18 11:36] Devang142 opened #462 "Actionable message as reply message comment"
Is this possible to send actionable message as reply message comment using graph Api? Using this api: https://docs.microsoft.com/en-us/graph/api/message-createreply?view=graph-rest-beta

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e36738b7-29cb-00c2-30e3-6065addee4c1
* Version Independent ID: 57a934d1-7e50-a144-d461-

[2018-12-18 14:41] mshafer1 opened #463 "This is a django tutorial, not a Python tutorial"
I'm trying to write a Python app to automate some Microsoft Forms settings, not a web site. While all the Django details are cool and would be helpful if I was trying to make a mail viewer, they get in the way and make it hard to tell what I do need for a desktop automation script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-12-18 19:08] bsdaniel commented on #447
Hi, the issue has been resolved. Thank you for your assitance.

[2018-12-18 19:08] #447 closed

[2018-12-20 08:55] manamelatumelo opened #467 "Cannot convert ISecurity to IAccount"
Just before "Now let's test our new function. Add a new function to the " I am getting an error saying I cannot convert Microsoft.Identity.CLient.User to Microsoft.Identity.Client.Account can someone please assist me with regards to this

[2018-12-20 17:14] kbrandl commented on #467
@manamelatumelo we'll need more information from you before we're able to assist. Specifically, can you please confirm which article in the docs this issue relates to? Is it the code samples in the [Write an ASP.NET MVC Web app to get Outlook mail, calendar, and contacts](https://docs.microsoft.com/en-us/outlook/rest/dotnet-tutorial) article that you're having trouble with?

[2018-12-20 17:16] kbrandl commented on #463
@mshafer1 thanks for the feedback about this article. @jasonjoh can you please review this issue and provide feedback?

[2018-12-20 17:17] kbrandl commented on #467
@jasonjoh FYI, I'm assigning this issue to you since it's related to REST.

[2018-12-20 17:25] kbrandl commented on #462
@Devang142 thanks for your interest in Outlook development. Issues here (in the **OfficeDev/outlook-dev-docs** repository) are intended for reporting errors/problems with the documentation. I'd recommend that you instead post this question to Stack Overflow with the **outlook** tag and the **office365** tag. By posting how-to questions such as this one to Stack Overflow, your question will be seen

[2018-12-20 17:25] #462 closed

[2018-12-20 17:37] kbrandl commented on #460
@salimguerid thanks for your interest in Outlook add-ins development. Since the file names and folder structure of the project that Yo Office (i.e., the Yeoman Generator for Office Add-ins) creates differs from the file names and folder structure of a Visual Studio project, a project that you create using Yo Office (as is done in this tutorial) cannot be run using Visual Studio.

However, you coul

[2018-12-20 17:37] #460 closed

[2018-12-21 00:02] rykoma opened #469 "The description of "Mailbox type limitations" section is not appropriate"
I can understand that the on send feature is not supported for the following 3 scenario.

1. Shared mailbox
2. Offline mode
3. Group mailbox

But, the offline mode is not "Mailbox type". And the usage of the shared mailbox and the group mailbox is completely different. Therefore, it is not appropriate to describe these 3 scenarios at the same time.

The behavior for each scenario is as follows:

-

[2018-12-26 17:33] kilasuit opened #471 "Add PowerShell Examples in the drop down"
Lots of IT Admins will likely use the Graph API but do so using command line scripting languages like PowerShell.

In the Getting Started section you should also add similar guides to the Python and Ruby ones (which are still full Graphical Applications) for users that would prefer working with these in a scripted manner using a language like PowerShell and to return it to them in the Objects that

[2018-12-26 17:40] kbrandl commented on #469
@rykoma thank you for the feedback about this article. We'll look into this and will update the article as appropriate.

[2018-12-26 17:42] kbrandl commented on #469
@ElizabethSamuel-MSFT looks like you've updated this article in recent months; can you please look into this issue? Thanks!

[2018-12-26 17:44] kbrandl commented on #471
@jasonjoh FYI - since this issue is related to Outlook REST APIs content, I've assigned it to you. Thanks!

[2018-12-27 00:32] kbrandl commented on #427
@SteveClements apologies for the delayed reply. Per the response I received from the product team, we're unable to provide specifics regarding the future availability of the on send feature in the Outlook 2016 windows app. This article will be updated as soon as the feature becomes available on additional platforms.

[2018-12-27 00:32] #427 closed

[2018-12-27 00:36] kbrandl commented on #345
@TobyFish Since I'm unable to reproduce the issue that you've described. I'm going to close this issue. If you're still having this problem, please comment again here in this thread to request that we reopen the issue. And if/when you do that, please also provide the following information in your comment:
* Platform [PC desktop, Mac, iOS, Office Online]: ______
* Host [Excel, Word, PowerPoint, etc

[2018-12-27 00:36] #345 closed

[2018-12-27 20:51] kbrandl commented on #370
The two articles I referenced in [my previous comment](https://github.com/OfficeDev/outlook-dev-docs/issues/370#issuecomment-443346002) will be updated with this information when doc updates are published later this week.

[2018-12-27 20:51] #370 closed

[2018-12-27 23:49] kbrandl commented on #143
PR #475 addresses the feedback in this issue; docs will be updated later this week after the PR gets merged and the docs are refreshed.

[2018-12-27 23:49] #143 closed

[2018-12-27 23:53] kbrandl commented on #322
@glittle thank you for the feedback. This quick start will be updated later this week when PR #475 is merged and the docs are refreshed.

[2018-12-27 23:53] #322 closed

[2018-12-28 16:36] bsdaniel opened #477 "Inquiry"
I am not sure if the syntax is the same with different post methods. Where the only change is  when the graph is actually called....const result = await client
      .api('/me/contacts')
      .top(10)
      .select('givenName,surname,emailAddresses')
      .orderby('givenName ASC')
      .get();
I pressume that if you wanted to just post data then you would change the get() to post(). Correct?

-

[2018-12-29 09:30] zeki893 opened #478 "legacy card email"
tried the legacy card email to MSteams but just showed the text :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fa51748-908b-c781-39b2-09c961b1637a
* Version Independent ID: 51b88c0a-29d3-2ca8-0b54-d96be4779dd2
* Content: [Legacy actionable message card reference - Outlook Developer](https://docs.microsoft.com/en-us

[2018-12-29 09:32] zeki893 commented on #452
Do adaptive cards work with webhooks? It doesn't work for me. I can only use legacy cards with webhooks.

[2019-01-03 08:43] tnsholding opened #479 "Exchange Identity token validation error - Audience validation failed."
The example code for validating Exchange Identity token fails. It seems Outlook sometimes applies a querystring "?et=xxx" (license check querystring) in the token audience. When checking against the base audience (url to add-in) the code generates a SecurityTokenValidationException stating that the audience did not match.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-01-03 12:02] shaikhshadab00 opened #480 "Warning: Office.js is loaded outside of Office client"
I am following each step one by one to create outlook Add-in by using Node.js and yo generator-office. write a command to start the web server and load a URL of index.html 'https://localhost:3000'. page load properly but getting an warning message on console "Warning: Office.js is loaded outside of Office client"  and can't parse office item to fetch message. in .js file

---
#### Document Details

[2019-01-03 19:52] kbrandl commented on #480
@shaikhshadab00 sorry to hear that you've run into this problem. Are you seeing the "Warning: Office.js loaded outside of Office Client" message whenever you load `https://localhost:3000` in a web browser (as described in [step #2](https://docs.microsoft.com/en-us/outlook/add-ins/quick-start?tabs=visual-studio-code#start-the-dev-server) in the **Start the dev server** section of this article)? If

[2019-01-03 19:53] kbrandl commented on #479
@tnsholding sorry to hear that you've run into this problem. @jasonjoh are you able to provide feedback about this issue?

[2019-01-04 09:44] tnsholding commented on #479
I seem to have a temporary workaround/hack, by inspecting the token for a querystring and appending that dynamicall to the expected audience like this:
[code]
But I really think the jwt token should not contain dynamic data in the first place.

[2019-01-04 12:10] shaikhshadab00 commented on #480
@kbrandl Thank you for prompt reply. i am not getting any warning message when the add-in loads within Outlook. work perfectly fine now.

[2019-01-04 12:10] #480 closed

[2019-01-04 17:35] saipraneeeth opened #481 "First party Add-in for shared mailbox"
If there is a use-case can a particular first-party add-in be enabled for shared mailboxes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38eec72d-c430-1f17-5372-ae34fa59995d
* Version Independent ID: 17e688af-f421-f220-54dd-e5aecccd520b
* Content: [Outlook add-ins overview - Outlook Developer](https://docs.microsoft.

[2019-01-04 20:39] kbrandl commented on #481
@exextoc are you able to provide feedback about this question?

[2019-01-04 20:53] exextoc commented on #481
@saipraneeth Could you claify what you mean by 'first-party'?
We track Outlook add-in feature requests on our user-voice page (https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins).
It looks like the feature you want, add-in in shared mailbox, has been requested by others already. Please upvote the existing request https://officespdev.uservoice.com/forums/224641-

[2019-01-05 01:36] saipraneeeth commented on #481
@exextoc By first party I meant Microsoft's add-in. (My-Analytics). Is this feature being considered anytime soon? Can an exception be made to first party apps and allow them in shared mailboxes? And yeah I have voted!!

[2019-01-07 15:04] jasonjoh commented on #478
Sorry to hear that @zeki893. Can you provide a bit more detail on what you tried? Teams doesn't support actionable message cards via email, so that might be your issue. In order to get an actionable card in a Teams conversation, you have to post via a connector.

[2019-01-07 15:17] jasonjoh commented on #479
Redirecting to @exextoc.

[2019-01-07 15:20] jasonjoh commented on #477
@bsdaniel it would be better to ask questions about how to use the JS SDK on their GitHub repo: https://github.com/microsoftgraph/msgraph-sdk-javascript. They have some samples of using `post` in their README: https://github.com/microsoftgraph/msgraph-sdk-javascript#post-and-patch

[2019-01-07 15:20] #477 closed

[2019-01-07 15:22] jasonjoh commented on #471
Thanks for the feedback. PowerShell is on our backlog for Graph (https://docs.microsoft.com/en-us/graph/tutorials) but I can't commit to a specific timeframe.

[2019-01-07 15:22] #471 closed

[2019-01-07 15:31] jasonjoh commented on #467
@manamelatumelo the Azure team refactored the MSAL client library and introduced a breaking change that is causing this error. The Graph equivalent of this tutorial (https://docs.microsoft.com/en-us/graph/tutorials/aspnet) has been updated to use the newer MSAL versions, but this one has not.

You can either give the Graph tutorial a try, or you can unblock this Outlook tutorial by installing `Mic

[2019-01-07 15:34] jasonjoh commented on #463
Thanks @mshafer1, understood. I have a backlog item to create "console" samples (not just for Python but for other languages as well). Keep an eye out on the Graph doc site (https://docs.microsoft.com/en-us/graph).

[2019-01-07 15:34] #463 closed

[2019-01-07 16:33] jasonjoh commented on #452
@sguryev there aren't any official class libraries for the MessageCard format, but they are fairly straightforward to implement.

@zeki893 Adaptive does not work with webhooks, only via email.

[2019-01-07 17:14] #363 closed

[2019-01-07 17:14] #423 closed

[2019-01-07 17:14] #452 closed

[2019-01-08 11:44] Joon opened #485 "Module extensions are also supported on Outlook 2019 for Windows"
The document states 2016, it should be updated to include 2019 also.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4a761a9-7ba9-b93d-dd5c-b5ca68f80fb0
* Version Independent ID: 11634b31-12a3-401b-acc7-7bbe90901f8b
* Content: [Module extension Outlook add-ins - Outlook Developer](https://docs.microsoft.com/en-us/outlo

[2019-01-08 16:51] kbrandl commented on #485
@Joon thank you for the feedback. This article will be updated later this week when PR #486 is merged and the docs are refreshed.

[2019-01-08 16:51] #485 closed

[2019-01-08 18:59] #481 closed

[2019-01-09 09:52] qazqwertish opened #488 "Calling a SharePoint REST API Endpoint"
In the action processing phase, you specify that our service should verify the bearer token, but, in this case we are using a SharePoint REST API endpoint. The behavior is:
- When making the call, we receive a 401 Unauthorized.
- If we include the header like it is specified in this post ("headers": [ { "name": "Authorization", "value": "" } ]) we receive a 403 Forbidden.

Is there a direct way to

[2019-01-09 13:59] jasonjoh commented on #488
No, you can't call it directly. The problem is that you need an access token compatible with the SharePoint REST API with whatever appropriate permission scopes you need for that particular API, and the token that we send isn't setup for that.

What you should do is have a backend service/web API that your actionable message targets, then have your service make the SharePoint REST call.

[2019-01-09 16:23] qazqwertish commented on #488
Thank you very much for your help @jasonjoh.

We thought about that solution, but the endpoints we need (i.e. the Like action in a post) depend on the user itself and we cannot "like" a post on behalf of another user. The endpoint expects only the ID of the post and whoever makes the call will be the author of that action.

The other solution we thought was to have just a link in the email that wi

[2019-01-11 23:34] exextoc commented on #479
Do you have the license string (?et=...) in your SourceLocation in your manifest? https://stackoverflow.com/questions/53045436/license-implementation-on-outlook-add-in-with-react-and-yeoman-office-generator, https://docs.microsoft.com/en-us/office/dev/store/add-license-checks-to-office-and-sharepoint-add-ins

If so they should be removed when testing getUserIdentityTokenAsync. Or is this on an alr

[2019-01-13 11:17] tnsholding commented on #479
I don't have the license string in my manifest. It's failing after submitting to AppSource for validation. I can't reproduce the error myself, but the testers trigger this error. Thats why I thougt it could happen with specific Outlook versions.
I'm running fine with the workaround above for now, but still curious why the token sometimes includes the querystring.

[2019-01-14 18:24] ksargent1216 opened #491 "Great article! Small issue that needs correct"
Team, great job on this article! One of the best I've seen. As I followed through the flow I notice this small error:

In the document, the line that says this:
Then add the following line after the app.use('/', index); line.
Should say:
Then add the following line after the app.use('/', indexRouter); line.

It was easy enough to figure out, but for accuracy's sake I submit the feedback

---
####

[2019-01-14 18:43] jasonjoh commented on #491
Thanks for the feedback! I'll get this fixed.

[2019-01-16 06:40] AjitHogade opened #492 "use of same above code error on upload"
http://schemas.microsoft.com/office/mailappversionoverrides/1.1 has invalid child element "MobileFactor" in namespace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10396ff6-4220-fa0c-22ba-3c2c304126f6
* Version Independent ID: 1fccbed9-2d68-a831-d40d-5b7629473aa7
* Content: [Add mobile support to an Outlook add-in -

[2019-01-17 15:34] VineetMore opened #494 "Not able to sign in. Says Client ID is required."
I have followed the same code present at the below mentioned link but whenever I click on Login I get an error as Not able to sign in as Client ID is require. Can you please guide me where am I making mistake?

https://docs.microsoft.com/en-us/outlook/rest/dotnet-tutorial#implementing-oauth2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-01-17 15:36] jasonjoh commented on #494
Double-check the first part of that section that details creating an AzureOauth.config file and putting in your client ID, secret, etc.

[2019-01-18 14:48] PeterWxin commented on #478
May I know what action the Approve button will take when the actionable message posted in Teams?
Thank you!

[2019-01-20 11:28] GIRISHKUMARMS opened #497 "Outlook addin issue in mobile app - Get the attachments from the Exchange server"
Hello All,

have and issue. I created a Outlook addin and testing it via manifest file upload. Both windows outlook client and web clients can process attachments & upload attachments to SharePoint and the add-in works. However, on android outlook app the attachment token returns wrong.

Actually, I came to know, its returning **wrong callback** token to access exchangeService and get response. If

[2019-01-21 05:40] rickmcctx opened #498 "Creating the add-in command"
The opening section on "Creating the add-in command" makes no sense to me.  I have a rich background in system integration.  There are no links in it to find out how to do this.  How do you declare an add-in command in the VersionOverrides element?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f7445e8-6fd2-594c-3236-

[2019-01-21 06:45] rickmcctx commented on #498
What I am trying to investigate is how I can create an Outlook command to pass a message including attachments to an api in another separate program.  Then, that separate program will prompt the user to enter information and then that program will file the message and attachments in a separate data base.

[2019-01-21 14:50] harapriya1989 commented on #246
Hi,
how to show the email body .tried all possible ways with no success

[2019-01-22 09:43] harapriya1989 commented on #246
Hi,
how to show the email body .tried all possible ways with no success

[2019-01-23 19:07] cliplicht opened #499 "Addin not present!"
Platform: Mac OSX Mojave (latest)
Product: Outlook
Version: 16.22.0 (19012002)

I loaded the add-in over the manifest.xml into Outlook via the Store button. The add-in is also shown in the Store UI but no CustomTab is shown in Outlook!

on the Windows platform the add-in works fine!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-01-24 06:18] shivasurya opened #500 "State Parameter missing"
Hello,
How do I use state parameter with this nodejs wrapper library? Does Microsoft Oauth supports state params which helps me to prevent from unwanted security issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b47c58-f96e-dca0-6ae6-0e22bda41a07
* Version Independent ID: 760e409d-5f01-7bf2-0c8e-a05e75afa711
* C

[2019-01-24 13:12] jasonjoh commented on #500
Yes, Azure's OAuth supports the state parameter, see https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-authorization-code.

This sample uses the [simple-oauth2 library](https://github.com/lelylan/simple-oauth2), which supports the state parameter as well, see https://github.com/lelylan/simple-oauth2#authorization-code-flow.

[2019-01-24 13:12] #500 closed, assigned to nobody

[2019-01-24 13:18] jasonjoh commented on #253
Nothing specific. I would secure it like any other sensitive customer data. The Azure folks might have more specific guidance if you asked on Stack Overflow with the `azure-authentication` tag.

[2019-01-24 13:23] shivasurya commented on #500
Thank you so much

[2019-01-24 15:17] huchenhai commented on #253
Hi Shivasurya, what I did was creating a token table associated with user
table and stuff like refresh token and expiry time are all stored there.
Saving a refresh token has nothing special, just do as a normal string. And
whenever check a token, compare it's expiry time.

On Thu, Jan 24, 2019 at 1:23 AM s.shivasurya <notifications@github.com>
wrote:

[2019-01-25 06:45] shivasurya commented on #253
Thank you @huchenhai , it would be better to encrypt and store.

[2019-01-27 00:46] prp1277 commented on #420
Any update on customizing hooks for MS Teams? I'd like to set up hooks to track project boards etc. for better functionality than just issues and pull requests than the current [GitHub App](https://www.v-empower.com/githubtab/index.html#app) offers.

[2019-01-28 11:15] qazqwertish opened #504 "Cannot add "Text Input" value within "Open Url" path"
I am trying to add the content of a text input in an actionable message within the url I am calling when pressing the OK button.

The input is "Input.Text" with an ID (i.e. "**inputTextId**"), then the action is "Action.OpenUrl" with url: **http://myurl?content={{inputTextId.value}}**.

Is this functionality exclusively available for the actions of type "Action.Http" and only on its Body?

---
###

[2019-01-28 13:44] jasonjoh commented on #504
[Input value substitution](https://docs.microsoft.com/outlook/actionable-messages/adaptive-card#input-value-substitution) only applies to `Action.Http`, and can be either in the URL or the body. I don't see any support for input value substitution on [Action.OpenUrl](https://docs.microsoft.com/adaptive-cards/authoring-cards/card-schema#schema-action.openurl)

[2019-01-28 13:44] #504 closed

[2019-01-29 17:36] ElizabethSamuel-MSFT commented on #498
@rickmcctx: Sorry that the section was not clear. For more info, consider looking at [VersionOverrides element](https://docs.microsoft.com/office/dev/add-ins/reference/manifest/versionoverrides) and [Create add-in commands in your manifest](https://docs.microsoft.com/office/dev/add-ins/develop/create-addin-commands). If that is not enough, please let us know. Thanks.

[2019-01-29 17:36] #498 closed

[2019-01-29 18:03] ElizabethSamuel-MSFT commented on #435
We've updated the Exchange text in the table and the changes should be merged and go live soon. Thanks.

[2019-01-29 18:37] ElizabethSamuel-MSFT commented on #492
@AjitHogade: Sorry you're hitting this issue. Can you share your manifest?

The error notes "MobileFactor" but the example says "MobileFormFactor" - Is that a typo in the issue or your manifest?

For more info, consider looking at [manifest v1.1 examples](https://docs.microsoft.com/office/dev/add-ins/develop/add-in-manifests?tabs=tabid-3#manifest-v11-xml-file-examples-and-schemas) and [VersionOver

[2019-01-29 20:46] exextoc commented on #479
@tnsholding What kind of [license type](https://docs.microsoft.com/en-us/office/dev/store/how-licenses-work#types-of-add-in-licenses) does your add-in use? Is it a Free license type, or a Paid/Subscription license?

And just confirming, are you unblocked on your AppSource submission?

[2019-01-31 16:04] JensSteckhan opened #508 "InvalidAuthenticationToken: CompactToken parsing failed with error code: 80049217"
Love this tutorial and could reproduce it fine up to and including the "sign out" bit. After doing the code changes for "refreshing the access token" and "using the mail API", I can still sign in and out, but the app fails when I try to display the inbox. When I click on the Inbox tab, I get the following error in the debug section: "{
  "code": "InvalidAuthenticationToken",
  "message": "CompactT

[2019-02-01 13:17] OfficeGSX opened #509 "[LOC] Broken link in an article"
There is a broken link in an article

**repro steps**:
1. go to [https://docs.microsoft.com/en-us/outlook/add-ins/](https://docs.microsoft.com/en-us/outlook/add-ins/)
2. Search for "custom form" link
3. Click on the link

**Actual results**:
Link redirects to a non existing page
**Expected results**:
Link should redirect correctly

**GH article**:
https://github.com/OfficeDev/outlook-dev-docs/blob

[2019-02-01 13:22] jasonjoh commented on #508
@JensSteckhan I'm glad you like it, but sorry you're having trouble :). That error is returned from the Microsoft Graph API. Whenever you have a token problem like that, it's always helpful to parse the token and see if there's something wrong with it (as the error indicates). Can you try parsing it at https://jwt.ms?

Also, what type of account are you signing in with, an Office 365 account, or a

[2019-02-01 13:55] JensSteckhan commented on #508
Thank you for getting back to me, I was getting rather desperate over here! I am using my company's Office 365 account. When I enter the token string at jwt.ms, nothing happens. I guess that is a sign that I am doing something wrong?

[2019-02-01 16:47] jasonjoh commented on #508
Hmm yes, the string should parse out to a JSON web token. Let's try this: can you go to [Graph Explorer](https://developer.microsoft.com/graph/graph-explorer) and try signing in with that same account, then see if you can make a simple API call?

[2019-02-01 17:55] ElizabethSamuel-MSFT commented on #509
Thanks for raising this issue. The broken link has been removed and the change should be published live soon (likely next week).

[2019-02-01 17:55] #509 closed

[2019-02-02 18:51] JensSteckhan commented on #508
Hi Jason, thank you for helping me here. Yes, I can sign in to Graph Explorer with my company account, make API calls and get meaningful results :-)
Just to avoid a possible misunderstandings: in auth.js, the function getTokenFromCode logs the token to the console. It is of type 'Bearer' and has a 676 character ASCII string as access_token. I took that string and pasted into the upper text field o

[2019-02-04 14:53] JensSteckhan commented on #508
I looked into the code in getTokenFromCode in auth.js one more time. It is supposed to take an auth code, post it via simple-oauth2 to the auth server and retrieve an access token, right?

This is the code:
   let result = await oauth2.authorizationCode.getToken({
      code: auth_code,
      redirect_uri: process.env.REDIRECT_URI,
      scope: process.env.APP_SCOPES
    });
    const token = oaut

[2019-02-04 15:01] jasonjoh commented on #508
Ah, I think I see the problem. Based on your paths, you're using Azure's V1 auth endpoints, but this sample is expecting to use the v2 endpoints. The v1 endpoints don't understand the `scope` query parameter, and instead expect a resource URL. Try changing them to:

[code]

This is assuming that you registered in the Application Registration Portal (per https://docs.microsoft.com/outlook/rest/node

[2019-02-04 15:36] JensSteckhan commented on #508
You made my day!!
Thank you, that did the trick.

[2019-02-04 15:38] jasonjoh commented on #508
Glad that fixed it. Happy coding!

[2019-02-04 15:38] #508 closed

[2019-02-05 10:32] Konradox opened #514 "Side loading for outlook desktop is outdated"
In new outlook, the Get Add-ins button is opening shop website. I can't find any way to upload my own add-in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70e6c303-4a9f-4d68-eb9a-b47d61190a25
* Version Independent ID: 42936d64-c5cd-4999-e348-3a0304f8a6e8
* Content: [Sideload Outlook add-ins for testing - Outlook Deve

[2019-02-05 16:12] kbrandl commented on #514
@Konradox in the window that opens when you choose the **Get Add-ins** button or **Store** button, do you see the option to choose **ADD-INS** (# 1 in the screenshot below), **My add-ins** (# 2 in the screenshot below), and **Add a custom add-in** (# 3 in the screenshot below)?

![image](https://user-images.githubusercontent.com/3019529/52286768-a5905200-291d-11e9-93fa-9b6f3392a8ba.png)

[2019-02-05 16:23] Konradox commented on #514
I'm sorry, I thought I've described problem correctly but I did not.
I've got this issue in the desktop version of Outlook. In the web, it's working correctly.
The desktop version won't show me any window like you have posted or like in the docs tutorial. It's always opening this page:
![image](https://user-images.githubusercontent.com/9269007/52287547-a6030a00-296a-11e9-9232-dea13c461723.png)

[2019-02-05 16:38] kbrandl commented on #514
@Konradox thanks for the clarification. Interestingly, I'm unable to reproduce this issue -- the screenshot I posted in my earlier comment is what I see when I choose the **Get Add-ins** button in Outlook 2016 on Windows (version 1902, build 11362.20000).

Can you please tell us the specific **version** and **build** of Outlook 2013 and Outlook 2019 in which you're seeing the behavior you've descr

[2019-02-05 16:48] Konradox commented on #514
Outlook 2019 version 1901 build 11231.20130 (16.0.11231.20122)
Windows build 18323.19h1 - It's an insiders preview version (maybe there is a problem?)

Second PC:
Outlook 2013 version 15.0.5101.1000 (no build information here)
Windows - same build as above

[2019-02-05 16:59] kbrandl commented on #514
@Konradox thanks for providing this information.

@exextoc are you able to provide any input on this issue?

[2019-02-05 18:53] ElizabethSamuel-MSFT commented on #252
@pickartzu: We added a section about checking the domain by using Autodiscover. This change should be published live soon (likely sometime this week). Thanks again for raising this issue.

[2019-02-05 18:53] #252 closed

[2019-02-05 22:51] KevaNewman opened #516 "Outlook Add-In icon is not created"
I followed this tutorial, [https://docs.microsoft.com/en-us/office/dev/add-ins/develop/add-ins-with-angular2](url). Used the angular setup and got the add-in added in managed add-ins in outlook Web.
The icon for the add-in is not generated afterward and i cant see the sidebar with my add-in.
angular 6.4.0, VSCode 1.30.2. I also ran the yo validation cli command and the xml file passes.

[2019-02-06 13:38] glr0221 opened #518 "Is contextual add-in supported on "the new outlook" for web browsers?"
This document states that only outlook for IOS and ANDROID do not support contextual addins.
Recently though, outlook made its new UI/Interface available for its web interface. And I noticed that with my desktop computer and web browser, with "the new outlook" enabled, contextual add ins were not showing up. Does this mean that "the new outlook" interface does not support contextual addins too? Th

[2019-02-06 16:06] Nea1591 opened #519 "Outlook body content in Text format rather than HTML format"
Hi,

I am trying to get the body of the mail in text format in mail.hbs file but i am not able to do it.

I am able to  see a JSON response in the Debug window listing the messages returned by the API.
I have also included email body in the request but the content type is html .
Please  help to get the email body in text format.

      **"receivedDateTime": "2019-02-05T11:46:19Z",
      "subject":

[2019-02-06 18:57] ElizabethSamuel-MSFT commented on #469
@rykoma: We've updated the article and the change should go live soon (likely later this week). Thanks again for your feedback!

[2019-02-06 18:57] #469 closed

[2019-02-07 08:40] Nea1591 commented on #519
@jasonjoh Please help me to slove this issue.

[2019-02-07 13:08] jasonjoh commented on #519
@Nea1591 issues in this repository are reserved for problems with the documentation itself, and this is more of a how-to question. Have you posted this on Stack Overflow?

[2019-02-07 13:11] Nea1591 commented on #519
@jasonjoh i haven't posted it on Stack Overflow.
Thanks :)

[2019-02-07 19:22] exextoc commented on #514
@Konradox Would you like to share fiddler trace to help us to identify the cause? Thanks

[2019-02-07 19:30] #516 closed

[2019-02-07 20:16] kbrandl commented on #518
@glr0221 thanks for reaching out about this. @exextoc can you please provide feedback to @glr0221's question about whether or not the **_new_** Outlook on the Web supports contextual add-ins?

[2019-02-07 20:30] GermanEZI opened #520 "The documentation appears incomplete"
I could not get this to work initially.  It turns out that you must embed the VersionOverride element that contains the MobileFormFactor inside of another VersionOverride element.

Here is a sample:  Note that the VersionOverride1.1 element is embedded within a VersionOverride1.0 element.

https://github.com/OfficeDev/outlook-add-in-command-demo/blob/master/command-demo-manifest.xml

---
#### Docu

[2019-02-08 18:10] exextoc commented on #518
@glr0221 Contextual add-in is supported on "the new outlook" web. Please give more details so that we can provide help if your add-in behavior is unexpected.

[2019-02-11 13:02] jasonjoh commented on #494
Closing due to no response.

[2019-02-11 13:02] #494 closed

[2019-02-11 13:04] jasonjoh commented on #478
Closing due to no response.

[2019-02-11 13:04] #478 closed

[2019-02-12 05:39] glr0221 commented on #518
@exextoc and @kbrandl  thank you for your prompt responses. I am attaching three images on this comment, (1) two images of classic outlook view showing command button  and contextual add-ins and (2) an image of the new outlook view on a web browser showing command button add-ins.
It may be that I just don't know where to look at. In my outlook account, I have installed a third party contextual add

[2019-02-12 18:14] ElizabethSamuel-MSFT commented on #394
Closing as there has been no response.

[2019-02-12 18:14] #394 closed

[2019-02-12 18:14] ElizabethSamuel-MSFT commented on #389
Closing as there has been no response.

[2019-02-12 18:14] #389 closed

[2019-02-12 18:38] ElizabethSamuel-MSFT commented on #520
@GermanEZI: Thanks for pointing that out. I've added a link to the VersionOverrides element which provides more details about how to use/configure it. The doc update should be published soon, likely this week.

[2019-02-12 18:38] #520 closed

[2019-02-12 18:58] ElizabethSamuel-MSFT commented on #238
@MarkyDeParky, @bplus:  Thanks for pointing this out and we're working on it. In the meantime, you can take a look at the screenshot in the [quick start](https://docs.microsoft.com/outlook/add-ins/quick-start?tabs=visual-studio#try-it-out) to get an idea of where the add-in command buttons are displayed.

[2019-02-12 19:06] ElizabethSamuel-MSFT commented on #238
[Internal tracking](https://office.visualstudio.com/OC/_workitems/edit/3069188)

[2019-02-12 19:08] Kontra21 commented on #294
I had the exact same issue until I implemented the signing out process. Then it went away

[2019-02-14 18:45] kbrandl commented on #518
@glr0221 thanks for providing these screenshots. I spoke with @exextoc yesterday to make sure they were aware you'd provided this information, and they should be following up with you soon on this issue.

[2019-02-15 12:28] glr0221 commented on #518
thanks @kbrandl. I also have another issue related to outook contextual addins. But I need a few more data to show/state my issue clearly. If that happens I will create another ticket. Thank you and sorry for the trouble.

[2019-02-19 10:52] bhatnagarsaddy opened #528 "Office.context.mailbox.Item.start giving wrong value in Outlook for Mac"
I am fetching the start date of Meeting recurrence in outlook WebAddin using office.js API
 "Office.context.mailbox.item.Start".

**I am getting wrong start date value in case of "Outlook App for Mac".**

The value is showing up correctly everywhere else :

1. Outlook App for window
2. Outlook webApp
3. O365
4. Outlook WebApp in Safari.

**For an instance,** If there is a meeting recurrence which

[2019-02-20 15:05] exextoc commented on #518
@glr0221 Can you please share the manifest file for us to understand the issue ?

[2019-02-21 12:54] glr0221 commented on #518
Hello @exextoc here is a copy of the xml file we are using for this particular add-in.

[ExchangeManifest.zip](https://github.com/OfficeDev/outlook-dev-docs/files/2889330/ExchangeManifest.zip)

I hope this helps, thank you.

[2019-02-22 12:21] exextoc commented on #518
@glr0221 Are you sure this is the manifest file being used ? It doesn't have any extension point as below
`<ExtensionPoint xsi:type="DetectedEntity">`
Please refer to this documentation
https://docs.microsoft.com/en-us/outlook/add-ins/contextual-outlook-add-ins

[2019-02-26 07:53] glr0221 commented on #518
@exextoc First off, thank you very much for taking time to analyse the manifest. I apologize for the slow response because I took time to review the outlook add-in documentation as you have pointed out and other notes as well. You are correct in assessing that contextual add-ins MUST have the <ExtensionPoint xsi:type="DetectedEntity"> element.

However, our add-in manifest was based on two stock/d

[2019-02-26 12:10] kharenzze opened #532 "Design guideline: Icon set"
Where can I find the set of icons for iOS and Android?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aef2c9cc-3f5b-b2b1-dd84-08a910a74c64
* Version Independent ID: df0d841a-6e7b-bb95-99b8-dae7fc950f35
* Content: [Outlook add-in design - Outlook Developer](https://docs.microsoft.com/en-us/outlook/add-ins/outlook-addin-

[2019-02-26 14:00] shahroon commented on #395
@kbrandl any update on updated documentation?

[2019-02-27 02:39] exextoc commented on #518
Thanks a lot for your detailed response. We don't support add-in bar in new outlook. It was announced in this post: https://developer.microsoft.com/en-us/outlook/blogs/make-your-add-ins-available-in-the-office-ribbon/
To know more about contexual add-ins you can refer to this document: https://docs.microsoft.com/en-us/outlook/add-ins/contextual-outlook-add-ins

[2019-02-27 05:19] glr0221 commented on #518
@exextoc @kbrandl Thank you both for taking time to make sure I get the right response. I really appreciate it. We do have a command add-in version of the manifest we tried to dissect. I think this issue/ticket can be closed now. Again, thank you both  very much for your support and time.

[2019-02-27 14:49] dmahugh commented on #518
Great to hear you have the info you need here, @glr0221. I'll close the issue.

[2019-02-27 14:49] #518 closed

[2019-02-27 19:14] kbrandl commented on #395
@shahroon this documentation request is still in the backlog. In the meantime though -- to publish/deploy your add-in, you just need to *deploy your web app to a web server* and then use one of the techniques in [Deploy and publish your Office Add-in](https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish) to make the add-in accessible to end-users. There are lots of options for how a

[2019-03-04 09:58] jaknudsen commented on #281
Outlook add-ins are activated in shared mailboxes in Outlook 2016 for Mac.

[2019-03-07 09:03] igor-krein opened #536 "Getting ErrorItemNotFound while trying to retrieve some attachments"
In most cases, the scheme of getting attachment data with the help of Outlook REST API works well, but sometimes it fails, for the reason I can't understand. For clarity: I get the message and attachment ids from the Outlook.js API, convert them (convertToRestId), get proper access token, send everything to the back-end and make the Outlook REST API call from there to get the attachment content. I

[2019-03-07 11:11] dudjima opened #537 "add doesn't work"
I had following [tuto ](https://docs.microsoft.com/en-US/outlook/add-ins/quick-start?tabs=visual-studio-code) step by step, but after all steps. it doesn't work. My add-in not return values. I see the side bar. I started the tutorial 5 times again. (every time step by step)

![image](https://user-images.githubusercontent.com/36198494/54015843-46726700-4181-11e9-80e2-0f2f29d4992e.png)

index.js
[co

[2019-03-07 15:46] jamesdruhan opened #538 "Outlook 2016 Desktop Custom add-ins option Missing"
I am running Microsoft Outlook 2016 (Desktop) and on the section "Sideload an add-in in Outlook on the desktop" --> Step # 4, there is no "Custom add-ins" section in my application.

https://docs.microsoft.com/en-us/outlook/add-ins/sideload-outlook-add-ins-for-testing#sideload-an-add-in-in-outlook-on-the-desktop

Is there a way of disabling this feature? If so, how to enable it?

![image](https://

[2019-03-07 19:16] kbrandl commented on #538
@jamesdruhan sorry to hear that you've run into this problem. I've never heard of this happening before (i..e, **Custom add-ins** section missing altogether), but I've reached out to the product team to inquire as to potential causes. I'll update this GitHub issue thread as soon as I hear back.

[2019-03-08 15:07] kbrandl commented on #538
@jamesdruhan I've heard back from the product team and it sounds like your O365 Admin has likely disabled the Custom Add-ins capability (as described in [this article](https://docs.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online/add-ins-for-outlook/specify-who-can-install-and-manage-add-ins)). I recommend that check with your O365 Admin to see if they're willing/able to restore

[2019-03-08 15:07] #538 closed

[2019-03-08 19:55] ElizabethSamuel-MSFT commented on #492
@AjitHogade: I'm going to close this out now. If you're still facing this problem, let us know and we'll re-open this issue. Thanks.

[2019-03-08 19:55] #492 closed

[2019-03-11 12:40] dcegress opened #539 "OnSendAddins for on-premise"
Regarding the note at the top of the page stating that OnSendAddins is for office 365 only (also on the Set-OWAMailboxPolicy commandlet page).

Is this still the case, the functionality has been in Exchange 2016 on-premise since CU6 in 2017,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 423fb893-bedd-e004-5102-c13c4be

[2019-03-12 16:10] ElizabethSamuel-MSFT commented on #532
@kharenzze: Thanks for your question. I'll look into this and get back to you. Thanks.

[2019-03-12 16:12] ElizabethSamuel-MSFT commented on #537
@dudjima: I'm sorry you're hitting an issue with the tutorial. I will dig into this and let you know my findings. Thanks.

[2019-03-12 16:14] ElizabethSamuel-MSFT commented on #539
@dcegress: Thanks for pointing this out. We'll look into this and update the docs as needed. Thanks.

[2019-03-12 17:03] ElizabethSamuel-MSFT commented on #539
@exextoc: Can you take a look at this? I'll update the documentation if this is the case. Thanks.

[2019-03-12 17:31] ElizabethSamuel-MSFT commented on #532
@kharenzze: Take a look at [Office UI Fabric](https://docs.microsoft.com/office/dev/add-ins/design/office-ui-fabric) and [available icons](https://developer.microsoft.com/fabric#/styles/icons). I'll close this issue but if you still need help or clarification, let us know and we'll reactivate this issue. Thanks.

[2019-03-12 17:31] #532 closed

[2019-03-12 18:02] ElizabethSamuel-MSFT commented on #537
@dudjima: I tried this on a message in classic Outlook on the web, new Outlook on the web, and Outlook Desktop and data was displayed in the add-in task pane:
![image](https://user-images.githubusercontent.com/28541963/54223902-b8b2b680-44b5-11e9-9fb2-fa64af7588bc.png)

Can you let us know which Outlook client you were using?

Thanks.

[2019-03-13 05:29] exextoc commented on #539
Bug 1049950<https://o365exchange.visualstudio.com/web/wi.aspx?pcguid=d1a8f71c-7f64-45ad-9c5c-19c2f469d620&id=1049950>: [OfficeDev/outlook-dev-docs] OnSendAddins for on-premise (#539)

Created using VSTS Outlook add-in<https://www.owiki.ms/wiki/VSTS_Add-In_for_Outlook>

[2019-03-14 20:04] 0mitted opened #540 "High Handed"
"Let's dive right in! To start, we're going to use PHP 7.1, Composer and Laravel to quickly create our PHP app. If you don't already have these tools installed, please install them before proceeding."

Really?  I find assuming that I want to use that development environment offensive!  Examples should be as simple as possible with few, if any dependencies. (All you should really need is an environ

[2019-03-15 15:08] ApollosPerson opened #541 "initial sign in issues"
Everything goes well until I go to sign into my account for the first time. It doesn't accept my password, and it doesn't re-route me to an error page showing me the authorization code. It simply just returns me to the outlook sign in page with validation errors. I cannot figure out where I went wrong, nor where I would go to correct this. Any friendly nudges in the right direction would be much a

[2019-03-15 15:28] jasonjoh commented on #540
Thanks for the feedback @0mitted. I agree that samples should be simple as possible, but we also needed to balance that with ease of getting all of the dependencies and environment up and running, as well as making it accessible for folks that aren't necessarily PHP experts. This document is more than just an example, it's a walkthrough to build a simple app from scratch. The intent wasn't to assu

[2019-03-15 15:28] #540 closed

[2019-03-15 15:30] jasonjoh commented on #541
It would be good to put breakpoints on the `OnAuthenticationFailed` and `OnAuthorizationCodeReceived` functions and see what's happening there.

[2019-03-21 10:50] jsabety commented on #404
Very good tutorials but I agree that we need some more explanation of the code in deep detail. I hate just copy pasting code without understanding why it was done in a particular way. I also get an error that seems to be related to recent changes in Azure Oauth. If you try and refresh the page, there is a complaint that OAuth2 Authorization code was already redeemed. I couldn't even begin to guess

[2019-03-21 12:56] jsabety opened #544 "Azure Oauth changes"
Very good tutorials but I agree that we need some more explanation of the code in deep detail. I hate just copy pasting code without understanding why it was done in a particular way. I also get an error that seems to be related to recent changes in Azure Oauth. If you try and refresh the page, there is a complaint that OAuth2 Authorization code was already redeemed. I couldn't even begin to guess

[2019-03-21 16:39] eurog33k opened #545 "Is Office.context.mailbox.item.itemId immutable?"
Is Office.context.mailbox.item.itemId of the Outlook REST APIs immutable or is it like the IDs of Microsoft Graph ie I need to translateExchangeIds (https://docs.microsoft.com/en-us/graph/outlook-immutable-id).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156e08f2-c7d3-ab98-eb6a-882c26da4bc8
* Version Independent ID:

[2019-03-21 20:36] ApollosPerson commented on #541
Yeah, it's not bouncing back to either of those methods in the OWIN Startup.cs. It's simply refreshing the outlook login screen

[2019-03-22 14:27] kbrandl commented on #544
@jsabety thanks for the feedback. Can you please edit your post to specify the URL for the tutorial where you encountered the OAuth issue? Thanks!

[2019-03-25 00:08] siphon commented on #514
Any updates on this? I am having exactly the same issue - The "Get Add-ins" button opens up "https://appsource.microsoft.com" and not the window that is shown above. This is using Outlook 16.23 on Mac (build 190309).

[2019-03-25 06:54] Konradox commented on #514
I found out that there are group policies set up and they blocked my fiddle (I couldn't change proxy server so I couldn't trace packets). If it's possible, I think that policies may block it in my case. I asked a few people in the organisation to check it and the result is the same. For now, I don't need to fix it.

[2019-03-25 12:38] jasonjoh commented on #541
Ok. You said it refreshes with "validation errors". Can you provide those? Are they displayed on the page?

[2019-03-25 19:48] jasonjoh opened #547 "Update Node tutorial"
See https://github.com/jasonjoh/node-tutorial/pull/31 for change to be made.

[2019-03-28 04:18] ggjacosta opened #549 "Failed to deploy the manifest file to the Exchange server"
Following the steps but I get this error and can't find a solution...Failed to deploy the manifest file to the Exchange server.  The specified object was not found in the store., Can't connect to the mailbox of user Mailbox database guid: xxxxxxxxxxxxxxxxxx because the ExchangePrincipal object contains outdated information. The mailbox may have been moved recently.

---
#### Document Details

⚠ *D

[2019-03-28 04:37] exextoc commented on #545
Hey @eurog33k . The itemID is not immutable, in the sense that it changes when the item is moved ( for instance to a new folder). Could we understand what scenario you would require an immutable item id?

[2019-03-28 09:06] eurog33k commented on #545
We link the mail to our business software from a React based Outlook add-in. The link is based on the ItemId. If the ItemId changes, then we loose the link since we take the Item of the currentMail and send that to our API, which then looks for that Id and provides additional fields from our business software that we can then display in the add-in. If the current ItemId of the mail has changed, ou

[2019-03-28 15:49] ElizabethSamuel-MSFT commented on #549
@ggjacosta: Sorry to hear that you're facing this issue. We'll investigate.
@exextoc: Can you take a look? Thanks.

[2019-03-29 08:41] simontrain commented on #514
Same problem for me. Iin the past I was able to sideload my custom Outlook web add-in to Outlook 2019 desktop. Now I can't. The "Get Add-ins" in button in Outlook now takes me to the https://appsource.microsoft.com/ website. There are no "My Add-ins" so I'm stuck! This seemed to start after I downloaded the latest updates for Office...

[2019-03-29 22:34] exextoc commented on #514
@simontrain Could please let us know the build number of outlook 2019 desktop and share fiddler trace to identify the issue?

[2019-04-01 10:32] exextoc commented on #549
Hi @ggjacosta could you please share a screenshot of the error message and provide client details? Could you share the account details as well?

[2019-04-01 14:41] woolson opened #550 "Need a API to get subtask list of a specified task."
Microsoft ToDo can add subtask to task, but there are no such a API in [Outlook REST Version 2.0 - Outlook Task](https://docs.microsoft.com/en-us/previous-versions/office/office-365-api/api/version-2.0/task-rest-operations) document or subtask data is included in task data.

#### Official API (is used in [todo web app](https://to-do.microsoft.com)) data screenshot.

![image](https://user-images.gi

[2019-04-01 15:18] MykhailoKurshakov opened #551 "Outdate docs"
Seems that you enable HTML markup in card messages, but didn't update your docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fa51748-908b-c781-39b2-09c961b1637a
* Version Independent ID: 51b88c0a-29d3-2ca8-0b54-d96be4779dd2
* Content: [Legacy actionable message card reference - Outlook Developer](https://docs.micro

[2019-04-01 19:16] jasonjoh commented on #550
Neither the Outlook REST API or the Microsoft Graph API expose a `Subtasks` property on the task resource. You may want to request this feature on [UserVoice](https://officespdev.uservoice.com/).

[2019-04-01 19:16] #550 closed

[2019-04-02 03:26] woolson commented on #550
Thank you.

[2019-04-02 18:59] ggjacosta commented on #549
Yes. The account email is guyacosta@outlook.com.  Attached are screenshots
of the error messages encountered.  My goals are 1 create an online version
of the addin.  2. confirm that Outlook mobile does not support addins for
appointments which I read about recently 3. determine if there is a way to
preserve/edit/update via API the html format of appointment content whereas
today I'm only able to u

[2019-04-03 07:59] exextoc commented on #549
Hi @ggjacosta, sorry but I'm not able to find the screenshots, could you please attach them again.

[2019-04-04 04:57] exextoc commented on #545
translateExchangeIds is limited to the Microsoft Graph API.

Why not try using [loadCustomPropertiesAsync](https://docs.microsoft.com/en-us/javascript/api/outlook/office.item?view=office-js#loadcustompropertiesasync-callback--usercontext-) to store important information regarding a particular item.

[2019-04-04 13:35] ggjacosta commented on #549
Here they are.

On Wed, Apr 3, 2019 at 12:59 AM Outlook Add-ins Team - MSFT <
notifications@github.com> wrote:

[2019-04-04 16:11] macOutlookExtensibility commented on #539
on-send is supported on the following versions of exchange for on-prem
Exchange 2016  CU12 and +
Exchange 2019  CU1 and +

[2019-04-05 04:16] exextoc commented on #549
@ggjacosta I'm assuming attachments/images are not posted on Github when you reply via mail, please add them here directly. Thanks.

[2019-04-05 12:50] janzyka opened #555 "Can you have a webhook for group (DL)"
Hi,
 I'm trying to use web-hook to integrate with monitoring solution. I want our whole monitoring group to be notified by email. Is this possible through web hook?

Thanks,

Jan

[2019-04-05 20:54] celowsky commented on #514
I'm having this issue as well in Outlook 2016. Build 16.04266.1003 on Windows 10 Pro

[2019-04-05 21:21] ElizabethSamuel-MSFT commented on #537
@dudjima: Once you provide the required info, we can take another look. Closing in the meantime. Thanks again for letting us know about this.

[2019-04-05 21:21] #537 closed

[2019-04-05 21:45] ElizabethSamuel-MSFT commented on #539
@macOutlookExtensibility: Thanks for providing this information. I aim to update the docs next week. Thanks.

[2019-04-09 17:00] ElizabethSamuel-MSFT commented on #539
The documentation has been updated with this information and should go live soon. Thanks again for raising this issue.

[2019-04-09 17:00] #539 closed

[2019-04-10 14:47] delta1186 commented on #514
So I ran into this same issue today.  In Outlook 2013 I would click File, Manage Add-ins...this opens the owa url in the browser to something like this (on-prem here):
https://webmail.yourdomain.com/ecp/Extension/InstalledExtensions.slab?rfr=olk&exsvurl=1&realm=yourdomain.com

So when this page loaded I would click on the + button but the only option available to me was "Add from the Office Store"

[2019-04-11 12:13] rabbitisle opened #558 "'$' is undefined"
Followed the instructions for 'Any Editor' and I don't get any info in the pane. When I debugged using the F12 tool I got the following:

'$' is undefined

Which means we need to declare jQuery somewhere?

[2019-04-12 07:10] exextoc commented on #514
@Konradox @celowsky Are your accounts on-prem or exchange online ?

If it's on-prem, Get-Addins button will open your default browser and load the https://appsource.microsoft.com URL. In order to side-load an add-in, please follow the following instructions.

- Click on File
- Click on Manage Add-ins (last option)
- It will open your default browser where you can see the following
![image](https:/

[2019-04-12 15:36] ElizabethSamuel-MSFT commented on #558
@rabbitisle: Can you respond with the link to the location of the instructions you were following? That will help provide context for debugging. Thanks.

[2019-04-16 17:13] djpereira commented on #328
The sample does work but it is misleading, as it is not using webpack properly.

For example, in webpack.config.js you do have the function-file.html and funtion-file.js properly configured as an "entry".

However then in function-file.html, all script files are brought in via script tag instead of using imports:

[code]

And also function-file.js ends up included twice in the output, once via man

[2019-04-16 18:10] lindalu-MSFT commented on #328
@ElizabethSamuel-MSFT Do you want to reopen this issue or open a new one? It looks like there are a couple of things that should be addressed in this sample. Thanks, lindalu

[2019-04-18 16:20] ElizabethSamuel-MSFT commented on #328
@djpereira: Thanks for sharing. We'll take a look.

[2019-04-23 07:56] rabbitisle commented on #558
@ElizabethSamuel-MSFT Sorry for the late reply. Here's the link

https://docs.microsoft.com/en-us/outlook/add-ins/quick-start?tabs=visual-studio-code

[2019-04-23 15:31] ElizabethSamuel-MSFT commented on #558
@rabbitisle: Thanks for providing. We'll dig into this and get back to you. Thanks.

[2019-04-23 18:00] pablodiazgutierrez opened #564 "Guidance on review times"
We've been waiting for our connector to be approved for a few weeks now. There's no feedback on the submission page, and here there's no indication on whether this should take a few hours, days, weeks...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b92bda5-e2b6-843f-efdb-3cd1fda4d77a
* Version Independent ID: 1119b1

[2019-04-24 14:10] tuf65651 opened #565 "No login token for Log In button"
I completed the project until the step "Updated loginButtonTapped function in MailViewController.swift". When I hit "Log In", I don't get a token back. Instead I see a message "AADSTS900561: The endpoint only accepts POST, OPTIONS requests. Received a GET request."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d523ffb

[2019-04-24 15:00] tuf65651 commented on #565
Fixed my mistake. Delete the issue.

[2019-04-24 15:08] #565 closed

[2019-04-25 16:08] plee-cundari opened #566 "Get attachments array in compose scenario"
Is it possible to retrieve a list of attachments for an email item in the compose scenario? The message object currently doesn't have an attachments array nor the getAttachmentsAsync method to retrieve this recordset. If it's currently unavailable, is it in the future releases?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-04-30 20:53] rajatpundir commented on #463
You made my life so easier now that I have to peel away the django layers to get the core functionality.

[2019-05-02 16:58] dclaux commented on #551
It's an oversight. HTML markup isn't/shouldn't be supported, and will definitely not work in Outlook for Windows.

Thanks for reporting this.

[2019-05-06 22:59] jeckad opened #577 "Just a random thought"
This page needs more graphics!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b92bda5-e2b6-843f-efdb-3cd1fda4d77a
* Version Independent ID: 1119b12b-8650-f99a-4298-cc3f93f420f3
* Content: [Connectors developer dashboard - Outlook Developer](https://docs.microsoft.com/en-us/outlook/actionable-messages/connectors-dev-da

[2019-05-07 01:49] exextoc commented on #566
getAttachmentsAsync is currently in **preview**. https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/preview-requirement-set/outlook-requirement-set-preview

So you may not be on a client that supports it yet. If you are on a client that supports it code like:

`Office.context.mailbox.item.getAttachmentsAsync
(
	function (asyncResult)
	{
		...
	}
);`

Should produce a value l

[2019-05-07 16:07] ElizabethSamuel-MSFT commented on #566
@exextoc Thanks for your response.

@plee-cundari Seems like your issue has been addressed. I'll close this now but let us know if you still have any questions about this and we can reopen this issue. Thanks for raising this!

[2019-05-07 16:07] #566 closed

[2019-05-13 16:33] leenorgaard commented on #514
I work at a company where my account is on-prem but web mail has been disabled due to security reasons. When I click on File and then click on Manage Add-ins, I get redirected to web mail and then can't do anything from there. Is there another way to test my add-in in my situation?

[2019-05-14 04:52] exextoc commented on #514
If web mail is blocked, you can try using remote powershell.  The instructions to connect are here https://docs.microsoft.com/en-us/powershell/exchange/exchange-server/connect-to-exchange-servers-using-remote-powershell?view=exchange-ps and you can use new-app command to install add-in https://docs.microsoft.com/en-us/powershell/module/exchange/mailboxes/new-app?view=exchange-ps, and remove-app to

[2019-05-16 17:45] SaiKoduri3 opened #585 "Add-in error, the content is blocked because it isn't signed by a valid security certificate"
Can you guys guide in signing a valid certificate? where to install it from?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b98fcab-f608-d0dd-08ab-633d4772f699
* Version Independent ID: ad0a00c9-e5c2-fdfc-732e-f14869088f4a
* Content: [Tutorial: Build a message compose Outlook add-in - Outlook Developer](https://docs.m

[2019-05-17 21:43] ElizabethSamuel-MSFT commented on #585
@SaiKoduri3: Sorry that you are facing an issue with the certificate. Can you share some more details about your platform, Office version, etc.? Did you receive a prompt to install the certificate (see [note in the tutorial](https://docs.microsoft.com/outlook/add-ins/addin-tutorial#test-the-generated-add-in))?

[2019-05-17 22:00] SaiKoduri3 commented on #585
@ElizabethSamuel-MSFT Thanks for reaching out. I did get it when I ran it for the first time in my machine. The addin works fine in my computer at my local host. When I try to export the development folder to other computer and run with other user credentials. I am getting this error. Now I am not getting a prompt to install the certificate. Now how do I install the certificates in the other user'

[2019-05-17 23:20] kbrandl commented on #558
@rabbitisle my apologies for the delayed response. We recently released a new version of the [Yeoman generator for Office Add-ins](https://www.npmjs.com/package/generator-office), and updated the [Outlook quick start](https://docs.microsoft.com/en-us/outlook/add-ins/quick-start?tabs=visual-studio-code) as well -- such that the issue you've described should no longer be present. Can you please upda

[2019-05-21 11:42] OfficeGlobal opened #586 "[LOC] Invalid link in an article"
There is an invalid link in an article

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/outlook/actionable-messages/security-requirements
2. Search for "Sender Policy Framework"
3. Click on the second hit

**Actual results:**
Link does not work
**Expected results:**
Link either works or is removed from the article

**GH article:**
https://github.com/OfficeDev/outlook-dev-docs/blob/maste

[2019-05-21 11:45] OfficeGlobal opened #587 "[LOC] Invalid link in an article"
There is an invalid link in an article

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/outlook/add-ins/outlook-addin-design
2. Search for "templates"
3. Click on the second hit

**Actual results:**
Link does not work
**Expected results:**
Link either works or is removed from the article

**GH article:**
https://github.com/OfficeDev/outlook-dev-docs/blob/master/docs/add-ins/outlook-addi