[2019-05-21 17:15] kbrandl commented on #587
Submitted PR #588 to address this issue. This change will be implemented in the live docs later this week, the next time that doc updates are published for this repo.

[2019-05-21 17:15] #587 closed

[2019-05-21 17:16] kbrandl commented on #586
Submitted PR #588 to address this issue. This change will be implemented in the live docs later this week, the next time that doc updates are published for this repo.

[2019-05-21 17:16] #586 closed

[2019-05-21 17:18] kbrandl commented on #558
Closing this issue now, as I believe this problem was resolved by recent updates to Yo Office and the quick start instructions (as described in my previous comment). @rabbitisle please comment here if you're still having trouble and would like this issue to be re-opened. Thanks!

[2019-05-21 17:18] #558 closed

[2019-05-22 21:17] kbrandl commented on #328
Closing this issue now, as I it should have been resolved by recent updates to Yo Office and to the tutorial instructions. Please comment here if that's not the case and this issue needs to be re-opened. Thanks!

[2019-05-22 21:17] #328 closed

[2019-05-24 22:01] ElizabethSamuel-MSFT commented on #585
@SaiKoduri3: Thanks for providing more info. I'll check into this and get back to you. Thanks.

[2019-05-25 10:55] lokendrapanwar opened #592 "I am unable to add custom parameters"
Here is the detailed in this url :
https://stackoverflow.com/questions/56303616/microsoft-outlook-add-custom-parameter-authorization-request

I need to add extra param which have dynamic value
I did not found for this in given Microsoft  Docs
Like this example -

$provider = new \League\OAuth2\Client\Provider\GenericProvider([
    'clientId'                => Constants::CLIENT_ID,
    'clientSecre

[2019-05-27 14:17] NT-D opened #593 "Does getUserIdentityTokenAsync fetch data locally?"
Thank you for making great document for understanding whole process, but let me ask one question.

Does `getUserIdentityTokenAsync` method get token locally or fetch from server side provided by Microsoft (ex. Exchange online)?

Because developers normally take care network latency, this is important information. If office.js get token locally, developers may want to use this function whenever app

[2019-05-28 17:07] jasonjoh commented on #592
Closing this issue as we can't really provide support for authentication here. Stack Overflow is a better place for this kind of question.

[2019-05-28 17:07] #592 closed

[2019-05-28 17:43] ElizabethSamuel-MSFT commented on #593
@NT-D Thanks for raising this issue. `getUserIdentityTokenAsync` is indeed a call to a remote server (usually [Exchange on-premises or a service you control](https://docs.microsoft.com/outlook/add-ins/authentication#exchange-user-identity-token)) and in [the article](https://docs.microsoft.com/outlook/add-ins/authenticate-a-user-with-an-identity-token#send-the-id-token-with-each-request) we recomm

[2019-05-28 17:52] lokendrapanwar commented on #592
Can you answered me on stack overflow?

On Tue, 28 May 2019, 22:37 Jason Johnston, <notifications@github.com> wrote:

[2019-05-28 18:20] ElizabethSamuel-MSFT commented on #585
@SaiKoduri3 If I understand correctly, you're trying to run the add-in on another computer (Computer2) with other credentials with the server on that other machine (Computer2). Or is the server still on the first machine (Computer1)?

If the server is on Computer2, maybe you can try installing the dev cert using `npx office-addin-dev-certs install`. See [this other issue](https://github.com/Office

[2019-05-29 19:45] tunalt opened #595 "Call this Javascript from Manifest"
How do we call this script in the Manifest. Suppose you want it to display "Greetings" when users click on the Add-On in the body of the meeting composer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8722b48-8432-0f41-44c9-891aa4192cb2
* Version Independent ID: 8720efcd-09cc-c19d-bae0-4ee6921583d9
* Content: [Insert

[2019-05-29 21:47] kbrandl commented on #595
@tunalt thanks for your interest in Office Add-ins development. You cannot invoke a JavaScript function from the manifest. Rather, you'll need to provide a way via the UI for the user to invoke the function. For example:

- You could define a ribbon button (also referred to as an [add-in command](https://docs.microsoft.com/en-us/outlook/add-ins/add-in-commands-for-outlook)) that the user can click

[2019-05-29 21:47] #595 closed

[2019-05-31 07:27] runehegge opened #599 "Client support"
Are Module Extensions available for the Outlook Mac client and Outlook on the web?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4a761a9-7ba9-b93d-dd5c-b5ca68f80fb0
* Version Independent ID: 11634b31-12a3-401b-acc7-7bbe90901f8b
* Content: [Module extension Outlook add-ins - Outlook Developer](https://docs.microsoft.c

[2019-05-31 20:21] ElizabethSamuel-MSFT commented on #599
@exextoc Can you address this? Thanks.

If other platforms are supported, I'll update the docs accordingly.

[2019-05-31 23:06] ElizabethSamuel-MSFT commented on #593
@NT-D I'm adding some clarification to the docs (see the referenced PR 602). I'll go ahead and close this now but if this doesn't address your concerns, do let us know and we'll reopen the issue.

Thanks.

[2019-05-31 23:06] #593 closed

[2019-06-02 07:41] NT-D commented on #593
@ElizabethSamuel-MSFT
Thank you for your quick reply for this issue! I can understand the method fetch token from server. I look over your PR and looks really clear.
Thank you for your hard work.

[2019-06-02 14:19] delphee opened #603 "code correction"
After first adding the authhelper file, shouldn't the updated home function in tutorial/views should be as follows?  The given return doesn't use the home template.
def home(request):
  redirect_uri = request.build_absolute_uri(reverse('home_tutorial:gettoken'))
  sign_in_url = get_signin_url(redirect_uri)
  context = { 'signin_url' : sign_in_url }
  return render(request, 'tutorial/home.html', co

[2019-06-03 05:46] VikramQH opened #604 "Access to attachments while uploading"
Hello Folks,
  Is there any way to access to email attachments while composing the email in office 365 or outlook 365 desktop client?

I would like to add functionality like AV scanning of attachments during upload.

-- Vikram

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156e08f2-c7d3-ab98-eb6a-882c26da4bc8
* Version

[2019-06-03 05:53] VikramQH opened #605 "Hosting of web server for Outlook add-in"
Hello Folks,
   To host my outlook add-in, Do I need to deploy it on cloud with public domain? Or I can host it within organization?

-- Vikram

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aef2c9cc-3f5b-b2b1-dd84-08a910a74c64
* Version Independent ID: df0d841a-6e7b-bb95-99b8-dae7fc950f35
* Content: [Outlook add-in de

[2019-06-03 14:28] jasonjoh commented on #603
Yes, it should be! Thanks for spotting this. The code that's there is from an older version of this tutorial. I must have missed updating that part.

[2019-06-03 14:34] #551 closed

[2019-06-03 15:11] ElizabethSamuel-MSFT commented on #593
@NT-D You're welcome :)

[2019-06-03 15:24] #547 closed

[2019-06-03 15:24] #603 closed

[2019-06-04 04:39] VikramQH opened #608 "Hosting of web server for Outlook add-in"
Hello Folks,
To host my outlook add-in, Do I need to deploy it on cloud with public domain? Or I can host it within organization?

-- Vikram

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15be7148-d1e8-b58b-b026-9f072efb638a
* Version Independent ID: 53a5d00c-d82b-6536-2e80-3e2a3452879a
* Content: [Build an Outlook tas

[2019-06-04 04:40] VikramQH opened #609 "Access to attachments while uploading"
Hello Folks,
Is there any way to access to email attachments while composing the email in office 365 or outlook 365 desktop client?

I would like to add functionality like AV scanning of attachments during upload.

-- Vikram

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156e08f2-c7d3-ab98-eb6a-882c26da4bc8
* Version I

[2019-06-04 04:41] VikramQH opened #610 "Hosting of web server for Outlook add-in"
Hello Folks,
To host my outlook add-in, Do I need to deploy it on cloud with public domain? Or I can host it within organization?

-- Vikram

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156e08f2-c7d3-ab98-eb6a-882c26da4bc8
* Version Independent ID: e3a2b6e0-9eb5-c4cd-5d40-2d0e94babe0a
* Content: [Use the Outlook REST

[2019-06-04 04:42] #609 closed

[2019-06-04 04:42] VikramQH commented on #609
Duplicate

[2019-06-04 04:44] VikramQH opened #611 "Access to attachments while uploading"
Hello Folks,
Is there any way to access to email attachments while composing the email in office 365 or outlook 365 desktop client?

I would like to add functionality like AV scanning of attachments during upload.

-- Vikram

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15be7148-d1e8-b58b-b026-9f072efb638a
* Version I

[2019-06-04 16:30] ElizabethSamuel-MSFT commented on #611
Closing this as a duplicate of issue https://github.com/OfficeDev/outlook-dev-docs/issues/604.

[2019-06-04 16:30] #611 closed

[2019-06-04 16:31] ElizabethSamuel-MSFT commented on #608
Closing this as a duplicate of issue https://github.com/OfficeDev/outlook-dev-docs/issues/605.

[2019-06-04 16:31] #608 closed

[2019-06-04 16:31] ElizabethSamuel-MSFT commented on #610
Closing this as a duplicate of issue https://github.com/OfficeDev/outlook-dev-docs/issues/605.

[2019-06-04 16:31] #610 closed

[2019-06-04 16:40] ElizabethSamuel-MSFT commented on #605
@VikramQH It depends on what you're trying to accomplish. You can take a look at some of the [deployment/publish options available for Office Add-ins](https://docs.microsoft.com/office/dev/add-ins/publish/publish?context=outlook/context).

I'll close this now but if you still have questions on this issue, let us know and we can reopen it.

[2019-06-04 16:40] #605 closed

[2019-06-04 16:55] ElizabethSamuel-MSFT commented on #604
@VikramQH Thanks for your question. We'll take a look.

@exextoc Can you take a look at this? Thanks.

[2019-06-04 17:03] ElizabethSamuel-MSFT commented on #585
@SaiKoduri3 You can also take a look at these [testing options](https://docs.microsoft.com/office/dev/add-ins/testing/test-debug-office-add-ins) and use the one that applies to your configuration/setup.

I'll go ahead and close this issue now but if you're still facing a problem, let us know and we can reopen it.

[2019-06-04 17:03] #585 closed

[2019-06-04 17:11] ElizabethSamuel-MSFT commented on #599
@runehegge Thanks for your question. At this time, Module Extensions are still only available in Outlook on Windows desktop but not yet in other clients like Outlook for Mac and Outlook on the web.

I'll go ahead and close this issue now but if you still have any questions about this, let us know and we can reopen it.

Thanks.

[2019-06-04 17:15] ElizabethSamuel-MSFT commented on #549
@ggjacosta Sorry that you've been unable to attach via mail. Can you take a moment to attach your screenshots directly in GitHub? That will help with next steps in trying to resolve your issue.

Thanks.

[2019-06-04 17:18] ElizabethSamuel-MSFT commented on #545
@eurog33k It seems like your question has been answered so I'll go ahead and close this issue. If you have any further questions on this, let us know and we can reopen the issue.

Thanks.

[2019-06-04 17:18] #545 closed

[2019-06-04 17:22] ElizabethSamuel-MSFT commented on #514
It seems like various options have been provided for folks to test their add-ins so I'll close this issue now. If you're still facing some issue with this, let us know and we can reopen this.

Thanks.

[2019-06-04 17:22] #514 closed

[2019-06-04 17:26] ElizabethSamuel-MSFT commented on #479
@tnsholding Thanks for letting us know about this issue. Since it seems like you're not blocked, I'll go ahead and close this. However, if you'd like to provide any more info or you're still facing a problem, let us know and we'll reopen this issue.

Thanks.

[2019-06-04 17:26] #479 closed

[2019-06-04 17:28] ElizabethSamuel-MSFT commented on #497
@GIRISHKUMARMS Sorry you're facing this issue. We'll investigate and let you know.
@exextoc Can you take a look at this? Thanks.

[2019-06-04 19:45] runehegge commented on #599
Hi,

Thank you for this update!

It would be nice if the documentation was updated accordingly. Currently it says that "Module extensions are only supported by Outlook 2016 or later", it does not say anything about restrictions for Mac or Web.

Does Microsoft has any plans on supporting other platforms in the future?

Vennlig hilsen / Best regards
Rune Hegge
Seniorkonsulent / Daglig leder
+ 47 932

[2019-06-04 19:48] ElizabethSamuel-MSFT commented on #599
@runehegge We'll update the docs to specify that only Windows is supported.
@exextoc Can you speak to future platform support?
Thanks.

[2019-06-04 19:55] ElizabethSamuel-MSFT commented on #599
The note has been updated and should be published soon. Thanks again for raising this issue!

[2019-06-04 20:04] runehegge commented on #599
Thank you!

Vennlig hilsen / Best regards
Rune Hegge
Seniorkonsulent / Daglig leder
+ 47 932 24 921
rune.hegge@inforte.no
www.inforte.no<http://www.inforte.no>

________________________________
From: Elizabeth Samuel <notifications@github.com>
Sent: 04 June 2019 21:55
To: OfficeDev/outlook-dev-docs
Cc: Rune Hegge; Mention
Subject: Re: [OfficeDev/outlook-dev-docs] Client support (#599)

The note ha

[2019-06-05 02:25] NguyenBrian12 opened #615 "$.ajax is undefined."
Hello,
I am following the documentation on: https://docs.microsoft.com/en-us/outlook/add-ins/use-rest-api.
When I call the api getCurrentItem function, $ is undefined. I am not sure how to fix the issue.

[2019-06-05 02:28] NguyenBrian12 commented on #615
Here is my taskpane.js
/*
 * Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license.
 * See LICENSE in the project root for license information.
 */

Office.onReady(info => {
  if (info.host === Office.HostType.Outlook) {
    document.getElementById("sideload-msg").style.display = "none";
    document.getElementById("app-body").style.display = "flex";
    document

[2019-06-05 10:27] praneeth1808 opened #616 "Post Request issue"
I tried to fire a HttpPost request which is unsuccessful .
{
  "@context": "https://schema.org/extensions",
  "@type": "MessageCard",
  "text": "Click **Post** to fire http request",
  "potentialAction": [
    {
      "@type": "HttpPOST",
      "name": "Post",
      "target": "https://..",
      "body": ""
    }
  ]
}

[2019-06-05 12:22] jasonjoh commented on #616
That's not a valid URL. You need to implement a Web API that accepts your POST and returns a success error code.

[2019-06-05 15:42] twisstosin opened #617 "Add-in doesn't show up"
Followed every step [Any Editor], The add-in shows "Added" on the add-ins tab but the "Show Taskpane" Icon doesn't show up on the ribbon.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15be7148-d1e8-b58b-b026-9f072efb638a
* Version Independent ID: 53a5d00c-d82b-6536-2e80-3e2a3452879a
* Content: [Build an Outlook task p

[2019-06-05 17:56] #615 closed

[2019-06-05 23:16] NguyenBrian12 opened #618 "Calling the API not working: Access token validation failure"
I am trying to create a outlook add-in that calls the Microsoft API, but when I do the ajax call, it fails telling me there is an Auth failure.
{
  "error": {
    "code": "InvalidAuthenticationToken",
    "message": "Access token validation failure.",
    "innerError": {
      "request-id": "25b5cd8b-fa2d-4fc8-bf82-18698f53a5d0",
      "date": "2019-06-05T23:13:17"
    }
  }
}
This is my ajax call

[2019-06-06 00:18] exextoc commented on #604
There is a new API in preview for accessing the contents of an attachment in Compose.

See the documentation for [getAttachmentContentAsync](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/preview-requirement-set/office.context.mailbox.item#getattachmentcontentasyncattachmentid-options-callback--attachmentcontent) for a code sample that will list the attachments in an ite

[2019-06-06 00:22] praneeth1808 commented on #616
I have actually provided a API that accepts post requests .

[2019-06-06 14:30] jasonjoh commented on #616
I see. Well there's a number of reasons this could be happening, and we can't really provide support through issues on the documentation. I can provide you a list of things that I've experienced that resulted in that error, but if you still have a problem, please post with more details on Stack Overflow using the `office365connectors` tag.

I've seen this error when:

- The `target` field in your

[2019-06-06 14:30] #616 closed

[2019-06-06 16:48] kbrandl commented on #618
@NguyenBrian12 sorry to hear you're having trouble. Issues here are intended for reporting problems with the Outlook Add-ins *documentation*; the recommended place to get support with API how-to questions like this is Stack Overflow. I'd suggest that you post your question to Stack Overflow and tag it with the [microsoft-graph](https://stackoverflow.com/questions/tagged/microsoft-graph) tag and th

[2019-06-06 16:48] #618 closed

[2019-06-06 16:52] kbrandl commented on #617
@twisstosin sorry to hear that you're having trouble. I'm unable to reproduce the issue that you've described. Can you please provide the following information about your environment?

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: ______
* Host [Excel, Word, PowerPoint, etc.]: **Outlook**
* Office version number: ______
* Operating System: ______
* Browser (if using Office

[2019-06-07 00:20] twisstosin commented on #617
@kbrandl here:
## My Environment
* Platform [PC desktop, Mac, iOS, Office Online]: Mac
* Host [Excel, Word, PowerPoint, etc.]: **Outlook**
* Office version number: N/A
* Operating System: MacOS
* Browser (if using Office Online): Google Chrome

[2019-06-07 16:03] jabelman opened #619 "This still doesn't work on the Mac Desktop Client. I have my own add in that does not work there either although it works in Office 365 and Windows desktop client."
This still doesn't work on the Mac Desktop Client. I have my own add in that does not work there either although it works in Office 365 and Windows desktop client.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59039162-b4b1-e38f-83cb-f84af68d0385
* Version Independent ID: 278ac340-90e1-2577-4106-8f71424ca1f8
* Content

[2019-06-07 20:51] ElizabethSamuel-MSFT commented on #619
@jabelman Sorry to hear that you're having trouble with this.
@exextoc Can you take a look?

Thanks.

[2019-06-07 21:00] ElizabethSamuel-MSFT commented on #599
@runehegge There's currently no plan to add the Module ExtensionPoint to other Outlook clients. However, there is a [feature request on UserVoice](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/13469784-make-the-module-extension-add-in-available-for-out) so do upvote.

Also, could you share the scenario you'd like to implement using this extension point?

[2019-06-07 21:54] jabelman commented on #619
My add in logic was making a request over HTTP without SSL. When I changed it to https, the contextual highlighting started to work. It's strange though that this would occur before I intentionally made the request.

[2019-06-07 21:54] #619 closed

[2019-06-07 22:45] kbrandl commented on #617
@twisstosin thanks for providing this info. I'm wasn't able to reproduce the issue on Windows; I'll find a Mac to test with and see if I'm able to reproduce the issue there.

[2019-06-10 21:56] kbrandl commented on #617
@twisstosin thanks for your patience on this. I was able to find a Mac and just completed the [Outlook quick start](https://docs.microsoft.com/en-us/outlook/add-ins/quick-start?tabs=visual-studio-code) on a Mac using **Outlook on the web** in Chrome, and everything worked fine for me.

Please note that if you're using **Outlook for the web**, you'll find the add-in button in the menu that's displa

[2019-06-11 02:00] jaypeexcv opened #621 "Date function in actionable message"
Hello,

Is there any function to display the current date in Actionable Messsage?
I only saw these date functions:

{{DATE(2019-06-11T00:00:00Z,COMPACT)}}
{{DATE(2019-06-11T00:00:00Z,SHORT)}}
{{DATE(2019-06-11T00:00:00Z,LONG)}}

Thanks!

JP

[2019-06-11 17:12] kbrandl commented on #621
@jaypeexcv thanks for your interest in Office development. Issues in this GitHub repository are intended for reporting problems with the Outlook developer *documentation*.  Therefore I'm closing this GitHub issue, but I'd recommend that you instead post your question to Stack Overflow with the [office365connectors](https://stackoverflow.com/questions/tagged/office365connectors) tag. By posting how

[2019-06-11 17:12] #621 closed

[2019-06-11 23:05] ElizabethSamuel-MSFT commented on #604
@exextoc Thanks for pointing out the bug in the code sample. The sample has been updated and should be live soon. Thanks.

[2019-06-12 16:41] twisstosin commented on #617
Thanks a lot @kbrandl , I can find it now, maybe consider adding screenshots for Outlook on web as well.

[2019-06-12 16:41] #617 closed

[2019-06-12 16:51] kbrandl commented on #617
@twisstosin glad to hear that you're now unblocked; thanks for confirming! Apologies again for it taking me a bit to get you this info. I'll certainly update the docs soon to include more info about Outlook on the web, as you've suggested. Thanks again!

[2019-06-14 20:23] ElizabethSamuel-MSFT commented on #599
@runehegge I'll go ahead and close this out now but please do share any other info or let us know if this issue should be reopened. Thanks.

[2019-06-14 20:23] #599 closed

[2019-06-14 20:26] ElizabethSamuel-MSFT commented on #604
@VikramQH It seems that your issue may have been addressed by exextoc's response so I'll close this issue now. If that is not the case, let us know and we'll reopen the issue. Thanks.

[2019-06-14 20:26] #604 closed

[2019-06-14 20:30] ElizabethSamuel-MSFT commented on #549
@ggjacosta I'm sorry we were unable to access your screenshots. I'll close this issue now but do add them when you can and we can reopen this issue then. Thanks.

[2019-06-14 20:30] #549 closed

[2019-06-16 07:11] igor-krein commented on #536
OK, since no one is going to answer my question, it seems, guess I have to answer it myself. Here is what I've found: [https://support.microsoft.com/en-nz/help/4483878/erroritemnotfound-when-office-add-ins-make-rest-calls-against-item-id](url) In brief: item ID could be cached on the client side and therefore, in some cases, differ from what is stored on the server side. I.e. the situation "ErrorI

[2019-06-19 07:05] GIRISHKUMARMS commented on #497
no this issue got resolved by Converting IDs and Token into REST IDs

[2019-06-19 07:21] GIRISHKUMARMS commented on #497
This issue got resolved, just we need to convert all attachments IDs and token into REST

[2019-06-19 17:31] ElizabethSamuel-MSFT commented on #497
@GIRISHKUMARMS Glad to hear this has been resolved. I'll close this issue now.

[2019-06-19 17:31] #497 closed

[2019-06-20 04:21] sourabhkrishna opened #626 "OnSend Addin Support for Office 365 Desktop Clients"
When can we expect On Send Add in support for Office Outlook Desktop clients ?

[2019-06-21 09:55] alvinlb opened #628 "Undefined index: oauth_state / State provided in redirect does not match expected value."
Following this guide, when I get to this point - Updated gettoken function in ./php-tutorial/app/Http/Controllers/AuthController.php, which includes this code

// Authorization code should be in the "code" query param
  if (isset($_GET['code'])) {
    // Check that state matches
    if (empty($_GET['state']) || ($_GET['state'] !== $_SESSION['oauth_state'])) {
      exit('State provided in redirect

[2019-06-21 12:05] jaloplo opened #629 "Unable to make an HttpPOST call from an Actionable Message in Teams"
Hi all,

I had an application for testing purposes that posts Actionable Messages in a specific Teams channel. This message contains a set of buttons for doing different stuff. Several months ago, 4 or 5 I think, everything was well with the implementation, some of these buttons made _OpenUri_ actions some of them made _HttpPOST_ actions. But, two weeks ago I checked this application and none of t

[2019-06-21 12:33] jasonjoh commented on #629
Sorry that you're having this trouble. Issues in this repository are reserved for documentation issues only, so can I get you to post this on Stack Overflow and tag it with `office365connectors` and `microsoft-teams`? If you do that and post the link to your post here, I'll forward it to the proper folks internally.

[2019-06-21 12:33] #629 closed

[2019-06-21 13:00] jaloplo commented on #629
Hi @jasonjoh, thanks for your quick response. In fact, I did some days ago. Let me share the StackOverFlow link here, https://stackoverflow.com/questions/56652707/how-to-show-error-on-post-action-in-an-actioncard

[2019-06-21 14:20] jasonjoh commented on #628
Your change is error prone because `$_GET['oauth_state']` won't work, since there's no query parameter sent back called `oauth_state`. `oauth_state` is the key used to store our expected state value in the session. Restarting the app will clear the session, meaning you won't have anything in there. If you restart the app, you need to sign in again.

[2019-06-21 16:15] alvinlb commented on #628
Thank you Jason.

[2019-06-21 20:33] ElizabethSamuel-MSFT commented on #626
@sourabhkrishna Thanks for your question. I'll check with the team and get back to you.

[2019-06-24 16:38] olidare opened #631 "When I go to the Mail or Events tab it gets a HTTP error 500"
I've not touched the code in the foirst instance as I just wanted a working implementation before customising, this is the error:

Failed to invoke handler method [public java.lang.String com.outlook.dev.controller.MailController.mail(org.springframework.ui.Model,javax.servlet.http.HttpServletRequest,org.springframework.web.servlet.mvc.support.RedirectAttributes)]; nested exception is java.lang.Il

[2019-06-25 09:11] olidare commented on #631
I solved this issue by editting the dispatcher-servlet.xml file.

I added mvc annotation and mvc schema locations:

					    http://www.springframework.org/schema/mvc
					    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

<context:component-scan base-package="com.outlook.dev.controller"></context:component-scan>
<mvc:annotation-driven />

[2019-06-25 09:11] #631 closed

[2019-06-25 11:21] olidare commented on #412
Not sure if this is the same for others but I needed to use:

"@JsonIgnoreProperties(ignoreUnknown = true)"

For the PagedResult class as well.

[2019-06-28 16:25] ElizabethSamuel-MSFT commented on #626
@sourabhkrishna This feature is now available on Mac and Windows for those in the [Office Insider program](https://products.office.com/office-insider) on the Insider Fast track. It should soon be more broadly available but we can't provide exact dates at this time. I hope you are able to try it out on those clients and share your feedback!

I'll close this issue now but if you have any further que

[2019-06-28 16:25] #626 closed

[2019-07-02 13:35] AbhinandanAppsMaven opened #635 "Mac Application"
i want to use Microsoft Graph Api for Email, Calendar access into one of MAC Project. is it possible ?

[2019-07-02 15:49] kbrandl commented on #635
@AbhinandanAppsMaven issues in this GitHub repository (**OfficeDev/office-js**) are intended for reporting errors/problems with the the Office.js API. Can you please post your question to Stack Overflow with the [microsoft-graph](https://stackoverflow.com/questions/tagged/microsoft-graph) tag and the [office-js](https://stackoverflow.com/questions/tagged/office-js) tag? By posting how-to questions

[2019-07-02 15:49] #635 closed

[2019-07-03 04:31] AbhinandanAppsMaven opened #638 "MAC Os"
Hi , I want to implement Microsoft outlook calendar, Email , Contacts Graph API into my MAC Os Project. Is it Possible?

[2019-07-03 04:34] #638 closed

[2019-07-04 03:02] ab1osborne opened #639 "Should onsend events work with the new OWA look ?"
On send events are not firing with the new OWA look on Office 365. This appears to be a bug, I hope it is corrected before official release.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 423fb893-bedd-e004-5102-c13c4bea8d50
* Version Independent ID: f28b807f-0f3b-0bf5-c967-257fc55ec7f9
* Content: [On send feature for

[2019-07-04 12:18] AbhinandanAppsMaven opened #640 "Calendar Events"
Hi, I am trying to implement Microsoft Graph API into my IOS project, I am not getting any events from EVENTS API (Method that defined in your documentation)  else everything is working fine. i followed the proper documentation but only EVENTS API not working, it just gives no data/response in callback of method named  "getEvents" function call. please guide me for this.

Also Am attaching the Log

[2019-07-05 07:43] #640 closed

[2019-07-05 15:15] ElizabethSamuel-MSFT commented on #639
@b1osborne Thanks for your question! On send events are supported in the old/classic OWA in Office 365 and I've updated the article with that info (the change should be pushed soon but see the linked PR for the details).  We are working on this feature for new OWA and when it becomes available, we will update this article.

This feature is also in preview on Windows and Mac but we are in the proce

[2019-07-05 15:15] #639 closed

[2019-07-10 09:34] GopalZadafiya commented on #435
In such scenarions, degrading version of Mailbox API into manifest would work ?
[code]

[2019-07-11 06:20] MarkIannucci opened #644 "Can you share the code (or create a sample) which was used to create the Bing Maps Screenshot above?"
I would love to launch a card based on a contextual rule, but am having problems getting started.  Can you share the code which was used to create the Bing Maps screenshot above?  If not can you create a sample?

After more reading, I realized that all of the contextual addins launch cards, so I think the example above may suffice.  I'm going to close and re-open if I get stuck.

---
#### Document

[2019-07-11 07:28] #644 closed

[2019-07-15 16:34] ElizabethSamuel-MSFT commented on #435
@exextoc Can you confirm or deny this? Thanks.

[2019-07-17 16:55] exextoc commented on #435
Since Exchange Server 2013 supports 1.1, what @GopalZadafiya suggested should work.

[2019-07-17 17:06] ElizabethSamuel-MSFT commented on #435
@exextoc Thanks for your response.

I'll close this issue now.

Thanks.

[2019-07-17 17:06] #435 closed

[2019-07-18 20:27] liebharts opened #648 "nextLink"
Could you add to this documentation how to get the next page of results? I can grab the value of the returned @odata.nextLink but I'm unsure how to use it.
Thanks!
Steve

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b06a747-de4f-325a-c543-13c6bdd60da6
* Version Independent ID: 8d4f3c2a-2661-5b9c-7a0f-ddc1145f594e
* C

[2019-07-19 13:11] aranbenjo opened #649 "Information missing and breakpoints doesn't hit"
I have developed the example with visual studio 2019 and framework v4.7.2.
For the Outlook APP the propertie : "Start action" is "Office Desktop client" and the Outlook client version is:Outlook for Office 365 MSO (16.0.113282).
If i active the Add-In i can see the form "HTML" but without information.
If i add a breakpoint on the source code "MessageRead.js", the  breakpoints not being hit and i c

[2019-07-19 20:10] ElizabethSamuel-MSFT commented on #649
@aranbenjo Sorry that you're hitting an issue with the [quick start](https://docs.microsoft.com/outlook/add-ins/quick-start?tabs=visualstudio). We'll dig into this and get back to you as soon as we can.

Thanks.

[2019-07-24 07:40] aruntd77 opened #650 "Adaptive cards not shown in mobile outlook app (iOS and Android)"
Hi,

We were able to see the working adaptive cards in Outlook client (Office 365).

However when we access the same email in iOS and Android Mobile Outlook app, the message is not shown. I have verified that the app is using Microsoft Sync Technology.

Is there anything I am missing?

For your reference attaching the payload as text file which i am sending using Microsoft Flow

[Payload.txt](http

[2019-07-24 12:04] kakusharma commented on #370
So this means we cannot use BodyAsHTML PropertyName with ItemHasRegularExpressionMatch at all, right? What if I need to find an anchor tag (<A href=""..) or DIV?

[2019-07-25 04:06] chowcl opened #651 "Other Supported Email Clients"
It's a bit ambiguous from the first "Note": could you please confirm that the only email client that supports this feature is Outlook on the Web and Desktop Outlook and mobile Outlooks are not supported ?
If so, is there plans in the future to support the feature for Desktop Outlook and mobile ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-07-25 07:20] robertcp commented on #650
We are experiencing the exact same issue and also have Native MS Sync enabled.  We need to roll this out but can not seem to find any documentation on why these cards are not displaying on Outlook for IOS/Android.

[2019-07-25 16:47] ElizabethSamuel-MSFT commented on #651
@chowcl Thanks for your question. We're updating the article in [this pull request](https://github.com/OfficeDev/outlook-dev-docs/pull/636/files) and it should be published next week. We're noting support in preview for Windows, Mac, and modern Outlook on the web.

Mobile support is not available at this time and I can't say if or when that may happen.

I'll go ahead and close this issue now but i

[2019-07-26 01:58] portal-thtcc1891993 opened #652 "toi yeu cau hoan tien lai cho toi , toi khong con kien nhan duoc nua"
[Enter feedback here]

[2019-07-26 05:19] robertcp commented on #650
For other's with the same problem.  Get in touch with MS onboarding team for Adaptive cards.  Your Originator ID needs to be whitelisted by them and at the moment these cards only work in Outlook IOS, Android is yet to be released.

[2019-07-28 04:29] aruntd77 commented on #650
Dear Robert,

Thank you for your reply. I will get in touch with on boarding team.

On side note, i have already opened up a MS ticket, i am yet to hear from
them.

Thanks
Arun

ಶುಕ್ರ, ಜೂಲೈ 26, 2019 9:19 AM ದಿನಾಂಕದಂದು robertcp <notifications@github.com>
ಅವರು ಬರೆದಿದ್ದಾರೆ:

[2019-07-29 07:51] usselite opened #653 "Windows/Mac on-send Office 365 requirement"
As stated in PR 636 -  https://github.com/OfficeDev/outlook-dev-docs/pull/636/files

Will the on-send feature for Mac/Windows be supported in the future with non Office 365 subscriptions?

[2019-07-29 10:51] shahroon opened #654 "Office not available"
I am trying to publish my first Outlook Addin, following this https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/project-quickstart
it worked just fine on local setup.
However, when I tried to place it somewhere live, I created a build using

it created a build inside the dist directory. I placed it on hosting but when I installed the addin the addin didn't appear. In chrome console,

[2019-07-29 13:00] jasonjoh commented on #648
Typically you just do a GET with the URL in `@odata.nextLink`. See the docs here: https://docs.microsoft.com/graph/paging

[2019-07-29 13:00] #648 closed

[2019-07-29 13:01] #628 closed

[2019-07-29 13:03] jasonjoh commented on #544
@jsabety please see https://docs.microsoft.com/graph/tutorials/ruby for a more updated version of this tutorial.

[2019-07-29 13:03] #541 closed

[2019-07-29 13:08] jasonjoh commented on #536
@igor-krein I think you've pretty much covered it. You can either be optimistic and always try the ID that the Office.js APIs give you, falling back to querying with REST if you get this error, or you can be pessimistic and always use REST. You might get this error too if the user adds an attachment on the client that hasn't been uploaded to the server yet (meaning the attachment doesn't exist at

[2019-07-29 13:08] #536 closed

[2019-07-29 15:05] ElizabethSamuel-MSFT commented on #653
@usselite Thanks for your question.

@exextoc Could you respond to this query?

Thanks.

[2019-07-29 22:49] kbrandl commented on #652
Closing this issue, as it contains no description (content) and the title translates to "The staff are very friendly."

[2019-07-29 22:49] #652 closed

[2019-07-30 12:25] mpasharpsl opened #656 "Outlook Professional Plus 2016 new add-in issue"
Hello,
I'm using Office Professional Plus 2016, on windows 10. Is there a way to add a new add-in via URL in Outlook?
I know this is possible in desktop app of the Outlook Office 365. But I need to do this in Office Professional Plus.

Thanks!
Malika

[2019-07-30 14:05] mpasharpsl commented on #656
To add more info, I'm connected to Exchange 2010 server of our company network. Is that make any different how we access add-ins?

[2019-07-30 16:14] ElizabethSamuel-MSFT commented on #656
@mpasharpsl Thanks for asking about this. Exchange 2010 doesn't support add-ins unfortunately. You need to be on Exchange 2013 or later for add-ins support. Note that Exchange server support can also be more limited than what the desktop, web, or mobile client may otherwise support.

[Supported clients](https://docs.microsoft.com/office/dev/add-ins/reference/requirement-sets/outlook-api-requiremen

[2019-07-30 16:14] #656 closed

[2019-07-30 16:45] ElizabethSamuel-MSFT commented on #654
@shahroon Sorry that you're hitting this issue. Depending on your setup, perhaps one of these can help:
- [Test and debug Office Add-ins](https://docs.microsoft.com/office/dev/add-ins/testing/test-debug-office-add-ins)
- [Tips for testing Outlook add-ins](https://docs.microsoft.com/outlook/add-ins/testing-and-tips)
- [Deploy and publish add-ins](https://docs.microsoft.com/office/dev/add-ins/publis

[2019-07-31 06:50] shahroon commented on #654
Sorry, wrong link. The one I was following is https://docs.microsoft.com/en-us/outlook/add-ins/addin-tutorial?context=office/dev/add-ins/context

Is there any other tutorial that I should be following?

[2019-07-31 08:14] shahroon commented on #654
I have gone through the links you provided, I couldn't find anything helpful there.
Let me explain to you the problem in detail,
I have added office.js in my index.html
[code]
So, logically I should have **Office** object available in my index.js, but it seems like after the **build** it somehow couldn't find it.

Here is the index.html after the build,

[code]
Your help is needed as it is taking

[2019-07-31 14:13] shahroon commented on #654
Thanks for your help it appears that it was an issue on JS end. Figured it out and fixed.

[2019-07-31 14:13] #654 closed

[2019-07-31 20:05] liebharts commented on #648
Hi Jason,

Ah, now I think I understand - use the @Url annotation.  I was trying to use retrofit without reading the documentation, my apologies for asking before reading!

Steve Liebhart
Identity & Access Administrator

WESTERN NEW MEXICO UNIVERSITY

PO Box 680 | Silver City, NM 88061

t 575.538.6056 | m 575.574.8604

e liebharts@wnmu.edu  | wnmu. edu<http://wnmu.edu>

Follow us: facebook.com/Wes

[2019-08-02 03:26] ab1osborne commented on #651
How do you get the onsend functionality activated for a Windows or Mac client? I can see it is in preview, but how do you get that preview activated?

[2019-08-02 15:51] xantari opened #664 "What is recommended image size and format?"
Documentation does not list recommended image size and format. Please add. I uploaded one and it's all stretched. Not sure why on correct size.

[2019-08-02 15:52] xantari commented on #664
Referring to this URL: https://docs.microsoft.com/en-us/outlook/actionable-messages/send-via-connectors

[2019-08-02 16:43] ElizabethSamuel-MSFT commented on #651
@ab1osborne In a [related issue](https://github.com/OfficeDev/outlook-dev-docs/issues/626), I noted that you would need to be in the [Office Insider program](https://products.office.com/office-insider) on the Insider Fast track. I'll check on the current status and update this thread.

Thanks.

[2019-08-05 13:48] jasonjoh commented on #664
@xantari recommended image size for what exactly?

[2019-08-05 14:38] xantari commented on #664
On the linked URL, there is an "Upload Image" button to put in your custom image for the webhook (which doesn't work btw).

![image](https://user-images.githubusercontent.com/6610039/62472627-c7e81880-b764-11e9-8cdb-b48cb4bd5330.png)

[2019-08-05 14:39] xantari commented on #664
Should that be a 96x96 image? 64x64? Some other size? What file formats are supported?

[2019-08-05 15:38] jasonjoh commented on #664
That article is stepping you through basic steps to just try it out, and it doesn't upload an image (since you're just setting up the webhook for testing purposes). Uploading an image is more for when you register your own connector with Microsoft so other people/organizations can use it.

From https://docs.microsoft.com/en-us/outlook/actionable-messages/connectors-dev-dashboard, the only guidance

[2019-08-06 14:08] jasonjoh commented on #664
Ok I spoke with the team. The image you provide ends up displayed in a 96x96 box, so designing a logo to fit that area would have the best result.

[2019-08-06 15:46] ElizabethSamuel-MSFT commented on #651
@ab1osborne For Windows, you should be able to use the feature with the latest Office 365 bits. Mac still requires you to be on the Insider Fast track of the Office Insider program.

I'll go ahead and close this now but if you have any further questions about this, let us know.

Thanks.

[2019-08-06 15:46] #651 closed

[2019-08-06 16:01] ElizabethSamuel-MSFT commented on #649
@aranbenjo Have you already [attached to the process](https://docs.microsoft.com/office/dev/add-ins/testing/attach-debugger-from-task-pane) or tried using [developer tools](https://docs.microsoft.com/office/dev/add-ins/testing/debug-add-ins-using-f12-developer-tools-on-windows-10)?

[2019-08-06 17:43] wamaina commented on #414
@jasonjoh, is this work we are currently tracking?

[2019-08-06 17:50] jasonjoh commented on #414
Hey @wamaina I don't know :). I don't do add-in content anymore. That's been taken over by @ElizabethSamuel-MSFT and @kbrandl.

[2019-08-07 09:34] AnjanaValsan commented on #653
For Mac, the users who are on one time purchase versions of Office like 2019, or 2016 would not have the latest versions of API set like 1.8 or Block on Send which was released recently.
They could download patches from here -> https://macadmins.software/
These patches are released every month and would contain the latest builds

[2019-08-08 17:23] wamaina commented on #415
@ElizabethSamuel-MSFT, are there any updates on this?

[2019-08-08 17:24] wamaina commented on #414
@ElizabethSamuel-MSFT, do we have any updates on this item?

[2019-08-09 15:31] denis-kvochka opened #668 "The dev server is not running on port 3000."
Hello.
I did all steps but when I try to run `npm start` I get error:

PS C:\NodeJS\My Office Add-in&gt; npm start

&gt; office-addin-taskpane-js@0.0.1 start C:\NodeJS\My Office Add-in
&gt; office-addin-debugging start manifest.xml

Debugging is being started...
App type: desktop
Enabled debugging for add-in 05c2e1c9-3e1d-406e-9a91-e9ac64854143. Debug method: 0
Starting the dev server... (webpack-

[2019-08-09 15:51] denis-kvochka commented on #668
I've deleted old project and created a new without spaces in its name and now it works.

[2019-08-09 15:51] #668 closed

[2019-08-09 20:40] ElizabethSamuel-MSFT commented on #415
@Vivihung There's a "Download PDF" link in the bottom left (or bottom right for right-to-left languages). Can you give that a try?

![image](https://user-images.githubusercontent.com/28541963/62807798-300f6500-baab-11e9-864a-a8e2ee6b7ce4.png)

Thanks.

[2019-08-09 20:54] ElizabethSamuel-MSFT commented on #414
Investigating to see what we can do here.

[2019-08-09 21:01] Vivihung commented on #415
Yes, download the PDF helped.
The document is huge, but with the index in the doc, I can navigate to the design guideline section directly.
Thanks for the help!

[2019-08-09 21:05] ElizabethSamuel-MSFT commented on #415
@Vivihung You're welcome. Sorry we took so long to provide an answer.

I'll go ahead and close this now but if you have any further issues with this, let us know and we can reopen this issue.

Thanks.

[2019-08-09 21:05] #415 closed

[2019-08-11 02:15] exextoc commented on #653
We do not have plans to support on-send for Office 2016 or Office 2019 on Mac or Windows.

[2019-08-11 02:15] #653 closed

[2019-08-12 14:09] Tsing-Hsu opened #669 "local npm web server won't start if there are spaces in add-in name / folder name"
local web server won't start if there are spaces in add-in name / folder name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15be7148-d1e8-b58b-b026-9f072efb638a
* Version Independent ID: 53a5d00c-d82b-6536-2e80-3e2a3452879a
* Content: [Build your first Outlook add-in - Outlook Developer](https://docs.microsoft.com/en-

[2019-08-12 15:36] ElizabethSamuel-MSFT commented on #414
@Vivihung We have design guidelines for Office Add-ins overall that may help.

[User Interface section - Overview](https://docs.microsoft.com/office/dev/add-ins/design/add-in-design)

I'll close this now but if you have any further questions, do let us know.

Thanks.

[2019-08-12 15:36] #414 closed

[2019-08-12 15:39] johnnycardy commented on #488
If your service already has an access token or refresh token for your SharePoint app stored then you could use that (looking them up via the supplied user email address, which can be trusted). But if the user hasn't already authenticated with you/granted permissions etc, then the link won't work and the user would have to go through a login process.

[2019-08-12 16:52] kbrandl commented on #669
@Tsing-Hsu thanks for reporting this issue. I'm going to transfer this issue to the **OfficeDev/generator-office** repository so that the Yeoman generator for Office Add-ins can be updated to prevent this problem from occurring.

[2019-08-13 04:24] NT-D opened #672 "Are `msexchuid` and `amurl` immutable even if end user migrate Exchange Server?"
Thank you for writing clear document. Our team understand definition, but let me ask one question.

Are `msexchuid` and `amurl` immutable even if end user migrate Exchange Server? For example, some end users may migrate their on-premises Exchange Server to Office 365. When they start to use Office 365, are `msexchuid` and `amurl` same?

The background is we refer [this document](https://docs.micro

[2019-08-13 16:54] ElizabethSamuel-MSFT commented on #672
@NT-D Thanks for your question. However, with the move to Office 365, you may want to consider [single sign on (SSO)](https://docs.microsoft.com/outlook/add-ins/authentication#single-sign-on-access-token) instead. [How to implement SSO](https://docs.microsoft.com/outlook/add-ins/implement-sso-in-outlook-add-in) may be useful in that case.

Also, just to clarify, do you mean if the properties `msex

[2019-08-13 17:03] ElizabethSamuel-MSFT commented on #649
@aranbenjo Let us know if you have any further questions about this then we can reopen this issue.

Thanks trying Office Add-ins!

[2019-08-13 17:03] #649 closed

[2019-08-14 13:05] sagarpilkhwal opened #673 "Add-ins not showing up on Outlook android app"
Is there any recent change in the manifest syntax for _MobileFormFactor_ ? None of the Outlook add-ins are showing up on Android Outlook application.

[2019-08-14 14:46] liyahWembs commented on #628
I'm having the same error.
I tried refreshing it but it won't work.
I also try putting the application password at $_GET['oauth_state] but I keep on getting the same error.
can you help me out here. This is my first timr using a rest api

[2019-08-15 08:06] stevep4 opened #674 "Target URL"
Under "Details of your provider", Target URLs, can you use a wildcard domain?
For example a Logic App could be in many sub domains.
Could:
https://prod-12.northeurope.logic.azure.com:443/
be referenced as:
https://*.northeurope.logic.azure.com/
?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2eaf591-7ab8-e405

[2019-08-15 22:17] jkirbs opened #676 "ErrorAccesDenied"
I'm able to access my emails, but I get access denied error when attempting to access Calendar and Contacts.

Client error: `GET https://graph.microsoft.com/v1.0/me/events?%24select=subject%2Cstart%2Cend&%24orderby=Start%2FDateTime&%24top=10` resulted in a `403 Forbidden` response:
{
"error": {
"code": "ErrorAccessDenied",
"message": "Access is denied. Check credentials and try again.",
(truncated

[2019-08-16 09:34] NT-D commented on #672
Hi @ElizabethSamuel-MSFT , thank you for your quick answer. I totally understand these properties will be different and I need to generate new ids :)

Yes, I'll implement with SSO, but start with Exchange Id Token for covering on-premises server, too :)

No. I mean msexchuid and amurl are same or not after migration. Office 365 is one example. End users may move their old on-premises exchange serv

[2019-08-16 12:28] jasonjoh commented on #676
That simply means that your token doesn't have the required scope in it. If you're doing one of the "get started" exercises and you're adding on calendar or contacts at the end, you need to make sure you've added the required scope in your code, and make sure you're signing out and signing back in. When you sign in, you should get re-prompted with the list of permissions the app requires, which sh

[2019-08-17 12:49] NT-D opened #677 "Would you please provide information about Unit Test ?"
Hi Outlook team,
Thank you for providing good documents for debugging. We are now enjoying development and debugging, but let me provide feedback about contents.

In general, developers run unit test on the client and CI pipeline on the cloud for keeping app quality. Our team also want to do Unit test, but there are no information about it. If possible, would you please provide how to do Unit test

[2019-08-19 10:45] NT-D commented on #677
Sorry, my question included Integration testing, so feedback title should be "Would you please provide information about Unit test and Integration test?"

[2019-08-23 22:00] ElizabethSamuel-MSFT commented on #677
@NT-D Thanks for asking about this. I'm checking into this with my team and I'll see if I can give you an update soon.

Thanks.

[2019-08-30 10:20] nikagarwal25 commented on #508
@jasonjoh For me the token is correct, it parses correct in jwt.ms. It also gives that it has Calendar Read/Write permissions. I took this token from Graph API developer site "https://developer.microsoft.com/en-us/graph/graph-explorer". However, when i pass it through code, it gives me the below error:
{
  "error": {
    "code": "InvalidAuthenticationToken",
    "message": "CompactToken parsing fa

[2019-08-30 22:38] ShovelHand opened #687 "Possible to define return URL in calls to SimpleAuthWebService?"
I've tried doing the Quickstart tutorial for an Outlook Addin using the Visual Studio instructions, and ran into an issue: my development machine is behind my organization's firewall, and I am unable to authenticate.
When I get the prompt to supply my Microsoft username and password, the request is made to http://www.microsoft.com/SoftwareDistribution/Server/SimpleAuthWebService/GetAuthorizationCo

[2019-09-03 16:53] ElizabethSamuel-MSFT commented on #687
@ShovelHand Thanks for asking about this.

@exextoc Can you provide any guidance about this issue?

Thanks.

[2019-09-03 19:57] DaveInCaz opened #688 "Outlook: MAPI: MIMETOMAPI() param pmsg may be documented incorrectly?"
As pointed out in this post:
https://stackoverflow.com/questions/102514/creating-idl-for-mapi-mime-conversion

which states:

The parameter 'pmsg' on page https://docs.microsoft.com/en-us/office/client-developer/outlook/mapi/iconvertersession-mimetomapi may be described incorrectly.

---

Note that this is a deliberate duplciation of the following issue:
https://github.com/MicrosoftDocs/office-dev

[2019-09-03 19:59] lindalu-MSFT commented on #688
@DaveInCaz Awesome! I see the bot has already added the Needs: triage tag.

[2019-09-03 23:33] giannif opened #689 "Is this desktop Outlook only?"
I can add the extension in this example and I see it "my add-ins", but it doesn't do anything. I'm using https://outlook.live.com/mail/inbox, and I don't see a Home tab or a Show Taskpane option. Am I supposed to use the Desktop Outlook version for this example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15be7148-d

[2019-09-04 19:56] exextoc commented on #687
If I understand your question correctly, you can send soap request while cannot receive response on your machine due to firewall. Outlook addin doesn't have such api to set return url for this scenario.

[2019-09-05 15:44] ElizabethSamuel-MSFT commented on #689
@giannif Thanks for asking about this. The quick start should work on the various clients, including the browser. Can you take a look at the Outlook on the web screenshot in the [tutorial](https://docs.microsoft.com/outlook/add-ins/addin-tutorial) to see if that shows how to access the add-in? If it does, I'll update the quick start with a similar screenshot.

Thanks.

[2019-09-05 16:02] ShovelHand commented on #687
Understood. Thanks.

[2019-09-05 19:00] giannif commented on #689
@ElizabethSamuel-MSFT it does not show how to access the add in. The UI looks completely different than what I have on https://outlook.live.com/mail/inbox

<img width="925" alt="Screen Shot 2019-09-05 at 2 56 32 PM" src="https://user-images.githubusercontent.com/448767/64371082-b7d68980-cfed-11e9-8c0d-725b3d993244.png">

So you do the quick start guide, and the add in is added successfully, but th

[2019-09-05 19:34] ElizabethSamuel-MSFT commented on #689
@giannif Thanks for sharing a screenshot.

To access the add-ins, you need to click the "..." at the end of the "Send" button row. That is how you access additional/overflow commands.

[2019-09-05 20:51] #687 closed

[2019-09-05 21:54] giannif commented on #689
@ElizabethSamuel-MSFT yes, I tried that right away. The add in does not appear:

<img width="684" alt="Screen Shot 2019-09-05 at 5 50 26 PM" src="https://user-images.githubusercontent.com/448767/64385896-a9946780-d005-11e9-96b5-e8ff78432fa5.png">

That's why I thought it was maybe Outlook Desktop only, because in the tutorial, there is no "..." button to click, the add in appears in a different pl

[2019-09-05 22:08] ElizabethSamuel-MSFT commented on #689
@giannif I recommend you try the [sideloading instructions for new/modern Outlook](https://docs.microsoft.com/outlook/add-ins/sideload-outlook-add-ins-for-testing#sideload-an-add-in-in-the-new-outlook-on-the-web) and let us know if that helps.

[2019-09-05 22:36] giannif commented on #689
@ElizabethSamuel-MSFT I am able to add the add in, that is not the issue.
<img width="491" alt="Screen Shot 2019-09-05 at 6 34 19 PM" src="https://user-images.githubusercontent.com/448767/64388071-eb281100-d00b-11e9-9c10-b1ffe0c40d78.png">

The add in just doesn't do anything and never appears in the user interface under any menu I can find. I've clicked every "..."

[2019-09-05 22:44] ElizabethSamuel-MSFT commented on #689
@giannif Can you select an existing message (versus composing a new message) and see if the add-in shows up there? I think the add-in is configured to work in an existing message.

[2019-09-06 12:16] giannif commented on #689
No there is nothing there.
<img width="1346" alt="Screen Shot 2019-09-06 at 8 13 01 AM" src="https://user-images.githubusercontent.com/448767/64427053-3e3aac00-d07e-11e9-9756-caeb7452a294.png">

I'm no longer in need of help here exactly, since I have a compose extension working. Perhaps you can do the tutorial yourself and try to get it in https://outlook.live.com/mail instead of me taking screen

[2019-09-06 15:28] ElizabethSamuel-MSFT commented on #689
@giannif I think that's the wrong menu. Do you have an overflow option on the message itself like in the following image?

![image](https://user-images.githubusercontent.com/28541963/64439897-d2594300-d07f-11e9-9069-7cd509c5a723.png)

I have this item on my backlog to update the various screenshots in the quick start and tutorial. I am glad that you got the compose extension point to work.

[2019-09-06 16:06] giannif commented on #689
@ElizabethSamuel-MSFT wow, yep, there it is!! I never would have found that. New screenshots will help. I also think the add in itself can be improved. I still have no idea what the word Contoso even is or means. I'm not an Outlook user so I was extra lost

[2019-09-06 16:06] #689 closed

[2019-09-06 21:59] lindalu-MSFT commented on #688
I erroneaously asked Dave to open this issue here to get traction. We DID end up using the other issue to track down the right person to resolve. So closing this, and documenting the fix there. — MicrosoftDocs/office-developer-client-docs#67

[2019-09-06 21:59] #688 closed

[2019-09-10 12:31] nemisj opened #695 "Validating token doesn't work"
When I read your documentation regarding the validation of identity token and try to perform it, it doesn't work. It looks like the JWT token which is issued is not signed with the key provided by JSON.

This is the token I get when calling `getUserIdentityTokenAsync` within Microsoft Add-in:

[code]

Below is the certificate, which is now at https://outlook.office365.com/autodiscover/metadata/jso

[2019-09-10 14:05] InconstantRO opened #696 "Obsolete code"
Starting from step "Updated OnAuthorizationCodeReceived action in ./App_Start/Startup.cs" I get a lot of obsolete errors, like this:
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0619	'ConfidentialClientApplication.ConfidentialClientApplication(string, string, ClientCredential, TokenCache, TokenCache)' is obsolete: 'Use ConfidentialClientApplicationBuilder instead. See http

[2019-09-10 14:06] Dmytrooo opened #697 "Shared mailbox permissions"
when I'm trying to read items from shared mailbox I get this error:
"Office extension have no permissions to access any other mailboxes then the mailbox provided in the user context."
what is the permission(s) my addin lacks? or is it by design for now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5da3c535-6299-8afe-

[2019-09-10 14:08] InconstantRO commented on #696
Can you please update the code or suggest a workaround to so I can use it?

[2019-09-10 17:05] ElizabethSamuel-MSFT commented on #697
@Dmytrooo Sorry you're hitting this error. Can you check if the [delegate access article](https://docs.microsoft.com/outlook/add-ins/delegate-access) gets you unblocked?

Thanks.

[2019-09-10 17:22] ElizabethSamuel-MSFT commented on #696
@jasonjoh Seems to be related to the donet tutorial.

[2019-09-10 17:26] jasonjoh commented on #696
Yes this tutorial is a bit outdated with the newer versions of MSAL. It may be a while before I can update this, but in the meantime, you can see the version of this tutorial over in the Graph documentation, which uses the latests SDKs: https://docs.microsoft.com/graph/tutorials/aspnet

[2019-09-11 07:18] #697 closed

[2019-09-11 11:31] sagarpilkhwal opened #700 "Exchange server 2019?"
Will makeEwsRequestAsync work on Exchange server 2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd670845-f60e-c6a0-090a-aa5f7246fa07
* Version Independent ID: 77bd64a6-8d77-1266-d812-798f35563b89
* Content: [Use Exchange Web Services (EWS) from an Outlook add-in - Outlook Developer](https://docs.microsoft.com/en-

[2019-09-11 16:40] ElizabethSamuel-MSFT commented on #700
@sagarpikhwal Thanks for your question. [makeEwsRequestAsync](https://docs.microsoft.com/office/dev/add-ins/reference/objectmodel/requirement-set-1.5/Office.context.mailbox#makeewsrequestasyncdata-callback-usercontext) was introduced since the inception of Mailbox add-ins (requirement set 1.0) so [on-premises Exchange 2013 and later](https://docs.microsoft.com/office/dev/add-ins/reference/requirem

[2019-09-12 16:32] FlowHawk opened #702 "Not Working in Outlook for iOS and Android"
I have deployed some Actionable Messages in our Office 365 environment. It is working great in Outlook Desktop and Outlook on the Web, but the cards won't render in Outlook mobile devices. I double checked all the version requirements here, and all seems to be in order. We are using the native Microsoft sync technology, and it still won't render. I'm wondering if there are more requirements for th

[2019-09-13 12:09] jasonjoh commented on #702
@FlowHawk can you send me an email at jasonjoh at microsoft dot com? One of the PMs over this feature is going to help get this sorted out.

[2019-09-18 20:09] yoderj opened #707 "App registrations no longer in (Preview)"
`App registrations (Preview)` is now just `App registrations`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37663b22-56cb-e39b-a208-50ad709e3f91
* Version Independent ID: 0e70cf4f-8728-992f-ddf4-3648ba090056
* Content: [How to use Outlook REST APIs in a Python app - Outlook Developer](https://docs.microsoft.com/en-us

[2019-09-18 21:21] yoderj opened #708 "Is there a 2.0 version of this app?"
I'm just getting started with Outlook's web api's.  This tutorial worked very well for me, but I'm having trouble adapting it to use the 2.0 interface.  Is there a tutorial for the 2.0 version of the API?

e.g., https://outlook.office.com/api/v2.0/me/MailFolders/' + folder_name + '/messages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-09-18 22:05] adam-harwood opened #709 "What does "preview" mean?"
The documentation mentions that On-Send is available in Windows and Mac in "preview". What does preview mean exactly? How does a user enable a "preview" feature? Also, when do features move out of preview to GA? If this is documented somewhere else, then linking to the definitions of the above would be great.

[2019-09-19 13:46] yoderj commented on #708
Eventually, I found this at the very start of the tutorial:

It would be nice if similar text (e.g., "now you can try out other features offered in the [Microsoft Graph](https://docs.microsoft.com/en-us/graph/overview) API.") were included at the END of the article as part of the "next steps" discussion.

[2019-09-19 13:53] jasonjoh commented on #708
Thanks for the feedback @yoderj. We're working to consolidate these tutorials over on the [Graph site](https://docs.microsoft.com/graph/tutorials/python) so these tutorials haven't gotten the attention they need.

I definitely recommend using the Graph over the Outlook API. They are functionally equivalent except for a [few specific features](https://docs.microsoft.com/outlook/rest/compare-graph#f

[2019-09-19 13:53] #708 closed

[2019-09-19 13:58] #707 closed

[2019-09-20 09:03] giuleon opened #712 "Actionable message registration dashboard"
Following this doc
https://docs.microsoft.com/en-us/outlook/actionable-messages/email-dev-dashboard

I registered an actionable message targeting the organization after more than an hour the users receive a blank email only if I send to myself the email with actionable message I'm able to see it.
The service that I'm using is a simple Flow

[2019-09-20 12:34] jasonjoh commented on #712
Did your org admin approve the registration? If so, are you still seeing the issue?

[2019-09-20 19:51] brsant opened #713 ""HttpPost" should be "HttpPOST" under Actions"
On https://docs.microsoft.com/en-us/outlook/actionable-messages/message-card-reference#actions

HttpPost no longer works in OWA.

[2019-09-20 19:56] jasonjoh commented on #713
Thanks for reporting. It looks like it is properly cased in the document except for the one link in the list of actions. Easy enough to fix :).

[2019-09-20 20:02] #713 closed

[2019-09-21 12:16] giuleon commented on #712
Hi thank you for reaching out, I forgot to mention that, yes I already approved as admin

[2019-09-21 17:41] wandyezj opened #715 "XML Sample does not pass validator: https://docs.microsoft.com/en-us/outlook/add-ins/manifests#feedback"
Repro
1. Copy XML sample into `manifest.xml` file
2. run `npx office-toolbox validate -m manifest.xml`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd911611-3a2c-8ec2-5213-38369071fb30
* Version Independent ID: 5e83d015-e912-2c6f-1a21-69aeaa398923
* Content: [Outlook add-in manifests - Outlook Developer](https://docs

[2019-09-22 17:27] wandyezj opened #716 "Way to run the yoman generator without installing it globally?"
Can a command be displayed to run the yoman generator without having it pollute the machine with global installs?

`npm install -g yo generator-office`

Is there a way to do this with npx?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b98fcab-f608-d0dd-08ab-633d4772f699
* Version Independent ID: ad0a00c9-e5c2-fdfc-73

[2019-09-23 12:44] jasonjoh commented on #712
Could you have one of your users try installing the [Actionable Messages Debugger Add-in](https://appsource.microsoft.com/product/office/wa104381686) and use it to see what diagnostic information it provides?

Which Outlook client are the users using to view these messages?

[2019-09-23 12:56] giuleon commented on #712
My mistake I forgot to append the "originator": "xxxxxxx....", in the JSON, now it works fine, however the actionable message is still not visible on Outlook for Android but only in the web and desktop version.
Is this feature fully released on Outlook for IOS and Android?

[2019-09-23 13:22] jasonjoh commented on #712
Great!

The feature is released on iOS/Android, however at the moment it requires whitelisting by the Outlook team. This restriction is due to be lifted in 4-5 weeks. If you need iOS/Android support before then, email me at jasonjoh at microsoft dot com and I'll connect you with the right folks.

[2019-09-23 14:25] ElizabethSamuel-MSFT commented on #716
@wandyezj Thanks for your question.

@akrantz Can you take a look at this?

Thanks.

[2019-09-23 15:39] akrantz commented on #716
You can run:
`npx -p yo -p generator-office yo office`

[2019-09-23 15:39] #716 closed

[2019-09-23 16:12] #709 closed

[2019-09-23 16:13] ElizabethSamuel-MSFT commented on #709
@adam-harwood The change should be published to the live site soon. Thanks again for raising this issue.

[2019-09-23 21:59] ElizabethSamuel-MSFT commented on #715
@wandyezj Thanks for raising this issue. I'll submit a PR with the fix momentarily. Thanks.

[2019-09-23 22:08] #715 closed

[2019-09-25 16:18] ftwcreative opened #719 "UX styling across 365, ios and android"
Just to be clear, If we were to use https://mobiscroll.com/ and used the native UI/UX style out of the box, this will be approved by your team to use across 365,ios and android? From what I have read, you recommend using fabric, but using a native ux design is better?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aef2

[2019-09-26 15:05] NT-D commented on #677
Thank you @ElizabethSamuel-MSFT. I'm looking forward to see update :)

[2019-09-28 05:12] wandyezj commented on #716
Should we update the docs to use the version that does not leave residue on users machines?

(This would also simplify the documentation by removing unneeded steps)

[2019-09-30 18:00] #700 closed

[2019-10-01 09:32] rassezgin opened #721 "GenericProvider not found error"
Hello there,
I performed all the steps described above but when I click the Connect to Outlook button I'm getting the error:
Symfony\Component\Debug\Exception\FatalThrowableError
Class 'League\OAuth2\Client\Provider\GenericProvider' not found
Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e64f07f-17

[2019-10-01 09:38] charlesroddie commented on #565
@tuf65651 what was your mistake?

[2019-10-04 20:18] BenCook28 opened #722 "Outlook API How to Get Automatic Replies Settings for Team Members Besides Me"
After Googling and reading through documentation, how can I get the automatic reply settings for some other members of my team in order to know whether they're available to receive tickets?

[2019-10-04 22:20] rounakraj7 opened #723 "[Error] Failed to load resource: The certificate for this server is invalid. You might be connecting to a server that is pretending to be “localhost”, which could put your confidential information at risk. (secured, line 0)"
I am trying to hit my local server (https://localhost:8443/somefucn) from an Outlook Addin, I am getting the following error : "
[Error] Failed to load resource: The certificate for this server is invalid. You might be connecting to a server that is pretending to be “localhost”, which could put your confidential information at risk. (secured, line 0)"

Can you please help me with some solution or

[2019-10-07 11:16] gadget343 opened #724 "On send future"
Hello, I want to use on send event in my app for outlook and in future publish this to appSource.
In limitation section i see next:
You can't publish Outlook add-ins that use the on send feature to AppSource as they will fail AppSource validation. Add-ins that use the on send feature should be deployed by administrators.
Is it mean that add-ins with on send future should be verified and published

[2019-10-07 12:12] jasonjoh commented on #722
I'm guessing you're after the functionality that Outlook has, where it puts up a banner with the user's OOF message? You can do that with this API:

https://docs.microsoft.com/en-us/graph/api/user-getmailtips?view=graph-rest-1.0&tabs=http

[2019-10-07 13:35] BenCook28 commented on #722
Thank you for the link and for letting me know about the banner functionality which would work.

I registered an app, which will run in Pentaho Data Integration, and I have User.Read permission, and now I'd like to see how to successfully get an API token since I got a 401 InvalidAuthenticationToken error when I tried to get mail tips.

Could I please get a Microsoft API team member's API email ad

[2019-10-07 17:03] kbrandl commented on #724
@gadget343 the **On send** feature is currently in preview, so add-ins that use the feature aren't currently allowed in AppSource. When this feature is made GA (generally available) and is no longer in preview, you'll be able to publish your add-in to AppSource. In the meantime though, you'll need to use another one of the publish/deploy methods described in [Deploy and publish your Office Add-in]

[2019-10-07 17:03] #724 closed

[2019-10-07 17:08] kbrandl commented on #723
@rounakraj7 sorry to hear you're having trouble. Issues in this repo are intended for reporting problems with the Office Add-ins *documentation*. Can you please post your question to Stack Overflow with the [office-js](https://stackoverflow.com/questions/tagged/office-js) tag and any other tags that are relevant to your dev environment? By posting how-to questions like this to Stack Overflow, you'

[2019-10-07 17:08] #723 closed

[2019-10-07 17:12] BenCook28 commented on #722
I resolved my current issue, but could I please still have a way to contact Microsoft's API team if online searching for error messages, reading the documentation, and trial and error don't work?

[2019-10-07 17:30] Rick-Kirkham commented on #722
The best way to contact the API team with a probable bug is create an Issue on the [office-js](https://github.com/OfficeDev/office-js/issues/new/choose) repo. If you have a programming question, we recommend that you raise it on Stack Overflow and tag it `office-js` and/or `office-addins`.

[2019-10-07 17:30] #722 closed

[2019-10-07 17:36] BenCook28 commented on #722
Thanks for the info, Rick.

[2019-10-07 18:00] #721 closed

[2019-10-08 13:55] kbrandl commented on #491
Fixed by #725.

[2019-10-08 13:55] #491 closed

[2019-10-08 14:51] #702 closed

[2019-10-08 14:54] iuri1994 opened #726 "Doesn't work in outlook app"
I am using the makeEwsRequestAsync to get user information like phone number and email. The problem is i can obtain all the parameters in the web-app (outlook in chrome) and when i use it in the windows app i can't. For example, when i use it to get the phone numbers, i can obtain how many numbers that contact have, but the phone numbers returned are undefined.
On the web-app, i don't have any pro

[2019-10-09 02:31] exextoc commented on #719
Unfortunately, the Validation Team can't assist with Technical issues. However, looking at the documentation:

https://docs.microsoft.com/en-us/outlook/add-ins/outlook-mobile-addins

Notably the following sections:

What's different on mobile?
•	The small size and quick interactions make designing for mobile a challenge. To ensure quality experiences for our customers, we are setting strict valida

[2019-10-09 14:45] WRFLNL opened #729 "ETA on Add-ins for shared mailboxes?"
Dear Microsoft,
Our company relies heavily on shared mailboxes, Outlook and Salesforce. I am convinced we could achieve a huge boost in productivity when we would be able to connect Salesforce to the shared mailboxes.

Is there a development planned?
Might there allready be some development going?
Could you give us an ETA?

Kind regards,
Wouter

---
#### Document Details

⚠ *Do not edit this secti

[2019-10-09 15:16] kbrandl commented on #729
@WRFLNL thanks for reaching out with this question. If you haven't already done so, I'd suggest you search [AppSource](https://appsource.microsoft.com) for Office Add-ins that facilitate the scenario you've described. For example, if you [search AppSource for `salesforce`](https://appsource.microsoft.com/en-us/?search=salesforce) you'll see several results.

[2019-10-09 15:16] #729 closed

[2019-10-10 05:06] RukaiYu opened #732 "Connector Developer Portal cannot open?"
When open https://outlook.office.com/connectors/Home/Login#/configurations, it always show error:
:-(
Something went wrong.
Mailbox address missing in URL

What happens?
Help!
Rukai.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b92bda5-e2b6-843f-efdb-3cd1fda4d77a
* Version Independent ID: 1119b12b-8650-f99a-4298-cc3

[2019-10-10 12:35] jasonjoh commented on #732
I'll report this to the appropriate team.

[2019-10-11 15:10] uptimelegal-adam commented on #651
Hi @ElizabethSamuel-MSFT, I'm wondering if the add-in onSend functionality will be supported for the following 2 configurations:
Windows Office 2016 (not connected to 365) w/ Exchange 2016
and
Windows Office 2019 (not connected to 365) w/ Exchange 2016

Thanks!

[2019-10-11 22:05] ElizabethSamuel-MSFT commented on #719
@ftwcreative Thanks for your query. Sorry we can't be more specific. Further to exextoc's response, you should also try to blend with the look-and-feel of Outlook and your own company/app branding.

I'll close this issue now but if you have any further questions on this, let us know and we can reopen this issue.

Thanks.

[2019-10-11 22:05] #719 closed

[2019-10-14 10:31] asd23daw opened #737 "Specifying mobile device type"
Hello,

Is there a way to specify resource files for diferent mobile devices.
For example - for iOS - ios.html; for android use android.html

Best Regards

[2019-10-14 15:04] uptimelegal-adam commented on #651
Also wondering about these 2 configs:
Windows Office 2016 (not connected to 365) w/ Exchange via 365
and
Windows Office 2019 (not connected to 365) w/ Exchange via 365
Thank you @ElizabethSamuel-MSFT or anyone else who can provide an answer!

[2019-10-14 15:12] ElizabethSamuel-MSFT commented on #651
@uptimelegal-adam Thanks for your interest in the on send feature! However, all 4 of those configurations are not currently supported and I can't speak to if or when they'll be supported.

Let us know if you have any further questions.

Thanks.

[2019-10-14 16:14] luizrobertomeier opened #738 "UnhandledPromiseRejectionWarning: PolyFillNotAvailable"
I'm following the official docs : "Write a Node.js app to get Outlook mail, calendar, and contacts"

Official URL: https://docs.microsoft.com/en-us/outlook/rest/node-tutorial

And I'm getting the following error:

``
(node:32431) UnhandledPromiseRejectionWarning: PolyFillNotAvailable: Library cannot function without fetch. So, please provide polyfill for it.
    at Object.exports.validatePolyFilli

[2019-10-14 16:16] jasonjoh commented on #738
This should be fixed by https://github.com/OfficeDev/outlook-dev-docs/pull/727

Specifically: install isomorphic-fetch:

[code]

And require it in mail.js, etc.

[2019-10-14 16:22] #738 closed

[2019-10-16 19:45] uptimelegal-adam commented on #651
Thanks for the reply and clarification @ElizabethSamuel-MSFT .  FYI there is somebody on stackoverflow named "Outlook Add-ins Team - MSFT" who gave a contradictory answer to this same question: https://stackoverflow.com/questions/58378515/outlook-js-onsend-support-for-office-2016-2019-not-connected-to-365

They claimed:

[2019-10-17 09:08] decates commented on #732
I also received this error, unable to access the connector develop portal configurations page. The page initially flashes up, then the below error displays (in both latest Chrome and Edge):

![Office 365 New Connector Bug Screenshot](https://user-images.githubusercontent.com/856473/66994713-99bc7880-f0c5-11e9-8874-04e2b9600bb3.jpg)

[2019-10-17 12:09] jasonjoh commented on #732
There was an issue with the service but that has been resolved. I'm now able to get to the dashboard without the error on multiple accounts. Can you try again and let us know if you're still unable to log in?

[2019-10-17 14:52] ElizabethSamuel-MSFT commented on #651
@uptimelegal-adam Thanks for pointing that out. My answer here is correct for Windows. However, in the Stack Overflow question, the platform was not specified and on send is supported in Outlook on the web running against Exchange 2016 and Exchange Online. I've chatted with the product team and they will provide a more comprehensive answer to the Stack Overflow question.

Thanks and apologies for

[2019-10-17 19:34] nabgilby opened #741 "Not configured as multi-tenant application"
Is this tutorial not up to date? getting this error:

Message: AADSTS50194: Application '609b1820-f15d-4907-8305-af916d1437f4'(JavaScript Outlook Tutorial) is not configured as a multi-tenant application. Usage of the /common endpoint is not supported for such applications created after '10/15/2018'. Use a tenant-specific endpoint or configure the application to be multi-tenant.

---
#### Document

[2019-10-17 20:20] jasonjoh commented on #741
The error indicates that the app registration was configured a bit differently than the tutorial lays out. Specifically:

If you set it to "Accounts in my organization only", then the tutorial would need to be modified. You would need to replace `common` with your tenant ID in this line:

[code]

[2019-10-18 17:13] ElizabethSamuel-MSFT commented on #737
@asd23daw Can you confirm that you need this for add-ins?

@exextoc Any recommended guidance for this user?

Thanks.

[2019-10-18 19:03] nabgilby commented on #741
Thank you, still not quite working and really this should be a simple tutorial that just works.

So I've:
1. set the supported account types to Accounts in any organizational directory (Any Azure AD directory - Multitenant)

2. tried both below, as now where could I find an example and the documentation of {tenant} is not clear

  var authEndpoint = 'https://login.microsoftonline.com/99731b89-3b9a

[2019-10-18 19:19] jasonjoh commented on #741
I agree it should "just work", which is why I chose to use the mutlitenant registration so you can just use `common` in your authorize URL. I figured that would be less steps :). If you've changed your app registration to be multitenant then you should be good with the original value of `authEndpoint`. However to answer your question about #2, the first version you list there is the correct format

[2019-10-18 19:48] jasonjoh commented on #741
Ok, I found what is likely the cause of a lot of the issues you're hitting. Azure changed the app registration process a bit from the time of the last update to this tutorial.

In step 5 under **Register the app**, the tutorial tells you to enable ID tokens under **Implicit grant**. You now also need to enable Access tokens there as well, and be sure to save the change before retrying your app.

!

[2019-10-18 20:06] jasonjoh commented on #741
One other thing you'll hit: The Graph SDK no longer has their JS file downloadable from GitHub. So ignore this bit:

Instead, change this line in index.html:

[code]

To this:

[code]

[2019-10-18 20:07] jasonjoh commented on #741
Full list of issues found:

- [Bug with http-server](https://github.com/http-party/http-server/issues/525). Should update to specify version 0.9.0 when installing
- Need to remove `buildAuthUrl` method in the initial outlook-demo.js (since the function doesn't exist yet)
- Need to enable access tokens under Implicit grant in app registration
- Typo (Subract)
- SDK file is no longer on GitHub, need

[2019-10-21 10:16] exextoc commented on #737
Thanks for reaching out. It is not possible to have different SourceLocation for different platforms (iOS and Android). Depending on your scenario you may be able to have only one SourceLocation (html file) but do code-level checking for platform by using this API: Office.context.platform

https://docs.microsoft.com/en-us/javascript/api/office/office.context?view=word-js-preview#platform

[2019-10-21 11:30] asd23daw commented on #737
Thank you, the office.js solution works!

[2019-10-21 11:30] #737 closed

[2019-10-23 08:25] decates commented on #732
Hi Jason, yes - can confirm that this is now resolved. Thanks.

[2019-10-23 11:59] #732 closed

[2019-10-24 17:10] #712 closed

[2019-10-24 21:51] JasonGoemaatAtCorteva opened #742 ""Summary or Text is required""
Not sure what that means...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2606e423-7aff-b44e-3c88-1a96d16ed1fc
* Version Independent ID: 29e8d7ba-d255-f533-7781-aa2aa14a040e
* Content: [Get started with actionable messages via connectors - Outlook Developer](https://docs.microsoft.com/en-us/outlook/actionable-messages

[2019-10-25 13:36] jasonjoh commented on #742
Did you get this as an error? I believe MessageCards do require either a value in the `summary` or the `text` field.

[2019-10-29 13:27] marcusvmg commented on #413
Hey @jasonjoh how do I capture the data from the user's response when I am triggering another action after it clicks on "Send Feedback" button?

My goal is to make an HTTP post using another WebHook to other Channel

[2019-10-29 13:33] marcusvmg commented on #413
nevermind! Just found.

Just need the name of the field followed by ".value" i.e. : {{feedback.value}}

Reference: https://docs.microsoft.com/en-us/outlook/actionable-messages/send-via-email

Thanks anyway :)

[2019-10-30 19:04] jasonjoh commented on #742
I don't reproduce this with the JSON that's in the article, which has a `text` property. If I understand correctly, you're saying that when you modify the card in the designer, you remove that property (because it isn't clear that it's required)?

[2019-10-30 21:19] krmeda commented on #742
I got to the link above following this route:
1. Click on "Get Started with Office 365 Connector Cards" link in the picture
![image](https://user-images.githubusercontent.com/1650033/67899533-dca43480-fb38-11e9-8177-b47f259a5d28.png)
2. Navigate to "Card Playground" link from this page.
3. Card Playground creates ActionCards.
4. Copy the JSON from playground and continue on to "Send a Message" sec

[2019-10-30 22:09] jasonjoh commented on #742
Ok, so the example JSON on the page isn't part of the equation at all then?

You go to the playground (https://messagecardplayground.azurewebsites.net/) which defaults to Adaptive Cards, which aren't supported by Teams (or any connector). MessageCard samples are available in the dropdown:

![image](https://user-images.githubusercontent.com/8966342/67902603-ed0bdd80-fb3f-11e9-968f-454c2390d638.png)

[2019-10-31 14:56] MarieLePanda commented on #585
I seen this issue close, but I have exactly the same problem on my computer. I install and run the npx office-addin-dev-certs install, but Outlook still consider that is not sign by trust certificate. How really fix that ?

[2019-11-02 22:25] TogrulZade opened #750 "Get Messages with Attachment"
There is no how to get attachment from messages.
Please show the method of this.

[2019-11-04 14:16] ElizabethSamuel-MSFT commented on #750
@TogrulZade Thanks for reaching out to us. Can you see if these articles help?

[Get attachments of an Outlook item from the server](https://docs.microsoft.com/outlook/add-ins/get-attachments-of-an-outlook-item)
[Manage an item's attachments in a compose form in Outlook - Get attachments section](https://docs.microsoft.com/outlook/add-ins/add-and-remove-attachments-to-an-item-in-a-compose-form#get

[2019-11-04 19:39] harshamaddineni opened #753 "How to differentiate inbox vs sent items email item?"
How can we differentiate the selected email item as inbox or sent folder or deleted folder item? Can we read using office.context.mailbox.item

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4943751d-68bf-a98f-960e-779ae54b7970
* Version Independent ID: 838ccf75-d8bf-587c-a954-47e564afef28
* Content: [Get and set item d

[2019-11-05 08:39] thousifpathan commented on #702
Hi Jasonjoh,

I am facing the similar issue where its working in the outlook web and desktop version but mobile app shows error for the adaptive cards.

Can you please let me know the resolution provided for the issue?

 Thanks in advance.

[2019-11-05 10:57] kloe-cole commented on #724
When will the On send feature be expected to be made GA?

[2019-11-05 11:48] kloe-cole commented on #724
@kbrandl

[2019-11-05 14:14] kloe-cole opened #754 "On send GA"
When is the on send feature expected to GA?

[2019-11-05 16:14] ElizabethSamuel-MSFT commented on #754
@kloe-cole Thanks for your question. The [on-send feature](https://docs.microsoft.com/outlook/add-ins/outlook-on-send-addins?tabs=windows) is now available in [requirement set 1.8](https://docs.microsoft.com/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets#requirement-sets-supported-by-exchange-servers-and-outlook-clients).

Thanks.

[2019-11-05 16:14] #754 closed

[2019-11-05 16:24] ElizabethSamuel-MSFT commented on #724
@kloe-cole I've responded to your question in https://github.com/OfficeDev/outlook-dev-docs/issues/754.

Thanks again for your interest in Office Add-ins!

[2019-11-05 16:58] ElizabethSamuel-MSFT commented on #753
@harshamaddineni Thanks for asking about this. However, I don't believe we have an API that returns the current folder for the item.

@exextoc Can you take a look at this?

Thanks.

[2019-11-05 19:09] danhellem commented on #238
Any updates on this? It seems that add-in commands for outlook web are not possible?

[2019-11-05 19:17] ElizabethSamuel-MSFT commented on #238
@danhellem Add-in commands are available in Outlook on the web but you need to check one of the overflow menus. The responses in related issue https://github.com/OfficeDev/outlook-dev-docs/issues/689 should be helpful.

Thanks.

[2019-11-05 19:57] kloe-cole commented on #754
@ElizabethSamuel-MSFT  is this feature available and will it also allow the add-in to be published in the marketplace?

[2019-11-05 21:10] BenCook28 commented on #722
@Rick-Kirkham actually, I now have a programming issue which I couldn't resolve after following along with documentation here:

https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#refresh-the-access-token

and talking with some team members.  I don't feel comfortable pasting my attempts into Stack Overflow for security reasons.

Would Microsoft please create an

[2019-11-06 16:14] ElizabethSamuel-MSFT commented on #754
@kloe-cole While the feature is now available for use in production add-ins, it is **not** allowed in AppSource.

Thanks.

[2019-11-06 16:50] kloe-cole commented on #754
@ElizabethSamuel-MSFT is there a timeline of when apps using this feature will be allowed in Appsource?

[2019-11-06 21:22] albertly opened #760 "Is "on-send feature" supported in Outlook Windows Client or only OWA?"
It is not quite clear if Exchange 2016/2019 and Outlook desktop supports "on-send".

"Bulds" of what? Outlook desktop

[2019-11-07 17:01] ElizabethSamuel-MSFT commented on #760
@albertly Thanks for asking about this. You can use the on-send feature with Outlook on the web against Exchange Online (Office 365), and Exchange 2016 and Exchange 2019 with updates. You can also use the feature with the latest Office 365 builds of Outlook desktop on Windows and Mac against Exchange Online.

One-time purchase versions of Outlook (e.g., Outlook 2016 and Outlook 2019) on Windows an

[2019-11-07 17:39] #760 closed

[2019-11-08 09:39] ferarias opened #764 "5 Types of actions instead of 4"
In https://docs.microsoft.com/en-us/outlook/actionable-messages/message-card-reference#actions
documentation says there's 4 type of actions but in the list there's actually 5

[2019-11-08 18:39] gpalz opened #765 "AMP HTML Failed to Display"
I gave it a try. Sent a test and Outlook failed to load the AMP HTML and loaded the regular HTML version instead. Thoughts?  I configured my Outlook settings to accept dynamic emails. AMP HTML works fine in Gmail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca597d83-a697-5312-14b3-33c3f2511015
* Version Independent

[2019-11-11 15:00] #750 closed

[2019-11-11 19:43] jasonjoh commented on #764
Good catch. I'll fix that now.

[2019-11-11 19:45] jasonjoh commented on #765
@LezaMax can you help?

[2019-11-11 19:50] #764 closed

[2019-11-12 22:47] exextoc commented on #753
Currently, Office.context.mailbox.item does not have information about the item's folder. We track Outlook add-in feature requests on our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). Please add your request there. Feature requests on user-voice are considered, when we go through our planning process.

A possible workaround would be to

[2019-11-14 18:54] f-santos commented on #732
@jasonjoh Yesterday it was working but today I'm getting the same error. I've tried to log in using Edge, Edge Dev, Chrome and Firefox (also in incognito/private mode) and always get the same error.

[2019-11-15 12:07] surjyams opened #769 "All entities are null"
Hello,
I followed the sample code that is shared at: https://docs.microsoft.com/en-us/outlook/add-ins/extract-entity-strings-from-an-item#extracting-task-suggestions. I have an email, that has a valid address (1234 Main Street, Redmond, WA 07722). But all the entities on the email are null, including the 'Addresses' entity.

`{ "_data$p$0": { "Addresses": null, "Contacts": null, "EmailAddresses":

[2019-11-18 15:26] mplwork commented on #732
Same here, doesn't work.

[2019-11-19 02:28] vikramhimanshu opened #772 "Add the MessageComposeCommandSurface extension point"
This step is outdated. following the instructions leads to a invalid manifest and hence I can't install it. I don't know where do I add this and repercussions of adding it elsewhere than suggested. Please update this page with appropriate edits!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b98fcab-f608-d0dd-08ab-63

[2019-11-19 08:07] pedroacuma commented on #732
It happens to me to, I've been working and having this problem since a week ago. Today even when i can enter to my dashboard, my connector still don't load.

[2019-11-19 16:49] gpalz commented on #765
Just wanted to followup on my original post to see if the team had any insights on my post. Thanks.

[2019-11-20 03:39] LezaMax commented on #765
Please send your sample email to amphtmltest@outlook.com so we can take a look. Include the amp mime part and tell us the, subject and date of the email. Also please tell us the tool you used to create and send the email.

[2019-11-20 19:17] gpalz commented on #765
Hello, Test sent. Im using https:// sendtest.email. Subject line is AMP HTML TEST. Date is today 11/20/19. Thank you.

[2019-11-21 22:32] LezaMax commented on #765
We received your message and it is indeed not rendering. I also tried the tool myself but in my case it did render the AMP HTML successfully. That leads me to believe that AMP validation is failing for your code. Do you mind continuing this conversation over email?  Please send us the repro steps with a sample of your code to ampforemailoutlook@service.microsoft.com

[2019-11-22 17:54] LezaMax commented on #765
Update, we have what we need currently to continue the investigation and we are taking a look. It appears that there is indeed an issue with validation. We'll update this conversation once we know more.

[2019-11-25 03:02] ab1osborne opened #775 "On Send events with Modern Outlook OWA on 365, anyone got them to work ?"
We have a solution that had been working fine with classic Outlook OWA on office 365 using the on send event, and it stopped when the forced update to modern UI took place. I've double checked everything I can and can't spot what I've done wrong. Can anyone confirm it actually works and if they did something to make on send events run?

[2019-11-26 16:53] ElizabethSamuel-MSFT commented on #772
@vikramhimanshu Thanks for raising this issue. We'll take a look.

Thanks.

[2019-11-26 16:56] ElizabethSamuel-MSFT commented on #775
@ab1osborne Sorry to hear that this update caused an issue. Can you take a look at the [on send article](https://docs.microsoft.com/outlook/add-ins/outlook-on-send-addins?tabs=modern) and let us know whether or not it helps?

Thanks.

[2019-11-26 17:01] ElizabethSamuel-MSFT commented on #772
@vikramhimanshu In the [Define buttons](https://docs.microsoft.com/outlook/add-ins/addin-tutorial#define-buttons) section of the tutorial, we discuss replacing the Read extension point with the Compose one. Can you share your manifest so we can further investigate?

Thanks.

[2019-11-26 17:03] ElizabethSamuel-MSFT commented on #753
@harshamaddineni Can you let us know if the suggested workaround was useful?

Thanks.

[2019-11-26 18:00] #753 closed

[2019-11-26 18:59] ab1osborne commented on #775
I have tried all those steps. Is there any way you can tell if the feature has been enabled on your tenant? Can I request that Microsoft checks?

[2019-11-26 19:03] ElizabethSamuel-MSFT commented on #775
@ab1osborne Thanks for your response. I'll check with the product team about this.

@exextoc Can you provide guidance on this?

Thanks.

[2019-11-26 21:23] exextoc commented on #775
IDC team, this sounds like a regression please check…
Created bug https://o365exchange.visualstudio.com/DefaultCollection/O365%20Core/_queries/query/22810355-d624-48a7-a6a9-178dd44ecb27
To track

From: Elizabeth Samuel <notifications@github.com>
Sent: Tuesday, November 26, 2019 11:04 AM
To: OfficeDev/outlook-dev-docs <outlook-dev-docs@noreply.github.com>
Cc: Outlook Extensibility Oncall <exextoc@m

[2019-11-26 23:01] NWH-SAmin5 opened #779 "Getting message "Actions are disabled by the administrator""
I was able to send the sample card to my channel. when I click "Send Feedback", I am getting message "Failed to Send", "Actions are disabled by the administrator". I also creating my own custom card with my own HTTP Post URL. Still getting the error message.
What are admin settings for this to work. Please update documentation

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-11-27 08:21] exextoc commented on #775
Can you run cmdlet "Get-OWAMailboxPolicy" and check if "OnSendAddinsEnabled" is set to true or false?

[2019-11-27 16:17] artiefischer commented on #650
This is working successfully in IOS with the originator property set.

The android Outlook app does not display Adaptive Cards still.

[2019-11-28 12:11] og1sha commented on #617
I managed to create and add addin to my Outlook web portal, but its displayed in dropdown menu. Is it possible to move addin to more visible place, for example to display it in appointment ribbon next to other addin buttons and not behind dropdown menu. I have noticed that some addins do this automatically but i cannot find anything in docs reagardnig this.

[2019-12-02 13:13] jasonjoh commented on #779
@NWH-SAmin5 this is mentioned here: https://docs.microsoft.com/outlook/actionable-messages/get-started

There are two boolean parameters to that cmdlet, `ConnectorsActionableMessagesEnabled` and `SmtpActionableMessagesEnabled`.

[2019-12-02 13:13] #779 closed

[2019-12-03 03:37] suman-thapamagar opened #780 "On send on windows outlook( 1902), Office 365 ProPlus"
I used to example code to create an onsend add in which works perfectly in  outlook for web.
The add in does not work in outlook windows version 1902. I am using proplus subscription form my company office.

[2019-12-03 17:33] ElizabethSamuel-MSFT commented on #775
@ab1osborne Can you let us know the response from running the cmdlet? Thanks.

[2019-12-03 19:00] #772 closed

[2019-12-03 23:18] NWH-SAmin5 commented on #779
@jasonjoh Thank so much for pointing that out.

[2019-12-04 03:43] ab1osborne commented on #775
Sorry for the delay.

Get-OWAMailboxPolicy

Returns

OnSendAddinsEnabled  : True

[2019-12-04 18:39] xstos opened #783 "Manifest editor"
Are there any tools to edit these manifests? In older VSTO addins, there were visual editors to generate ribbons, etc, but now we're expected to hand-edit XML (it doesn't even seem to have an editor that uses the schema definition like package.json in vscode). Are there better tools to do this rather than just hand-editing files? This new process is super cumbersome and way more error-prone compar

[2019-12-04 23:34] cssandstuff commented on #742
Will the AdaptiveCard format ever be supported via connectors?

[2019-12-05 12:12] exextoc commented on #775
Can you check your network trace (either using an app like Fiddler, or using the browser) if a request goes to userBootSettings.aspx or userBootSettings.ashx when you reload the page? If yes, can you give us the values for the "features" key?

[2019-12-05 14:49] jasonjoh commented on #742
@cssandstuff AFAIK there have been no announcements about bringing Adaptive to connectors.

[2019-12-05 18:48] exextoc commented on #780
OnSend is enabled for in monthly channel builds.  Could you send us the Outlook build number and release channel that you are on?  To get this, please go to File, Office Account tab, the information is in 'About Outlook' section.  Please make sure not to include your email if you are copying the information.  It should look something like this.
![image](https://user-images.githubusercontent.com/28

[2019-12-05 20:00] ab1osborne commented on #775
I logged back in this morning to re-run the tests, and magically without changing anything, it is now working. I guess something was changed in the backend - I have no idea what that was, but I am thankful to the cloud gods for doing it.

Many thanks for everyone's help.

Please close the ticket.

[2019-12-05 20:25] #775 closed

[2019-12-05 22:17] #238 closed

[2019-12-05 22:37] ElizabethSamuel-MSFT commented on #238
@MarkyDeParky @bplus @danhellem We've published updated screenshots in the add-in commands article, and included web client screenshots. Do take a look when you can and let us know your feedback.

Thanks.

[2019-12-05 22:52] sumanthapamagar commented on #780
Hi @exextoc , the release channel is semi anually.
![image](https://user-images.githubusercontent.com/29687446/70281081-23f3a400-180e-11ea-95ee-b8e02bbf3324.png)

[2019-12-06 03:16] sumanthapamagar commented on #780
![image](https://user-images.githubusercontent.com/29687446/70292687-f1a86d80-1832-11ea-924f-f2472fda4a57.png)

[2019-12-06 03:16] sumanthapamagar commented on #780
@exextoc the release channel is semi annual

[2019-12-06 17:21] DamianMehers commented on #550
I've voted on the UserVoice but it seems very strange that such a critical part of the tasks api has not been surfaced.

[2019-12-06 20:57] jjr2527 opened #788 "First time config not working"
I'm running Outlook on a Mac and I keep receiving an "{Add-in name} is working on your Insert default gist request." message in the compose message flow.  The spinner just spins perpetually.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b98fcab-f608-d0dd-08ab-633d4772f699
* Version Independent ID: ad0a00c9-e5c2-fdfc-

[2019-12-06 21:01] #788 closed

[2019-12-07 11:38] reehynjaeu opened #789 "The Autodiscover service couldn't be located."
I followed the tutorial to build my first Outlook add-in with the Build your first Outlook add-in tutorial with Visual Studio but when I try to run and try it I get the following error:

An error occurred while connecting to the server:
The Autodiscover service couldn't be located.

Could you please help?

[2019-12-10 17:22] ElizabethSamuel-MSFT commented on #674
@jasonjoh Can you or someone on your team take a look? Thanks.

[2019-12-10 17:23] ElizabethSamuel-MSFT commented on #650
@jasonjoh Can you or someone on your team take a look at this? Thanks.

[2019-12-10 17:24] ElizabethSamuel-MSFT commented on #564
@jasonjoh Can you or someone on your team take a look? Thanks.

[2019-12-10 17:24] ElizabethSamuel-MSFT commented on #577
@jasonjoh Can you or someone on your team take a look? Thanks.

[2019-12-10 17:35] ElizabethSamuel-MSFT commented on #783
@xstos Thanks for asking about this. @exextoc Do you have any suggestions?

While this is not what you're looking for, there are [several manifest validation options](https://docs.microsoft.com/office/dev/add-ins/testing/troubleshoot-manifest) that may help resolve errors.

Thanks.

[2019-12-10 17:39] jasonjoh commented on #577
I've got a backlog item to review and refresh the actionable messages documentation. I won't promise that we'll add graphics to this particular page, but we'll keep it in mind ;)

[2019-12-10 17:39] #577 closed

[2019-12-10 18:04] ElizabethSamuel-MSFT commented on #789
@reehynjaeu Thanks for trying Outlook add-ins though I'm sorry to hear you're hitting issues. If you can provide the following info, it may help us debug this.

- Outlook version and build ([instructions](https://github.com/OfficeDev/outlook-dev-docs/issues/780#issuecomment-562262546)): ______
- Platform [e.g., PC desktop, Mac, iOS, Android, web browser]: ______
- Email account type (which one app

[2019-12-10 19:40] pablodiazgutierrez commented on #564
Thank you @ElizabethSamuel-MSFT. It's been a few months so obviously it's been resolved, but at the time it would have been useful to have some guidance as to what to expect.

[2019-12-10 19:55] ElizabethSamuel-MSFT commented on #783
@xstos It seems we don't have a visual editor at this point. I'll see if we can add this to our backlog.

Thanks.

[2019-12-10 20:39] akrantz opened #792 "Outlook does not support sideload with "npm start""
The tutorial mentions using "npm start" with Outlook. But this will cause the Yo Office template project to try to sideload which doesn't work with Outlook. The documentation should be updated to have the user use "npm run dev-server" to run webpack-dev-server and then to manually insert the add-in (https://docs.microsoft.com/en-us/outlook/add-ins/sideload-outlook-add-ins-for-testing). The Yo Offi

[2019-12-10 21:22] kbrandl commented on #792
@akrantz thanks for raising this issue; I'll update the Outlook docs (quick start and tutorial) accordingly.

[2019-12-10 21:24] akrantz commented on #792
@kbrandl I also created this issue so we can improve the template/tooling accordingly: https://github.com/OfficeDev/Office-Addin-Scripts/issues/240.

[2019-12-10 22:45] #792 closed

[2019-12-10 22:47] kbrandl commented on #792
The Outlook quick start and tutorial has been updated per the feedback above (on the docs staging site), and those changes will be published to the live docs site later today.

[2019-12-11 18:44] xstos commented on #783
Ah I see. I posted it here, thinking the docs people would know since they would've documented it somewhere when creating tutorials. All addins pre-cloud (i.e. VSTO) had manifest editors and this isn't so much a feature request as a feature omission, which is probably deliberate given the tech stack has changed so dramatically. They don't need to be reminded of something that obvious... Thanks for

[2019-12-11 18:44] #783 closed

[2019-12-11 23:57] exextoc commented on #780
Since you're on Semi-annual Channel builds, onSend is not enabled.

[2019-12-12 00:01] sumanthapamagar commented on #780
@exextoc is it possible to change the release channel. If yes, what would be the procedure. Also can we expect onSend to be enabled in semi annual release channel anytime soon?

[2019-12-12 17:41] exextoc commented on #780
You can find documentation[ here](https://docs.microsoft.com/en-us/office365/troubleshoot/administration/switch-channel-for-office-365) on how to change your release channel. We are planning to include the OnSend event in the next Semi Annual channel fork most probably happening in January 2020 and released afterwards.

[2019-12-12 22:49] nandini12396 opened #795 "Action.http request fired in outlook actionable message but UI times out before API responds"
I have created an outlook actionable message which contains an action. When the user clicks on the button, an API is called which takes around 5 seconds to return a response. Before this is possible, the UI timesout throwing an error: An error occurred. Please try again later

This error does not occur if I simply return from a dummy API which just posts back a new adaptive card back immediately.

[2019-12-12 22:50] ElizabethSamuel-MSFT commented on #795
@jasonjoh Can you or someone on your team take a look? Thanks.

[2019-12-13 06:30] nandini12396 commented on #795
Returned the dummy response in API and created a thread that goes on to do the other computation in API.

[2019-12-13 06:30] #795 closed

[2019-12-13 11:19] lfd-bb commented on #317
Hello, I'm getting the same error and I don't understand why.. Can I get some help on this ?

Exception Details: System.NullReferenceException: Object reference not set to an instance of an object.

Line 27:         public static string appPassword = ConfigurationManager.AppSettings["ida:AppPassword"];
Line 28:         public static string redirectUri = ConfigurationManager.AppSettings["ida:Redire

[2019-12-13 18:19] samuel0711 opened #796 "AADSTS900144: The request body must contain the following parameter: 'client_id'."
Hello!
I've followed the tutorial step-by-step and got this error after try out update the contents of the ./routes/index.js file:
AADSTS900144: The request body must contain the following parameter: 'client_id'.

Another thing, the link that the tutorial says that should appear looks like:
https://login.microsoftonline.com/common/oauth2/authorize?redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fautho

[2019-12-13 18:25] jasonjoh commented on #796
It sounds like you don't have the file with your app registration details in it. Not sure which tutorial you're using to be more specific.

[2019-12-13 18:34] samuel0711 commented on #796
@jasonjoh i'm using the tutorial for Outlook REST API in Node.js.
This one -> https://docs.microsoft.com/en-us/outlook/rest/node-tutorial

I've created the file exactly how the tutorial tells to do.
The '.env' file:
![image](https://user-images.githubusercontent.com/20281744/70823089-d94dcb00-1dbd-11ea-8c40-1153b25be08d.png)

Changed the id on the '.env' file that i've created.
I tried to change t

[2019-12-13 18:46] jasonjoh commented on #796
Ok. Just to be clear, your .env file doesn't actually have `YOUR APP ID HERE` in it, you've replaced those values with real ones? :)

Also, is the .env file in the same directory as your app.js file?

I'm running through the tutorial again on my side to check if there's some change in a dependency that may have broken it.

[2019-12-13 18:50] jasonjoh commented on #796
Just finished tutorial up to the first sign-in attempt, and it worked for me, so I'm guessing your app is failing to read the .env file for some reason.

[2019-12-13 18:51] samuel0711 commented on #796
Yes, for both questions.

[2019-12-13 18:53] samuel0711 commented on #796
The name of the text file is exactly ".env" here. Maybe this? It seemed a litte bit strange for me...

![image](https://user-images.githubusercontent.com/20281744/70824304-bf61b780-1dc0-11ea-9cac-f3174ee776f5.png)

[2019-12-13 18:54] jasonjoh commented on #796
Turn on the option to show file extensions. I'm wondering if your file is actually .env.txt, which would break it.

[2019-12-13 18:55] samuel0711 commented on #796
Correct.

[2019-12-13 18:56] samuel0711 commented on #796
![image](https://user-images.githubusercontent.com/20281744/70824492-21222180-1dc1-11ea-915d-a7f26c8ec82c.png)

[2019-12-13 18:56] jasonjoh commented on #796
Yeah, rename it to just .env.

[2019-12-13 19:01] samuel0711 commented on #796
Worked! But the link that the 'Debug' box now is mixed:

https://login.microsoftonline.com/common/oauth2/v2.0/authorize?response_type=code&client_id=ff92b6b8-82a4-42cd-84bb-84da4c00fcb3&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauthorize&scope=openid%20profile%20User.Read%20Mail.Read

The 'response[...] is coming before the 'redirect[...]' link.
Is this a problem or is just fine?

[2019-12-13 19:04] jasonjoh commented on #796
Order doesn't matter in the link. Should be fine.

[2019-12-13 19:05] samuel0711 commented on #796
Okay, thanks a lot for your help @jasonjoh ! I'm closing the issue.

Regards.

[2019-12-13 19:05] #796 closed

[2019-12-16 21:41] RyM934 commented on #674
I tried contacting onboardoam@microsoft.com about this weeks ago and could not get an answer on it. This is going to be pretty important for me as well since we do tenant urls.

[2019-12-17 20:00] #789 closed

[2019-12-17 20:22] #780 closed

[2019-12-18 20:22] softwareCobbler opened #798 "Data field for Office.context.mailbox.item.attachments[i]"
In `makeServiceRequest`, a data field is accessed on `Office.context.mailbox.item.attachments[i]` by property name `$0_0`; on my machine I have fields named `_data$p$0`. I'm wondering if I have an outdated Outlook, or the code sample is outdated, or it's different by machine, or etc.?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-12-18 21:00] develoeprdee opened #799 "Getting an Error "Undefined index: oauth_state" While following the tutorial"
I am following [https://docs.microsoft.com/en-us/outlook/rest/php-tutorial](url).

when I have implemented this  "`gettoken()`" then working fine and generating auth code.

    `public function gettoken()
     {
      if (session_status() == PHP_SESSION_NONE) {
      session_start();
      }

      // Authorization code should be in the "code" query param
      if (isset($_GET['code'])) {
       e

[2019-12-19 07:50] vamsithumati opened #801 "service calls are failing in the outlook desktop app, where as working fine in the web outlook app"
i am not able to get data from services in desktop outlook plugin.

[2019-12-20 17:31] ElizabethSamuel-MSFT commented on #798
@softwareCobbler Thanks for asking about this.

@exextoc Can you answer this question? It relates to the example in [this section of the article](https://docs.microsoft.com/en-us/outlook/add-ins/get-attachments-of-an-outlook-item#send-attachment-information-to-the-remote-service).

Thanks.

[2019-12-20 17:32] ElizabethSamuel-MSFT commented on #799
@develoeprdee Thanks for asking about this.

@jasonjoh Can you or someone on your team take a look?

Thanks.

[2019-12-20 17:34] ElizabethSamuel-MSFT commented on #801
@vamsithumati Sorry you're hitting an issue. Are you developing an add-in? Can you let us know what services you're calling and what errors you're getting back?

Thanks.

[2019-12-20 18:08] vamsithumati commented on #801
Yes , I am developing an angular plugin for outlook, I have a api call to get data in the plugin. using the plugin in outlook web app the api calls returning the data with out errors. But if run the plugin in desktop outlook application, the api calls are failing.

And suggest me a debugging tool for desktop outlook application while developing the plugins

[2019-12-23 13:03] vamsithumati commented on #801
i am getting error message as **Http failure response for (unknown url): 0 Unknown Error**

[2019-12-23 13:47] #801 closed

[2019-12-23 14:53] exextoc commented on #798
The [AttachmentDetails](https://docs.microsoft.com/en-us/javascript/api/outlook/office.attachmentdetails?view=outlook-js-preview) object doesn't have a `$0_0` property. Please refer to the linked documentation for available APIs and we will update the snippet
[code]

[2019-12-30 20:38] Jona2332 opened #803 "Update the code to MSAL-3"
I have an error in the part of
 private async Task OnAuthorizationCodeReceived(AuthorizationCodeReceivedNotification notification)
        {
            // Get the signed in user's id and create a token cache
            string signedInUserId = notification.AuthenticationTicket.Identity.FindFirst(ClaimTypes.NameIdentifier).Value;
            SessionTokenCache tokenCache = new SessionTokenCache(sig

[2019-12-30 20:43] Jona2332 commented on #696
Please Jason Joh try to update the code asap! please!

[2020-01-02 13:30] chaim770 commented on #702
The "Adaptive Card Designer" fails to load for several weeks now: https://acdesignerstaging.azurewebsites.net/

[2020-01-03 15:04] rotorsolutions opened #805 "Add context regarding DMARC policy on AMP page"
Hi guys,

It would be great if you could a bit of context on the DMARC requirement when working with AMP.

Does this require a p=reject policy? Or will a p=none policy with an aligned DMARC result suffice for AMP to work? (Purely looking at DMARC)

The page I'm refering to is:
https://docs.microsoft.com/en-us/outlook/amphtml/security-requirements

Regards, Michiel

[2020-01-07 13:05] jasonjoh commented on #803
In the meantime, see an up-to-date Graph tutorial at https://docs.microsoft.com/graph/tutorials/aspnet

[2020-01-07 13:14] jasonjoh commented on #674
You cannot register a wildcard domain through the portal. If you require a wildcard domain, you will need to contact onboardoam@microsoft.com.

[2020-01-07 13:14] #674 closed

[2020-01-07 18:50] #742 closed

[2020-01-07 19:57] jasonjoh commented on #799
@develoeprdee I just cloned https://github.com/jasonjoh/php-tutorial and ran it with no errors. However this tutorial was written a while ago, and there have been major version updates to Laravel since then, so the steps might need updating. I'm investigating this now.

[2020-01-07 21:00] jasonjoh commented on #799
Ok, following the tutorial along with the latest PHP and Laravel I hit this too. This appears to be a problem with the configuration for Laravel's default mysql database in the .env file. Laravel uses the database to persist sessions.

The [docs](https://laravel.com/docs/master/database#configuration) say by default Laravel is set to use it's homestead database, but the entries in the .env file do

[2020-01-07 21:06] develoeprdee commented on #799
Ok, thank you so much, sir. It is running fine now. :)

[2020-01-07 21:06] #799 closed

[2020-01-10 10:06] WieserSoftware opened #810 "After an autoInvokeAction succeeds, is the new information persisted?"
Or do we make the same round trip every time the card is opened, starting from the initial information supplied.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 996b8b63-4e9a-6a6c-0cb0-374b0f4dbfd8
* Version Independent ID: 09f05eca-80f1-66bd-0e1f-30ad6f12d742
* Content: [Refresh an actionable message on open - Outlook

[2020-01-10 12:58] jasonjoh commented on #810
It is persisted. The initial card is replaced by the card you send back in the response from your autoInvoke.

[2020-01-11 10:32] justinyoo commented on #452
Late to the party. But just in case anyone interested in, there's a community effort to build the Legacy Actionable Message Card format. Please find the NuGet package: https://www.nuget.org/packages/MessageCardModel/

[2020-01-11 10:40] justinyoo opened #811 "The Summary field is mandatory, not optional"
Hi, Team.

In the [Card fields](https://docs.microsoft.com/en-us/outlook/actionable-messages/message-card-reference#card-fields) section, the `summary` field seems to be optional, but it actually is the **required** field. Whenever I send a message to a Microsoft Teams channel through the "Incoming Webhook" connector, without the `summary` field value, it always returns `400 Bad Request` error.

T

[2020-01-14 00:01] #798 closed

[2020-01-15 11:29] duncan-smith-bj opened #817 "docs/add-ins/web-services.md states that ExpandDL is a supported operation"
docs/add-ins/web-services.md states that ExpandDL is a supported EWS operation. But when I call it from a Mail Add-in in Exchange 2016, Exchange 2019 or Office 365 I get the error:

**_The requested web method is unavailable to this caller or application._**

Is the documentation wrong or is there something I am missing on how to enable this EWS operation for a Mail Add-in?

Cheers
Duncan

[2020-01-16 08:45] glr0221 opened #818 "Office Add-In not showing in the context menu."
Hello Microsoft,

One of our clients have reported late last year that addins (JavaScript-TaskPane) are not showing in the menu, when they right click on an email in the inbox of a standalone microsoft outlook client. Old versions of Microsoft outlook used to show addins when you right-clicked on an email. Here is an old image :

![OldOutlookShowingPABInContextMenu](https://user-images.githubuserc

[2020-01-17 15:26] sjoller opened #820 "Any chance of a Visual Studio based quick start guide?"
I started out trying to following this guide, but once I got through a, rather long, installation of node and the node office package, I was prompted to reboot my machine and I ran into the issue about permission to run scripts PowerShell. I had a look at the page, the error message referenced, but that was just a more general page about permissions in PowerShell, so I didn't manage to get the nod

[2020-01-17 16:02] kbrandl commented on #820
Hi @sjoller, most quick starts have both a Yeoman generator version and a Visual Studio version. You can see the Visual Studio version of a quick start by choosing the **Visual Studio** tab near the top of the quick start, and shown (highlighted) in the following screenshot:

![image](https://user-images.githubusercontent.com/3019529/72626341-6cb77600-38ff-11ea-9e08-23662b890b20.png)

The Visual S

[2020-01-17 16:02] #820 closed

[2020-01-21 08:58] avsolella opened #822 "When will there be a mobile extensionpoint for appointments?"
"What's different on mobile? Only mail read is supported at this time. That means MobileMessageReadCommandSurface is the only ExtensionPoint you should declare in the mobile section of your manifest."
When will there be a mobile ExtensionPoint for "Appointments"? (for example: MobileAppointmentAttendeeCommand and MobileAppointmentOrganizerCommand)

---
#### Document Details

⚠ *Do not edit this se

[2020-01-21 15:30] dedenker opened #823 "ERROR: Cannot read property 'length' of undefined"
I followed all the steps, but I get an error.
ERROR: Cannot read property 'length' of undefined

STACK:
TypeError: Cannot read property 'length' of undefined
    at r.render (https://spoprod-a.akamaihd.net/files/sp-client/sp-connector-webpart_nl-nl_8aad97b8575bd72b2a1c296597dd1aa8.js:1:59914)
    at r.Or.e.&lt;computed&gt; [as render] (https://spoprod-a.akamaihd.net/files/sp-client/sp-pages-assemb

[2020-01-21 15:36] jasonjoh commented on #823
Which step gives you this error?

[2020-01-21 16:19] dedenker commented on #823
On the sharepoint page in the webhook webpart.

Op di 21 jan. 2020 16:36 schreef Jason Johnston <notifications@github.com>:

[2020-01-21 16:26] jasonjoh commented on #823
Sorry if I'm missing something here, but there's no SharePoint page or webparts in this topic.

[2020-01-21 17:00] ElizabethSamuel-MSFT commented on #811
@justinyoo Thanks for raising this issue.

@jasonjoh Can you or someone on your team take a look?

Thanks.

[2020-01-21 17:02] ElizabethSamuel-MSFT commented on #817
@duncan-smith-bj Thanks for raising this issue. We'll investigate.

Thanks.

[2020-01-21 17:02] ElizabethSamuel-MSFT commented on #818
@glr0221 Thanks for raising this issue. We'll investigate.

Thanks.

[2020-01-21 17:03] ElizabethSamuel-MSFT commented on #822
@avsolella Thanks for raising this issue. We'll investigate.

Thanks.

[2020-01-21 18:00] ElizabethSamuel-MSFT commented on #817
@exextoc Can you advise if the ExpandDL operation is supported?

If it isn't, I'll update the docs accordingly. If it's supposed to be supported, then I'll likely transfer to the office-js repo for further investigation.

Thanks.

[2020-01-21 18:03] ElizabethSamuel-MSFT commented on #818
@exextoc Can you take a look.

Thanks.

[2020-01-21 18:10] ElizabethSamuel-MSFT commented on #822
@avsolella We have no current plans to support those additional extension points in the near term. We recommend that you use our [User Voice](https://officespdev.uservoice.com/) page to upvote and make feature requests as the product team considers these requests when planning upcoming work.

Thanks for your interest in Outlook add-ins development!

[2020-01-21 18:11] #822 closed

[2020-01-21 20:45] dedenker commented on #823
Yes, I see where was the wrong turn:
In Sharepoint, when adding the webpart, there is a link "Getting started with Office-365 message cards" (with the same icon).
And because step 1: Office mail app doesn't contain any connectors I figured it does apply on the sharepoint webpart.

Check it out yourself, this page might (also) be out of date.

[2020-01-21 20:51] jasonjoh commented on #823
Which webpart? Are you referring to another docs.microsoft.com page that links to this one, or is there a link in the SharePoint product during the step of adding a webpart? If the latter, can you tell me which webpart or how to get to this link?

Do you mean this step:

1. Log on to the Office 365 Mail app at https://outlook.office.com. Click the gear icon in the upper-right-hand corner of the pa

[2020-01-22 00:48] JAK1047 opened #824 "Authentication to Application Proxy IIS Server"
We're trying to send the Action.Http call through our Application Proxy app pointing to our on premise IIS website. We've set Azure AD Pre-Authentication on it, but calls don't appear to ever reach the server. I'm assuming it's reaching an authentication piece for Office365 login and stopping. Is there any official documentation on whether using an Application Proxy app with Actionable Messages is

[2020-01-22 05:54] exextoc commented on #818
Can you please specify the platform you're using? [PC desktop, Mac, iOS, Office Online]

[2020-01-22 10:28] glr0221 commented on #818
This is desktop version of office. The tests were done on a Windows desktop outlook-standalone client. I don't know if this is a bug or a change in design but would love to have a bit of documentation behind it, to show our clients too.

[2020-01-22 14:59] jasonjoh commented on #824
No, there isn't. I don't think the O365 servers would care about your implementation, so long as:

- The URL matches your registration
- The service responds appropriately

I'm not familiar with Azure AD Pre-Auth. The O365 servers that call your endpoint always send a bearer token in the `Authorization` header, but other than that don't do any authentication.

[2020-01-22 17:47] johnny-linkedin opened #825 "Cookie works inside Outlook add-in, why we can't use it for authentication?"
Currently, my team wants to develop an Outlook add-in which may need user to log in our backend system.

From document, https://docs.microsoft.com/en-us/outlook/add-ins/authentication, it seems cookie is not supported. May I ask why?

Thanks a lot!

Johnny

[2020-01-22 19:06] jasonjoh commented on #811
Hi @justinyoo, thanks for asking about this! Do you get a 400 from Teams if you include a `text` property but no `summary`?

[2020-01-23 00:03] exextoc commented on #817
Per https://github.com/OfficeDev/office-js/issues/937 in the **office-js** repo, this is an issue specifically in Outlook Web. I don't think the documentation needs to be updated at this time, pending the results of that investigation.

Duplicate of https://github.com/OfficeDev/office-js/issues/937

[2020-01-23 00:03] #817 closed

[2020-01-23 00:35] exextoc commented on #818
A context menu extension point is a [requested feature](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/35044528-outlook-web-add-in-add-context-menu-mail-item-ext) but isn't (and hasn't been) available for JavaScript add-ins. Since you asked about documentation, [this doc](https://docs.microsoft.com/en-us/outlook/add-ins/add-in-commands-for-outlook) descri

[2020-01-23 03:57] JAK1047 commented on #824
Got it. At the moment is there any means to view the headers the actionable message recieves back to the client for troubleshooting purposes? In my scenario even hitting an login page returns a HTTP 200 response, so I can't find any real means of narrowing down where the call is stopping after the Action.Http button is clicked. The Outlook addin appears to be purely for testing the adaptive card i

[2020-01-23 04:14] justinyoo commented on #811
@jasonjoh Oh, I haven't tried that combination. Let me try and get back to you.

[2020-01-23 13:49] jasonjoh commented on #824
No, there isn't. The POST to your service actually comes from the Microsoft 365 servers, not the client, so you can't capture the network traffic. You'd need to capture it on your service.

What you might be able to do is use Postman or a similar tool to do the same POST to your service and see what comes back.

[2020-01-23 22:19] emflanag commented on #780
Do we know if this is available for Semi Annual channel? Was it released this month?

[2020-01-24 00:32] exextoc commented on #780
Sorry for being unclear about the dates. I will use the [update channel overview](https://docs.microsoft.com/en-us/deployoffice/overview-of-update-channels-for-office-365-proplus) as a reference for the release schedule.

We meant that the OnSend feature would be enabled in the next **Semi-Annual (Targeted)** release, which we be in March, and the **Semi-Annual** release after that, which will be

[2020-01-24 01:02] JAK1047 commented on #824
So if it never reaches your service because of authentication issues from the O365 servers then you might be out of luck. I'll experiment a bit more and open a ticket with Microsoft for further assistance if we can't figure it out. Thank you for the information.

[2020-01-24 05:56] glr0221 commented on #818
thanks @exextoc

I know not all bugs can be fixed. But you and your team are awesome!!
Thank you again.

[2020-01-24 05:56] #818 closed

[2020-01-24 13:08] #824 closed

[2020-01-24 21:02] pcaixeta commented on #732
Still not working for me... =/

[2020-01-24 21:56] ElizabethSamuel-MSFT commented on #825
@johnny-linkedin Thanks for asking about this.

@exextoc Can you take a look?

Thanks.

[2020-01-24 23:20] exextoc commented on #825
I think the article explains when each of the suggested methods would be used, but it's not prescriptive about how to authenticate the user with your backend system. In particular, [the section on the identity token](https://docs.microsoft.com/en-us/outlook/add-ins/authentication#exchange-user-identity-token) doesn't describe a complete authentication solution, and leaves open how the initial sign

[2020-01-24 23:36] johnny-linkedin commented on #825
Thanks for the quick response!

I can imagine if I use cookie such as 'SESSION_ID', I can't have the cross Outlook benefits like the way the [identity token](https://docs.microsoft.com/en-us/outlook/add-ins/authenticate-a-user-with-an-identity-token) gives me.

However, I just want to make sure there is no specific security issue I was missing. Do you know if there are any security loopholes for u

[2020-01-29 14:29] mmdarrah commented on #689
Can i use these add-in in Outlook calendar?

[2020-01-29 16:23] ElizabethSamuel-MSFT commented on #689
@mmdarrah Not in the top level calendar but in calendar items (appointments, meetings).

[2020-01-29 16:33] mmdarrah commented on #689
Thanks for your reply. I can see and run the add-in in the Outlook mail but I couldn't find it in the calendar.

[2020-01-30 01:05] exextoc commented on #825
When you're dealing with identity and authentication, you have to make sure that your code meets the security requirements of your organization. So if you choose to use a cookie, you should check that it provides the level of security required by your organization.

[2020-01-30 17:59] johnny-linkedin commented on #825
Thanks for explaining it to me.  I will consult with security team to make sure if cookie is a choice here.

[2020-01-30 17:59] #825 closed

[2020-01-31 19:16] timothyhoffmann opened #829 "Detect Mac?"
How do I detect that I'm running in Outlook Mac vs Outlook Windows so I can adjust the code to handle the differences?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7acdec5-138a-9296-671a-733a1079317f
* Version Independent ID: a678ccf9-9918-6a4f-8506-4693582f2fae
* Content: [Compare Outlook add-in support in Outlook

[2020-01-31 19:59] kbrandl commented on #829
@timothyhoffmann please see this Stack Overflow post for the answer to your question:  https://stackoverflow.com/questions/50636868/how-to-get-outlook-platform-like-it-windows-mac-or-owa-for-add-in.

[2020-01-31 20:00] #829 closed

[2020-02-02 04:37] PascalPolygon opened #830 "Can I use Password Owner grant type instead of authorization code in nodejs ms-graph authentication?"
I followed the [tutorial](https://docs.microsoft.com/en-us/outlook/rest/node-tutorial) and got everything to run great! Thank you for that, it is amazing documentation. For my particular application, I want users to be able to book meetings (i.e create an event in the Outlook calendar). The user will obviously not have my login information, so in order to get the access token I am using Oauth2 [Pa

[2020-02-02 17:51] swissarmychainsaw commented on #423
Here is the page, and in my mind it clearly implies that Adaptive Cards are supported by Teams: https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#adaptive-card

Types of cards
This table shows the types of cards available to you.
"Adaptive Card"

[2020-02-03 13:08] jasonjoh commented on #830
Graph doesn't care about the flow used, that's all handled by the Microsoft Identity endpoints in Azure. Per their docs, Resourc Owner Password Credentials is not supported for personal accounts:

https://docs.microsoft.com/en-us/active-directory/develop/v2-oauth-ropc:

[2020-02-03 13:08] #830 closed

[2020-02-04 22:19] berndgoetz opened #831 "Connection timeout"
Hi,
when I try to generate a project, I run into a connection timeout, trying to connect to 140.82.118.3 - which seems to be a Github load balancer - any help how to get rid of this? I'm behind a Internet firewall.... Thanks for your help.

&gt; nslookup 140.82.118.3
Server:  chze41ns.swissre.com
Address:  10.10.11.214

Name:    lb-140-82-118-3-ams.github.com
Address:  140.82.118.3

&gt; yo office

[2020-02-05 11:32] sohannin commented on #732
Same here.

[2020-02-05 22:12] aappddeevv commented on #617
I found that I had to enable the "add-in" to display under the settings after I did the install as described on this page. Under settings, you can customize which buttons are shown in the read/compose context and my addin was not selected after the install. I enabled my add-in and the manage extensions button so that both are shown in the read context.

[2020-02-07 22:25] ElizabethSamuel-MSFT commented on #831
@berndgoetz Thanks for your interest in developing an Outlook add-in! Sorry that you're hitting this issue with the quick start.

@exextoc Any ideas that may help here?

Thanks.

[2020-02-07 23:05] exextoc commented on #831
What is the result if you run "telnet 140.82.118.3 443" on your machine?

[2020-02-11 10:17] evantrimboli opened #835 "Clarify requirement for IMAP/POP3."
From: https://answers.microsoft.com/en-us/msoffice/forum/all/my-outlook-for-mac-is-missing-store-button/ca0b9aac-3df3-4e08-91e4-9d452c269fe7

The current docs don't make any mention of this.
![image](https://user-images.githubusercontent.com/197184/74228263-3ad5db80-4d14-11ea-8030-b3b95c1570c0.png)

In the documentation, it doesn't seem to indicate that add-ins are not available for IMAP/POP3 emai

[2020-02-11 13:40] jasonjoh commented on #823
I fumbled around in SharePoint and finally figured out what you were referring to. I'll let the SharePoint folks know about this, it seems to be an error on their end.

[2020-02-11 13:40] #823 closed

[2020-02-11 16:59] ElizabethSamuel-MSFT commented on #835
@evantrimboli Thanks for asking about this. We do mention that IMAP and POP3 are not supported on the [Outlook add-ins requirements page](https://docs.microsoft.com/outlook/add-ins/add-in-requirements).

Thanks.

[2020-02-11 17:11] #835 closed

[2020-02-11 22:48] evantrimboli commented on #835
There should at least be some mention of it (link or otherwise) on following page.

https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets

[2020-02-11 23:49] ElizabethSamuel-MSFT commented on #835
@evantrimboli Yes, it should be there now with the latest publish.

[2020-02-12 00:30] exextoc commented on #831
Created a copy of this issue for generator-office project:
[Issue no. 516](https://github.com/OfficeDev/generator-office/issues/516)

[2020-02-12 01:02] exextoc commented on #831
@berndgoetz We have opened a new issue under generator-office repo.
[Issue # 516](https://github.com/OfficeDev/generator-office/issues/516).
Closing this one.

[2020-02-12 01:02] #831 closed

[2020-02-12 21:48] justinyoo commented on #811
@jasonjoh Yes, it gets 400 error when I send a message with `Title`, but no `Summary`.

Here's the sample test result: https://github.com/aliencube/microsoft-teams-actions/runs/442202988

[2020-02-12 21:54] jasonjoh commented on #811
Ok. Let me check internally on this. I know the Teams docs point over to our docs, but there may need to be some Teams-specific disclaimer somewhere to explain where they diverge, either in their docs or here.

[2020-02-13 13:32] jasonjoh commented on #811
@justinyoo

This simply payload without `summary` works (from the [Teams docs](https://docs.microsoft.com/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-using#post-a-message-to-the-webhook-using-curl)):

[code]

So `summary` isn't required. I believe it *is* required if you omit `text`. This matches what the 400 response has in the body. For example, if I POST:

[code]

I get ba

[2020-02-13 13:43] #811 closed

[2020-02-14 00:19] matthewfcarlson commented on #550
I've also tried and failed to get this particular part of the API. If we can get some more critical momentum, perhaps we can bring it to the attention of some of the office folks.

[2020-02-14 11:35] sidemt opened #838 "Using activerecord-session_store on Azure App Service on Linux"
Hi. I found this article very helpful. One question, in the README of the gem 'activerecord-session_store' it says:
&gt;To avoid your sessions table expanding without limit as it will store expired and potentially sensitive session data, it is strongly recommended in production environments to schedule the db:sessions:trim rake task to run daily.

Is there any way to do this on Azure App Service o

[2020-02-14 13:01] jasonjoh commented on #838
I don't know. You might want to ask this on the Azure App Service doc, it's a bit out of scope for Outlook :D

[2020-02-14 14:04] sidemt commented on #838
OK. I was reading a lot of documentation and I forgot that this one was not for the Azure app service... Sorry. Thank you for a prompt response!

[2020-02-14 14:04] #838 closed

[2020-02-17 00:19] rk40953 commented on #603
hey jasonjoh i am getting "invalid_request: The provided value for the input parameter 'redirect_uri' is not valid. The expected value is a URI which matches a redirect URI registered for this client application." while siging in to the microsoft account can you please help me out with this one

[2020-02-18 15:30] Ssereno opened #840 "the content is blocked because it isn't signed by a valid security certificate"
I have developed an addin for excel but i can't start then in my desktop excel, i get the error **The content is blocked because it isn't signed by a valid security certificate**.

I have my package.json with the following configuration because i have multiple development environments

`{
  "name": "rose-excel-addin",
  "version": "4.0.3",
  "scripts": {
    "ng": "ng",
    "startProd": "ng serve

[2020-02-18 16:39] ElizabethSamuel-MSFT commented on #840
@Ssereno Sorry that you're hitting this issue. I'll transfer out of outlook repo since this seems related to Excel.

Thanks.

[2020-02-19 16:42] scign commented on #463
The logic flow **requires** user interaction to obtain authorization so some kind of mechanism like django or flask may be necessary to receive the access token from the authentication server. What would be the simplest way to receive such a message?

[2020-02-19 23:13] kbrandl commented on #677
All Outlook add-ins docs have just been moved out of this repo and into the **OfficeDev/office-js-docs-pr** repo, so I'm transferring this add-ins-related issue there as well.

[2020-02-20 11:22] teken commented on #585
@MarieLePanda and anyone else who find this issue, I managed to find a fix. I had to go and manually delete the certificate files from my pc. Once I re-ran the dev server, it uninstalled and reinstalled the certificates. leaving me with a working project

[2020-02-22 16:56] GiantCrocodile opened #843 "Adaptive Cards Designer (preview) link broken"
https://acdesignerbeta.azurewebsites.net/ leads me to a broken page, see screenshot:

![grafik](https://user-images.githubusercontent.com/6271057/75096121-ad5c7c00-559c-11ea-81ef-035ecf76c947.png)

I tried this with Firefox and Edge. Seems not to be a browser issue but either invalid link or product issue. Please investigate this and if necessary inform the proper team. Thank you!

---
#### Docume

[2020-02-23 03:59] comingzero commented on #672
hi @ElizabethSamuel-MSFT

May I ask the same question here?

Based on the document : (pasted in the following)

**Exchange user identity token**
Exchange user identity tokens provide a way for your add-in to establish the identity of the user. By verifying the user's identity, you can then perform a one-time authentication into your back-end system, then accept the user identity token as an author

[2020-02-23 04:10] comingzero commented on #789
hi @ElizabethSamuel-MSFT

How could our service verify exchangeidtoken for on-prem exchange scenario?

I really want to open a new case, but I don't know how to open a new one.

Hope you could help me, many thanks.

[2020-02-24 14:32] jasonjoh commented on #843
Thanks @GiantCrocodile for reporting. I believe the correct link should be https://adaptivecards.io/designer/, but I'm double-checking with the team.

[2020-02-24 14:32] #810 closed

[2020-02-24 14:35] jasonjoh commented on #650
The team has informed me that there is no longer a requirement for "whitelisting" for Android. If you continue to have issues with cards not rendering on Android, please contact the onboarding team.

[2020-02-24 14:35] #650 closed

[2020-02-25 22:33] ElizabethSamuel-MSFT commented on #672
Transferring to office-js-docs-pr repo as Outlook add-ins content has been moved there.

[2020-02-25 22:40] ElizabethSamuel-MSFT commented on #789
@comingzero Seems like you've asked this question on issue https://github.com/OfficeDev/office-js-docs-pr/issues/1620? If so, I've reactivated that issue and we'll use it track the investigation and any followup.

For future reference, the [Resources](https://docs.microsoft.com/office/dev/add-ins/resources/resources-links-help) page should help you determine where to open issues or ask questions,

[2020-02-27 18:06] henrikjaeger opened #844 "Can you send actionable messages to non-Office 365 email users?"
Under the "scope of your submission" section, it is stated for a Global submission that: "This enables actionable message from your service for any email user in Office 365."

Does this mean that actionable messages cannot be sent to a Gmail email address (or any other non-Office 365 email account)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-02-28 17:36] clmartt commented on #628
seguindo os passos e o mesmo erro é apresentado poderia ajudar?

ErrorException
Undefined index: oauth_state
http://localhost:8000/authorize?code=OAQABAAIAAABeAFzDwllzTYGDLh_qYbH8oJ_4dszDiqxYQxHZnBlZxvlsclOgBtJC9GI7zQGZcPBQJfq-v5lpgSdfgt9LAQzGVlQqZ_Es6umnML5a8rXrt65JZTFcEYOB4o7rV8ttvkleXal9nqgwywn9ho2hoP6-1yHi81_kdXmrg9iF9RIlwPdq_nkQVMaGICMD2CwQtgvREJB7EejQVTq8B1kU4hKCWXkzLpWlfGm-cM8ynD7nx-4NskEiD

[2020-03-04 13:28] hari52618 commented on #463
got this error after completion of all steps,kindly help

This site can’t be reachedlocalhost refused to connect.
Try:

Checking the connection
Checking the proxy and the firewall
ERR_CONNECTION_REFUSED

[2020-03-07 05:37] ykphuah opened #846 "Signing in with another account?"
Once I have signed in with one account, triggering the flow again (even after I call forgetTokens), will show me

user@email.com

Are you trying to sign in to App [cancel] [continue].

There are no ways for me to sign in with another account.

Google's corresponding screen will give me an option to "Use another account", is there a way to accomplish this??

[2020-03-09 12:11] jasonjoh commented on #846
Yes you can. Azure OAuth is customizable as to that behavior. If you add the `prompt=select_account` query parameter you can force the selection screen. See https://docs.microsoft.com/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-authorization-code

[2020-03-09 12:11] #846 closed

[2020-03-10 17:44] jasonjoh commented on #843
Sorry for the delay. The correct link is https://amdesigner.azurewebsites.net/. I'll update the docs.

[2020-03-10 17:55] #843 closed

[2020-03-10 17:56] jasonjoh commented on #844
@henrikjaeger I *believe* this is the case, but I'm checking with the team to make sure.

[2020-03-10 18:27] jasonjoh commented on #844
@henrikjaeger recipients of actionable email MUST be Office 365 or Outlook.com mailboxes.

[2020-03-10 21:45] tfenster opened #849 "Actionable Message sent directly from playground with originator doesn't appear"
I use https://messagecardplayground.azurewebsites.net/ to send an actionable message / adaptive card via email. I just use the first example (Trello) and add a valid originator id, scoped to organization. If I open the email e.g. in the Outlook web app, it shows fine and the debugger addon shows the following under diagnostics, so that seems fine (I redacted the originator id):

[code]

It also wo

[2020-03-11 06:10] tfenster commented on #849
Just to add: I had a colleague test on iOS and it seems to be the same behavior there as on Android

[2020-03-11 12:20] deepak2140 opened #850 "The expected value is a URL it is not matching when I am going throw your documentation. Remaining everything working fine"
Thank you for helping us to improve the Outlook developer documentation.

So that we can better assist you, please note the following:

- If you have a question, need help, or are experiencing an issue with your code, we encourage you to post your question or issue on **Stack Overflow**. Tag your question according to the technology involved:
    - REST APIs: [microsoftgraph](http://stackoverflow.

[2020-03-11 14:27] jasonjoh commented on #849
I reproduce this. Checking with the team.

[2020-03-11 15:12] jasonjoh commented on #850
Which documentation?

[2020-03-11 15:36] deepak2140 commented on #850
Write a Python app to get Outlook mail, calendar, and contacts

For the above document,even I changed all the I'd& secret code.
Even I get the same HTTP api as shown in the document.
Check it once. As for you reference I attached a file verify once

[2020-03-11 17:52] jasonjoh commented on #850
Ok. We're going to retire that document soon as it hasn't been updated in quite some time. We will redirect to the Python tutorial on the Graph site: https://docs.microsoft.com/en-us/graph/tutorials/python.

[2020-03-11 18:01] jasonjoh commented on #849
@tfenster are you in dark mode on mobile by chance? AM doesn't render in dark mode, which is a known issue: https://docs.microsoft.com/outlook/actionable-messages/#outlook-version-requirements-for-actionable-messages

In my repro it was dark mode...switching to light mode caused the card to render.

[2020-03-11 19:04] tfenster commented on #849
I actually am and that indeed solved the problem... I probably checked that page 5 times but missed that 😕

Thanks and sorry

[2020-03-11 19:06] jasonjoh commented on #849
No problem at all, I completely forgot about it too, and I'm the one that added that note :)

[2020-03-11 19:06] #849 closed

[2020-03-12 16:03] jasonjoh commented on #850
Tutorial is retired in https://github.com/OfficeDev/outlook-dev-docs/pull/851

[2020-03-12 16:03] #850 closed

[2020-03-12 16:04] jasonjoh commented on #803
Tutorial has been retired per https://github.com/OfficeDev/outlook-dev-docs/pull/851

[2020-03-12 16:04] #803 closed

[2020-03-12 16:04] jasonjoh commented on #741
Tutorial has been retired per https://github.com/OfficeDev/outlook-dev-docs/pull/851.

[2020-03-12 16:04] #741 closed

[2020-03-12 16:05] jasonjoh commented on #696
Tutorial has been retired per https://github.com/OfficeDev/outlook-dev-docs/pull/851.

[2020-03-12 16:05] #696 closed

[2020-03-12 16:32] jasonjoh commented on #844
Fixed in https://github.com/OfficeDev/outlook-dev-docs/pull/853

[2020-03-12 16:32] #844 closed

[2020-03-13 10:58] tfenster opened #855 "Target URL is not allowed although set in the OAM provider"
I've created an actionable message which shows up and includes two Action.Https which I can use successfully. However if I send it to three colleagues, they get "Target URL not allowed" errors like this when they execute the action:

![image](https://user-images.githubusercontent.com/15346084/76615028-79340580-6521-11ea-8bde-66e7326ed217.png)

I have added the URL to an Actionable Message Provider

[2020-03-13 13:51] pankajpalOlk commented on #855
@tfenster just for information - are you using the same originator GUID in your payload which was auto generated while onboarding?

[2020-03-13 14:27] tfenster commented on #855
@pankajpalOlk Not sure what you mean with onboarding? I go to https://outlook.office.com/connectors/oam/publish, create a publisher and use that ID

[2020-03-13 14:30] pankajpalOlk commented on #855
@tfenster  yes, thats what i meant. using the same originator GUID generated from the portal you mentioned above inside your adaptive card. Could you please share the GUID here so that i could look up some logs for you.

[2020-03-13 14:31] tfenster commented on #855
18f700a8-0319-4e1b-80a9-9fda503eab97

[2020-03-13 15:02] pankajpalOlk commented on #855
I see, you had one successful request from outlook web while failure from outlook windows, Do you happen to know the difference in the two cards.

Can you  install Actionable Messages Debugger Outlook add-in from here: https://appsource.microsoft.com/en-us/product/office/WA104381686?src=office&corrid=04605ed9-65aa-4d81-99a7-ff408a60d8e3&omexanonuid=72cef493-6199-4f8a-ad3d-4f8b211d1952&referralurl=

[2020-03-13 15:05] tfenster commented on #855
It works for me and I am using the Web Client and has failed for my colleagues. I'll ask them to install the debugger but am not sure if that is allowed in our tenant

[2020-03-13 15:36] tfenster commented on #855
You should now see one more failure from outlook windows and one from outlook web as I tested both with my colleague, both showing the same failure. I don't want to share the full content of the debugger here, so could you please download it from https://arssolvendi-my.sharepoint.com/:u:/g/personal/tobias_fenster_arssolvendi_onmicrosoft_com/EQdmy8XP5odLjfcg9FcQAeUBnb6FROdtxCL9YiLPlIPTRg?e=wXi8PI a

[2020-03-13 15:43] pankajpalOlk commented on #855
i have the logs with me, you can remove the file.

[2020-03-13 16:02] pankajpalOlk commented on #855
I see that the cards have two different originators:
e7e751ec-c91c-4000-8d23-7410dbdcf2d6 and 18f700a8-0319-4e1b-80a9-9fda503eab97

Which one of these is the one registered in the https://outlook.office.com/connectors/oam/publish portal as Provider id (Originator) ?

[2020-03-13 16:04] tfenster commented on #855
sorry, sent you the wrong one as we tried a number of times and recreated publishers. 18f700a8-0319-4e1b-80a9-9fda503eab97 as referenced in 3 of the 4 files is the correct one

[2020-03-16 11:44] pankajpalOlk commented on #855
@tfenster  I see some pass logs for 18f700a8-0319-4e1b-80a9-9fda503eab97. Can you confirm.

[2020-03-16 12:03] tfenster commented on #855
@pankajpalOlk yes, as I wrote, it works for me, but not for my colleagues

[2020-03-26 08:40] cimaja opened #856 "Actionable messages renders on Outlook desktop but doesn't on Outlook for Android"
I've created an actionable message with the [designer](https://amdesigner.azurewebsites.net/) that displays two open.url actions. I'm able to send that card to myself and It renders well on Outlook on desktop but when I use the Outlook for Android client the card doesn't show. Am I missing something?
</br>

**The card in Outlook for Desktop**
![Image of designer](https://i.imgur.com/VHkaMV3.png)
<

[2020-03-26 13:18] JAK1047 commented on #856
Not to piggyback off this, but I'm in the same situation. Card has an Action.Http and an Action.OpenURL. Fine on Outlook for Windows, but won't display in Android. Verified mailbox is using Native sync, but can't find a definitive answer on if Actionable Messages for Android is supported yet.

[2020-03-30 12:44] jasonjoh commented on #856
Actionable Messages are supported on Outlook for Android. Are you using dark mode? They are not supported in dark mode yet.

[2020-03-30 20:38] cimaja commented on #856
No I'm not using dark mode. My Adaptive Card doesn't render on Android nor iPhone while it does render well on Outlook for Mac , PC and Web.

[2020-03-30 20:45] jasonjoh commented on #856
Ok. Can you share your card markup? I'll try it here.

[2020-03-30 20:55] cimaja commented on #856
`{
"$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
"type": "AdaptiveCard",
"version": "1.0",
"Originator": "c74f2233-e8bd-4e11-842b-b00f1c4681cc",
"minHeight": "100px",
"verticalContentAlignment": "Center",
"fallbackText": "Not supported",
"body": [
{
"type": "ColumnSet",
"id": "1ede2aba-61b9-faa0-9895-9ed0c26b2e6f",
"columns": [
{
"type": "Column",
"id": "e5756242-0963-37a2-7cb4-

[2020-03-30 21:14] jasonjoh commented on #856
Ok, I can send your payload using the [AM Designer](https://amdesigner.azurewebsites.net/) and it renders for me on iOS, so the markup is fine.

Is your account on "Microsoft sync technology" on mobile?

![sync](https://user-images.githubusercontent.com/8966342/77962375-766b3b80-72a9-11ea-8e2f-5c5dea15bfb8.jpg)

[2020-03-31 06:11] cimaja commented on #856
@jasonjoh thanks for investigating yes my account is on "Microsoft Sync Technology"
![Screenshot_20200331-080957_Outlook](https://user-images.githubusercontent.com/33322682/77992867-3cd91580-7327-11ea-94dc-480a95b3fe64.jpg)

[2020-03-31 12:49] gwharton opened #857 "Verify Email address is incorrect"
[Enter feedback here]
Sending a verification email to amverify@microsoft.com as per the instructions on this webpage results in a bounce message with mailbox unknown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2eaf591-7ab8-e405-3366-94b46146be71
* Version Independent ID: 2783a865-1195-02ed-e9c7-f5e40c6f9d56
* Cont

[2020-03-31 12:52] jasonjoh commented on #856
Ok. If you go to the AM Designer site and sign in, can you send your payload to yourself and see if it renders in mobile? Just choose the blank template, then choose the "Edit JSON Payload" button to paste in your markup.

[2020-03-31 12:55] jasonjoh commented on #857
Thanks @gwharton for reporting. I'm checking with the verification team and will update ASAP.

[2020-03-31 13:37] tfenster commented on #855
@pankajpalOlk Any feedback on this?

[2020-03-31 14:17] pankajpalOlk commented on #855
@tfenster i couldnt figure out the root cause via our logs. Did your colleagues try it recently?
Is it possible to try out a new registration and use the newly generated originator GUID.

[2020-03-31 15:48] jasonjoh commented on #857
Please use onboardoam@microsoft.com instead of the one in the docs. I will update the docs.

[2020-03-31 15:50] gwharton commented on #857
Thanks for the quick response @jasonjoh

[2020-03-31 15:56] #857 closed

[2020-03-31 18:12] cimaja commented on #856
When I send the same payload via the Designer, it does show normally on my mobile.

[2020-03-31 18:16] jasonjoh commented on #856
Ok. So that would indicate it's a problem with how you're sending it. When you send via the designer, it is sent from your account to yourself, so a lot of the security checks are bypassed for testing purposes.

- When you registered on the email dev dashboard, what scope did you choose?
- In the non-working case, are the emails being sent from the email address you registered in the dashboard?
-

[2020-03-31 18:26] cimaja commented on #856
Ok sounds good. I chose _Test Users (Test your provider on users from the same tenant, auto-approved)_ to do my testing. I'm sending it using the same email I've used to register on the portal. I'll install the plugin and see If I notice anything.

[2020-04-01 07:14] tfenster commented on #855
@pankajpalOlk I created a new registration and now it works. Not sure why, but if it works, I'll just accept this :)

[2020-04-01 07:14] #855 closed

[2020-04-01 07:16] pankajpalOlk commented on #855
@tfenster  could have been a temporary issue with the registration portal at the point of time...

[2020-04-03 20:10] JAK1047 commented on #856
Weirdly enough mine just started working even in Dark Mode after updating to version 4.1.53 of the Outlook client on Android.

[2020-04-16 12:48] willwade opened #860 "Bad payload received by generic incoming webhook.%"
Just following the basics - and curl gives me this:

``Bad payload received by generic incoming webhook.%``

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2606e423-7aff-b44e-3c88-1a96d16ed1fc
* Version Independent ID: 29e8d7ba-d255-f533-7781-aa2aa14a040e
* Content: [Get started with actionable messages via connectors -

[2020-04-16 13:56] jasonjoh commented on #860
Can you post your full curl command? There may be something lost in translation there.

[2020-04-16 14:28] willwade commented on #860
So following: https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-using#post-a-message-to-the-webhook-using-curl

This:

``// on macOS or Linux
curl -H 'Content-Type: application/json' -d '{\"text\": \"Hello World\"}' <YOUR WEBHOOK URL>``

is coming back with

``Bad payload received by generic incoming webhook.%``

And used our webhook in place of <YO

[2020-04-16 15:03] jasonjoh commented on #860
I see. Did you see the [other issue on that page](https://github.com/MicrosoftDocs/msteams-docs/issues/1546)? The commenter says they actually had to do this:

[code]

[2020-04-16 15:18] willwade commented on #860
No I didn't see that - Seems like this does need updating. Thanks for the pointer. Shame it's not actually on the page

[2020-04-16 15:22] jasonjoh commented on #860
Yeah, this is the Outlook connector page. Teams uses our schema reference, but their how-to docs differ from ours :). Ironically, your original curl request works fine with an Inbox connector.

I'm going to close this since they have an open issue on their docs repo to fix this.

[2020-04-16 15:22] #860 closed

[2020-04-20 20:56] surajkoneri opened #861 "Invalid GET API URL"
In this below documentation, it is referred to send token request to URL GET https://login.microsoftonline.com/common/oauth2/v2.0/authorize with client_id, redirect_uri, response_type=code and scope as query string.
But i received error as requesting token with common deprecated since 15th Oct 2018.

Received error:
Usage of the /common endpoint is not supported for such applications created after

[2020-04-20 20:57] surajkoneri commented on #861
Even requesting Getting an access token, it should be specific to particular tenant instead of /common. also it is not mentioned when to use /common - usually when registered app with multi-tenant.

[2020-04-20 21:00] jasonjoh commented on #861
What kind of application did you create? The [current Azure documentation](https://docs.microsoft.com/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-access-token) indicates common is fine:

[2020-04-20 21:15] surajkoneri commented on #861
i created regular app registration (without template), with dummy localhost as redirect uri

[2020-04-20 21:16] jasonjoh commented on #861
Did you create it as multi-tenant? I think maybe that's the difference.

[2020-04-20 21:17] surajkoneri commented on #861
no.. its single tenant app.
that is not discussed in the article related to outlook REST API on how to request access token..

[2020-04-20 21:19] jasonjoh commented on #861
Yep, fair enough. I think the best thing here would probably be to remove all the auth requests and just point to the Azure documentation.

[2020-04-20 21:24] surajkoneri commented on #861
yes, thanks
i wanted to report issue with documentation with respect to requesting access token URLs.
apologies if my description was not clear.

[2020-04-20 21:25] jasonjoh commented on #861
Not at all! Thanks for reporting this.

[2020-04-27 15:21] jmussman opened #862 "Chrome"
Actionable message support fails for web-based Outlook in Chrome, but not in Firefox or Safari. It's well known that much Microsoft client-side code has problems with Chrome (not sure why, my own code works fine), but there should be an asterisk on this page for that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc03

[2020-04-27 22:56] jasonjoh commented on #862
@jmussman Actionable messages are supported in Chrome. Do you have a repro of your failure you can share with us?

[2020-04-27 23:57] jmussman commented on #862
You are correct. I rebooted since I posted that, and when I went back to take a screen shot for you it’s magically working. My bad then, sorry 😊 I guess welcome to the wonderful world of so many things impact so many others now days… I have no idea what could have caused that.

From: Jason Johnston <notifications@github.com>
Reply-To: OfficeDev/outlook-dev-docs <reply@reply.github.com>
Date: Monda

[2020-04-28 13:28] #862 closed

[2020-04-28 13:38] Gregster66 commented on #423
That document states that Adaptive Cards work with some aspects of MS Teams, like Bots. You can see that it states that using Connectors is not supported, and wehbooks fall under the category of "Connectors"

[2020-04-29 15:07] jasonjoh commented on #856
@cimaja did you find anything out with this?

[2020-05-01 11:52] cimaja commented on #856
Hi @jasonjoh, closing this issue as it seems to have resolved by itself too.

thanks for your help!

[2020-05-01 11:52] #856 closed

[2020-05-04 17:18] #861 closed

[2020-05-06 07:13] mehulkasliwal opened #864 "Unable to render underscore "_" properly in message cards"
When a message card's key activityTitle/activitySubtitle/activityText contains underscore "_" in the string, it is not able to render it properly. It randomly makes the text around underscore italic.
For ex refer the below JSON:
[code]
It is unable to render the text correctly. It makes "SOURCE" italic

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-05-06 12:55] jasonjoh commented on #864
Wrapping text with underscores is [Markdown syntax](https://www.markdownguide.org/basic-syntax#italic) for italics. As that link explains:

So for example, GitHub's Markdown parser ignores underscore in the middle of the word: BUILD_SOURCE_TASK. It appears that the Message Card parser in Outlook does not ignore them. Interestingly enough, Outlook on the web seems to ignore them.

You can avoid thi

[2020-05-07 05:37] mehulkasliwal commented on #864
This works. Thanks

[2020-05-07 05:37] #864 closed

[2020-05-10 16:17] RoyRK07 commented on #508
I just removed the bearer from authorization headers and put only access token. It worked...

[2020-05-10 23:38] butchersoft1 commented on #732
was there a fix?

[2020-05-13 10:27] ekansh005 opened #865 "Client support roadmap should be updated"
Since January 2020 has passed, the support roadmap should be updated with latest status.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3718830a-252f-fbb0-a915-7bbb7a1583af
* Version Independent ID: c97c6ce0-a184-d58e-0742-0289e3eaeeb8
* Content: [Link Azure Active Directory identity with your own identity provider (Pr

[2020-05-14 03:20] RamiSh commented on #452
@justinyoo this is great. Thanks for sharing!

[2020-05-21 15:44] jasonjoh commented on #564
After lengthy discussion with the team, we're unable to provide an expected review time. A lot of this depends on current workload, number of submissions needing review, etc. You can always reach out to onboardoam@microsoft.com to check status if needed.

[2020-05-21 15:44] #564 closed

[2020-05-21 16:51] #865 closed

[2020-05-22 09:07] ekansh005 opened #869 "Post-Identity-Linking-Redirect-Url header is not present in initial request"
Hi,
'Post-Identity-Linking-Redirect-Url' header is not present in the initial request to my action endpoint. I am using Office365 ProPlus to trigger the action.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3718830a-252f-fbb0-a915-7bbb7a1583af
* Version Independent ID: c97c6ce0-a184-d58e-0742-0289e3eaeeb8
* Content: [

[2020-05-26 17:09] jasonjoh commented on #869
What type of card are you doing this with?

[2020-05-27 11:56] ekansh005 commented on #869
Hi, sorry for not mentioning it earlier. I am trying this with https://amdesigner.azurewebsites.net/. When I trigger HTTP action from outlook and observe headers in my API, this particular header is not present.
I am not sure if this is intended or not. If it is, it should be documented.

[2020-05-27 13:23] jasonjoh commented on #869
Since that tool creates Adaptive Card messages, it should work. I've tested it yesterday to confirm. Can you post your card JSON? Also, are you sending this to an Office 365 user?

[2020-05-27 14:00] ekansh005 commented on #869
I verified again and in fact, redirect url is present but with name 'identity-linking-redirect-url'.

[2020-05-27 14:29] jasonjoh commented on #869
Ah! Yep, I see that too. Didn't notice they dropped the "Post-". Let me check with the team on that.

[2020-05-28 17:57] jasonjoh commented on #869
Ok..I've confirmed that the header you're seeing is the correct expected header. The docs have the wrong value. I'll get that updated.

[2020-05-29 13:40] #869 closed

[2020-06-02 16:57] SunRift opened #873 "Local storage in Outlook"
Local storage example using OfficeRuntime.Storage (as shown in Excel sample code) is not working in Outlook.
If this is because the Outlook API doesn't support promises, how would you access local storage instead?

[2020-06-02 17:01] jasonjoh commented on #873
@SunRift Office Add-in content has been moved to another repository. I'm going to transfer this issue there.

[2020-06-02 19:05] thedangler opened #874 "Can't put text at bottom of the card"
When creating a card for teams channel using the legacy documentation I am unable to get the text to show at the bottom of the card.

If I put the text at the end of section. It shows up before the facts.
If I add the text to the card it shows up before the section.

How do you get it to show bellow the section?

[2020-06-02 19:33] jasonjoh commented on #874
Can you share your card JSON?

[2020-06-02 21:20] thedangler commented on #874
{
 "@type": "MessageCard",
"summary" : "error",
"title": "HUB Error",
	"sections": [
        {
            "facts": [
                {
                    "name": "URL",
                    "value": "https://test.com"
                }
            ],
		"text": "sample text"
	}
    ]

}

and I've tried

{
 "@type": "MessageCard",
"summary" : "error",
"title": "HUB Error",
	"sections": [
        {

[2020-06-03 12:14] pankajsharma2000 commented on #779
Is there a way to disable actionable messages for just one connector? We really want to use incoming webhook but there are security concerns as there is no auth. It seems like just getting JSON is safer as explained in feature Secure resource definition. But we want to block actionable messages in an incoming webhook connector.

[2020-06-03 12:15] pankajsharma2000 commented on #779
ah .. I just realized this is a closed issue. I will try to ask this in an open one. But, if you have answer please do tell as we can use some help.

[2020-06-03 13:40] jasonjoh commented on #874
You need your text in a separate section, like so:

[code]

![image](https://user-images.githubusercontent.com/8966342/83643596-344ac880-a57e-11ea-8e1e-08326094e188.png)

[2020-06-04 13:04] chaim770 opened #875 "Dynamic Substitutions in InitializationContext"
Can we use dynamic substitutions when passing data in `initializationContext`?

For example:

[code]

When `description` is a text element defined as:

[code]

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b948883f-055a-1e6a-791d-84338fc437a5
* Version Independent ID: 62b37158-dc1a-bfbe-d7ff-ba1963de950c
* Cont

[2020-06-04 14:02] jasonjoh commented on #875
To clarify, you’re looking to pass user input from the card to the add-in? I’m not sure if it’s possible, I’ll ask and post an update. Let me know if I’m misunderstanding.

[2020-06-04 14:12] chaim770 commented on #875
Yes indeed. We need to pass some user input into the Add-In.

[2020-06-08 13:08] jasonjoh commented on #875
@chaim770 I double-checked with the team to see if this was something that just wasn't documented, and unfortunately no, the initialization context does not support this. Please feel free to share your feedback with onboardoam@microsoft.com.

[2020-06-08 13:08] #875 closed

[2020-06-12 05:45] romitgirdhar commented on #508
Thanks for that workaround, @RoyRK07. This seems to be a bug with the Graph API. I hope someone from MS can log the issue.

[2020-06-15 18:20] #874 closed

[2020-06-19 11:00] rajevergreen opened #876 "Outlook Adaptive contents are blank when send to other emails in organisation"
I have registered adaptive card for outlook at organisation level and has been approved by admins too.
However, when I try sending email to anyone within the organisation, adaptive card content is blank.
I can see the content for myself when copied into those emails.

Am I missing any step here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-06-19 14:00] jasonjoh commented on #876
The only issue I could see is if you aren't including the `originator` property in your card set to the provider ID from your registration. If you are doing that and it still is not working, there can sometimes be a delay between approval and the feature becoming available. Please reply back if it is still not working after 24 hours.

[2020-06-19 15:55] thisnameissoclever opened #877 "The example provided does not work"
The example message body provided does not work. It results in HTTP 400: "summary or text is required" when sending the webhook to a Microsoft Teams channel endpoint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2606e423-7aff-b44e-3c88-1a96d16ed1fc
* Version Independent ID: 29e8d7ba-d255-f533-7781-aa2aa14a040e
* Cont

[2020-06-19 16:02] jasonjoh commented on #877
@thisnameissoclever there is a `text` field in the example so I'm not sure what the problem is with Teams. These docs were written for Outlook connectors - there may be some subtle difference I'm not aware of.

Have you tried adding a `summary` field? If I can figure out how to make the Teams connector accept this in a way that doesn't break the Outlook connector I'm happy to update the example ca

[2020-06-19 17:12] thisnameissoclever commented on #877
Hey @jasonjoh,

I literally copy-and-pasted the JSON from the default example poll (and others) built using [this tool](https://amdesigner.azurewebsites.net/). Here is the response I get:
![image](https://user-images.githubusercontent.com/16503700/85161457-a1b05780-b214-11ea-8b3c-ed54658564e9.png)

When I add a "summary" node, I just get a blank message in the channel like so:
![image](https://use

[2020-06-19 17:17] jasonjoh commented on #877
Oh ok. I thought you were referring to the example markup supplied on the page. Yes you're correct - connectors do not support AdaptiveCard (called out at the top of that [page](https://docs.microsoft.com/outlook/actionable-messages/send-via-connectors)). There are MessageCard examples in the tool near the end of the dropdown.

![image](https://user-images.githubusercontent.com/8966342/85162245-06

[2020-06-20 09:31] ali-shahbaz commented on #585
@teken Thanks for your comment, I actually changed port from 3000 to 4001 and my certificates were installed on 3000 port, so with help of your comment I deleted and reinstalled certificated by running 'npm run dev-server'

[2020-07-07 00:12] williamlee commented on #732
This is not working for me too. Same error as reported.

[2020-07-07 04:04] rajevergreen commented on #876
Hello Jason,

Sorry for the delay in the response.
This email landed in my junk box.

I did ensure the originator property is set to the one that I have register on the dashboard.
In fact I tried both the ones, personal and orgnisation level originator id.
Unfortunately, no luck.

I did raise a case with MS (in-progress with them)

Thanks,
Rajendra

________________________________
From: Jason Joh

[2020-07-07 12:21] platform54646 opened #879 "https://outlook.office.com/webhook/95bd63da-352d-47f7-97ec-fb92fdfb4ebd@46e6803e-2aaf-42ea-8122-36858198d57e/IncomingWebhook/470e9d3f65794b169cc43399a0167b3d/481c2907-7ed2-48c4-bf0f-74781a109f9c"
{
    "$schema": "https://developer.microsoft.com/en-us/json-schemas/teams/v1.3/MicrosoftTeams.schema.json",
    "manifestVersion": "1.3",
    "version": "1.0.4",
    "id": "57c81e84-9b7b-4783-be4e-0b7ffc0719af",
    "packageName": "com.limestat.tasklist",
    "developer": {
        "name": "LimeStat, Inc",
        "websiteUrl": "https://www.tasklistforteams.com",
        "privacyUrl": "https://ww

[2020-07-07 12:21] platform54646 commented on #879
Its OK

[2020-07-07 12:26] platform54646 commented on #876
OK

[2020-07-07 13:14] jasonjoh commented on #879
I'm not sure what you're trying to communicate. Can you explain what, if any, assistance you need?

[2020-07-07 13:15] jasonjoh commented on #876
Thanks for letting me know. Please let us know how you resolve it with support.

[2020-07-07 23:18] teraco opened #880 "Please add not that Outlook(desktop client) is NOT full support actionable message."
Hi,

I'd try to use actionable message in Outlook(desktop client) but Outlook(desktop client) NOT supported Action.Submit.

Would you add note that Outlook(desktop client) is NOT full support actionable message and link to [this article](https://docs.microsoft.com/en-us/outlook/actionable-messages/#outlook-version-requirements-for-actionable-messages
)?

---
#### Document Details

⚠ *Do not edit t

[2020-07-07 23:25] jasonjoh commented on #880
I'm not sure I understand. The documentation states it does not support `Action.Submit` already, as you quoted. `Action.Submit` is not "actionable message", it's an Adaptive Card feature. Can you clarify what you're asking?

[2020-07-07 23:57] teraco commented on #880
Thank you for your replying.

I understood that "Action.submit" was part of the "Actionable message" so I thought the "Docs" were incorrect. However, as you told me, if "Action.submit" is different from "Actionable message", I think there is no mistake in the description of Docs.Please close this issue.

![image](https://user-images.githubusercontent.com/5419657/86856767-f9493100-c0f7-11ea-87da-83

[2020-07-08 00:21] jasonjoh commented on #880
Ah, I think I see. Actionable Messages is an Outlook-specific feature - an email that supports a card that can do stuff. Adaptive Card is just the UI piece of the feature.

The original Actionable Message used what we call [MessageCard format](https://docs.microsoft.com/outlook/actionable-messages/message-card-reference). Today, Actionable Messages also support the [Adaptive Card](https://adaptive

[2020-07-08 01:34] teraco commented on #880
Thanks!
Finally,I understood as the following figure.

![image](https://user-images.githubusercontent.com/5419657/86863588-7380b200-c106-11ea-95da-6be57a386091.png)

[2020-07-10 00:00] #877 closed

[2020-07-11 18:00] #880 closed

[2020-07-12 09:40] rajevergreen commented on #876
Hi All,

Microsoft has still been investigating this issue.
They are tossing this case internally within their teams.

Awaiting for some outcome.

Thanks,
Rajendra

________________________________
From: msftbot[bot] <notifications@github.com>
Sent: Saturday, July 11, 2020 3:00 PM
To: OfficeDev/outlook-dev-docs <outlook-dev-docs@noreply.github.com>
Cc: Rajendra <raj_evergreen@hotmail.com>; Author

[2020-07-13 18:02] fritzvdw opened #882 "Adaptive Card working on desktop outlook and desktop web but not on mobile"
Mobile web not showing adaptive card that shows on desktop web
Android Outlook not showing adaptive card that shows on desktop outlook

{
    "type": "AdaptiveCard",
    "id": "427FB9DB-E2E6-4A26-B684-454D6B62A731",
    "correlationId": "934acf0a-dae8-4f9c-867e-8a2ff9d1c57b",
    "messageCardContext": {
        "correlationId": "934acf0a-dae8-4f9c-867e-8a2ff9d1c57b",
        "messageCardSource": "

[2020-07-13 18:15] fritzvdw commented on #882
Even when sending from Actionable Message Designer - works on desktop but not on android mobile

[2020-07-13 19:36] jasonjoh commented on #882
You need to add your originator id from the [developer dashboard](https://docs.microsoft.com/outlook/actionable-messages/email-dev-dashboard).

[2020-07-13 19:50] fritzvdw commented on #882
Can you please clarify what you mean? Do you mean add it the card.json payload - I did that -still does not work on android. Or do you mean you need it to investigate?

[2020-07-13 19:55] jasonjoh commented on #882
Sorry I meant you need to add it in your payload. How long ago did you register in the dashboard, and what scope did you choose? Are you sending this message to yourself, or to someone else?

[2020-07-13 20:00] fritzvdw commented on #882
Was added in the developer dashboard about 2 days ago at least. Was setup with Test user scope and test user e-mail my email and sender as another mail address that I am sending from, through SMTP

I am using signed card payloads to send it from other mail address to mine, to make it show in my mailbox - and like I said, this works fine on my desktop outlook, but does not work on my android phone.

[2020-07-13 20:08] jasonjoh commented on #882
Yep, got that. Desktop Outlook will bypass any registration requirement if you send self-to-self, that's why I was asking :D.

Is your Android client in dark mode by chance? If so, can you flip to light mode and see if the card renders?

[2020-07-13 20:10] fritzvdw commented on #882
Okay, I re-installed outlook for android, and resynced my account, and now after resync I can see the card in there. (was not on dark mode no). The mobile web still does not work however. Is there some settings for that needed as well? or is that not supported?

[2020-07-13 20:13] jasonjoh commented on #882
Mobile web - good question. I don't believe it's supported, but let me verify with the PM team.

[2020-07-14 15:00] #879 closed

[2020-07-28 09:46] kumaranupam21 opened #885 "Unable to see actionable message in Outlook 2016 client"
The documentation at https://docs.microsoft.com/en-us/outlook/actionable-messages/#release-notes clearly mentions that Office Professional Plus 2016 supports "Actionable Messages are available for Office 365 only". I understand, this means if  Office Professional Plus 2016 is connected with Office 365 (Exchange Online) then it will support Actionable messages. However, it was not rendering. Could

[2020-07-28 12:16] jasonjoh commented on #885
Sorry for the confusion. That note intends to mean that actionable messages are only supported in the Office 365 versions of the client - the ones you download from the Office portal, otherwise known as click-to-run versions. Pro Plus does not support AM.

[2020-07-28 12:39] kumaranupam21 commented on #885
OK Thanks. Maybe updating the document will help a lot of people. If I search internet, there is a log of confusion about the topic if on-premise version of Office 2016 professional plus supports Actionable messages or not.

[2020-08-05 08:55] smish-111 opened #886 "how to do mail forward rule setting in Microsoft outlook using c# code?"
how to do mail forward rule setting in Microsoft outlook using c# code?

[2020-08-05 08:57] smish-111 opened #887 "how to do mail forward rule setting in Microsoft outlook using c# code?"
how to do mail forward rule setting in Microsoft outlook using c# code?
Any help would be appreciated.

[2020-08-05 13:10] jasonjoh commented on #887
Duplicate #886

[2020-08-05 13:10] #887 closed

[2020-08-05 13:20] jasonjoh commented on #886
@smish-111 this GitHub repository is for issues with the documentation on docs.microsoft.com/outlook. We can't answer general support questions here.

[2020-08-05 14:00] #886 closed

[2020-08-12 02:41] csamleong opened #889 "Message Card Input Value Substitution doesn't work in TEAMS"
Hi all,

I have a problem where I am unable to use input value substitution syntax in the TEAMS. Please refer to
[StackOverflow Message Card Input Value Substitution in TEAMS](https://stackoverflow.com/questions/63363344/actionable-message-message-card-input-value-substitution-not-working-in-micros).

Syntax according to [Input Value Substitution](https://docs.microsoft.com/en-us/outlook/actionabl

[2020-08-12 13:06] jasonjoh commented on #889
It seems to work for me. I used your markup as-is, but changed the `target` to an ngrok proxy so I could capture the traffic.

Card in Teams:

![image](https://user-images.githubusercontent.com/8966342/90018187-8abd3d00-dc7a-11ea-9538-df7f993a123d.png)

Captured in ngrok:

[code]

If you're not able to make it work, you may need to contact support. We're not really setup to provide detailed troubl

[2020-08-12 15:01] csamleong commented on #889
@jasonjoh noted, thanks!

[2020-08-12 15:01] #889 closed

[2020-08-16 15:53] guillaumemeyer opened #890 "Outlook Developer Dashboard: New actionable message app registration form is broken"
I tried 3 times to submit a new app from the dashboard, filled all the required fields, and when submitted, the form generates an error:
![image](https://user-images.githubusercontent.com/1385518/90338331-33f09400-dfe9-11ea-8a4b-bbc2cca8ef0b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2eaf591-7ab8-e405-3366-94

[2020-08-17 13:19] jasonjoh commented on #890
Sorry you're having trouble @guillaumemeyer! Please email onboardoam@microsoft.com for assistance.

[2020-08-19 11:12] PaulBendall opened #891 "The link to MAAWG is not up to date"
Under the section "General Email Best Practices" the link to M3AAWG is to an old document dated 2015, or more recent document from 2019 exists and is available via the URL : https://www.m3aawg.org/SendingDomsBCP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e10ecdc2-ca25-d51e-14ca-91672b6c4675
* Version Independent ID

[2020-08-20 19:58] hollytrull opened #892 "Outlook 2016 action card can not toggle to email content"
When i first started using the action card, below the card there was a "more" that allowed you to toggle to the email that is behind the card and you could switch back and forth between the two items. Now with the current version of outlook you cannot see the email that is behind the card.  Removing the hideoriginalbody (setting to false) allows the email to show but its not as clean as the more t

[2020-08-20 20:08] jasonjoh commented on #892
@hollytrull is this legacy MessageCard format or AdaptiveCard? I see the "Show original message" for MessageCard but not for AdaptiveCard.

[2020-08-24 13:10] jasonjoh commented on #892
I confirmed with the product team that the "Show original message" button was removed. For a lot of users, this was causing confusion, implying that the card wasn't somehow the "real" or "original" message.

[2020-08-24 14:02] hollytrull commented on #892
Maybe a rename of the button would have been nicer!!!  some thing like See Accompanied Message.

We only went to using the cards because of that feature.

[2020-08-24 14:10] jasonjoh commented on #892
I've passed along the feedback, but if you want to provide it more directly, you can leave feedback at https://officespdev.uservoice.com/.

[2020-08-24 15:00] #892 closed

[2020-09-14 16:03] jasonjoh commented on #891
Thanks for your feedback @PaulBendall. The Outlook team has announced that they are ending the developer preview for AMP on October 1, 2020. These documents will be removed at that time.

[2020-09-14 16:03] #891 closed

[2020-09-14 16:04] jasonjoh commented on #805
Thanks for your feedback @rotorsolutions. The Outlook team has announced that they are ending the developer preview for AMP on October 1, 2020. These documents will be removed at that time.

[2020-09-14 16:04] #805 closed

[2020-09-14 16:05] jasonjoh commented on #765
The Outlook team has announced that they are ending the developer preview for AMP on October 1, 2020. These documents will be removed at that time.

[2020-09-14 16:05] #765 closed

[2020-10-27 11:13] GMolini opened #895 "Addin disappeared. Get addins redirects to web"
I have this issue: https://github.com/OfficeDev/outlook-dev-docs/issues/514 but cant comment since it has been closed. I had sideloaded my addin correctly and was trying some things when I accidentally closed outlook. Now, after opening again, the addin is not loaded and whenever i click on the get addins button it opens a tab in the browser and redirects me to: https://appsource.microsoft.com/en-

[2020-10-27 19:24] quesurifn opened #896 "Connector Developer Dashboard doesn't list connectors for other organization accounts"
Hello,

We have a Connector Developer Dashboard with 3 connectors in on one account in our organization. The other accounts see an empty dashboard.

The account we used to create the connectors has roles:  “global admin”, “application admin” and “dynamics 365 admin"

The accounts that cannot access the populated connectors dashboard have roles:

global admin”, “teams service admin” and “applicatio

[2020-10-28 15:01] jasonjoh commented on #896
Hi @quesurifn. This is expected behavior. The dashboard will only show registrations created by the signed-in user. It does not show registrations across the org.

[2020-10-28 15:01] #896 closed

[2020-10-31 17:37] Markus-Hanisch opened #897 "Scope of submission "My mailbox""
Hello Microsoft Support team,
I am just going through the Microsoft Learn [Extend Microsoft 365 – Fundamental](https://docs.microsoft.com/en-us/learn/paths/m365-extend-fundamental/) learning path. On page [Understand registration for Actionable Messages in Outlook](https://docs.microsoft.com/en-us/learn/modules/understand-actionable-messages/4-registration), the scopes of the submission differ fro

[2020-11-13 10:50] piyumi25 opened #898 "Unable to pass the date value"
I am creating an office365 connector app which manage task management service. I am using date input to get due date from user.

Here is how the create notification comes to the channel
![connector2](https://user-images.githubusercontent.com/33615108/99063797-153f7080-25cb-11eb-867b-6cd43bd48623.PNG)
 I am trying send the date value to my web service. But could not send the value to backend servic

[2020-11-13 14:17] jasonjoh commented on #898
Hi @piyumi25, thanks for your interest in connectors. This forum is for reporting issues with the documentation, not for troubleshooting your scenario. Please post your question on Stack Overflow with the `Office365Connectors` tag.

It will be helpful if you can include valid JSON for your card markup as well.

[2020-11-13 15:00] #898 closed

[2020-11-20 16:58] RezaRahmati opened #899 "No option for "Manage connectors""
Thank you for helping us to improve the Outlook developer documentation.

So that we can better assist you, please note the following:

- If you have a question, need help, or are experiencing an issue with your code, we encourage you to post your question or issue on **Stack Overflow**. Tag your question according to the technology involved:
    - REST APIs: [microsoftgraph](http://stackoverflow.

[2020-12-01 11:38] johnnycardy opened #900 "AutoInvoke does not work by default for registered providers"
The autoinvoke capability does not work by default for approved card providers.

It has to be manually enabled by contacting onboardoam@microsoft.com.

This isn't mentioned in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 996b8b63-4e9a-6a6c-0cb0-374b0f4dbfd8
* Version Independent ID: 09f05eca-80f1-6

[2020-12-03 04:31] piyumi25 opened #901 "Is it possible to use Office365 connector as a multitenant connector?"
I have created an office365 connector app for teams using abcd@testdomain.com and it is working as expected for testdomain.com accounts. I tried to configure the connector app for xyz@testdomain2.com and I got the following error.

![image](https://user-images.githubusercontent.com/33615108/100964347-6f8a7c00-354e-11eb-9825-db1e766691bf.png)

Can some one help me to understand the issue?

---
####

[2020-12-03 14:25] jasonjoh commented on #901
Is this an error you received in the Connectors developer dashboard?

[2020-12-03 14:44] jasonjoh commented on #899
Thanks @RezaRahmati. You're right, this option didn't carry over into the OWA redesign. I'm following up to find out if it's planned to come back.

In the meantime, you have a couple of options:

## Groups in OWA
You can still configure a connector on an Office 365 Group in OWA. Go to a group's settings, and you should find **Connectors** there.

![image](https://user-images.githubusercontent.com/

[2020-12-03 14:45] jasonjoh commented on #900
Thanks for reporting @johnnycardy!

[2020-12-03 14:53] jasonjoh commented on #897
The Learn article is outdated. The **My Mailbox** scope was removed as not needed. The **Test Users** scope can handle the same scenario. I'll send a pull request to the Learn docs to remove this.

[2020-12-03 15:49] piyumi25 commented on #901
No, i received this when click on save button in configuration page.

[2020-12-03 16:01] jasonjoh commented on #901
Have you registered your connector in the connector developer dashboard? I'm assuming you did this in the testdomain.com tenant. Unless you publish your connector to the store, you would need to register the connector in the testdomain2.com tenant as well.

[2020-12-03 16:05] piyumi25 commented on #901
Yes I registered the connector in testdomain.com and I did not published to the store. Thank you for your answer and it is very helpful to continue my work.

[2020-12-03 16:10] jasonjoh commented on #901
You can use the same service, but you do need to register it in the second domain.

[2020-12-03 16:13] piyumi25 commented on #901
Thank you for your valuable informaton

[2020-12-03 16:13] #901 closed

[2020-12-03 16:14] jasonjoh commented on #897
I've updated the source for Learn. That should reflect on the site in the next few days.

[2020-12-03 16:14] #897 closed

[2020-12-06 18:47] khuongduybui opened #902 "Missing migration guide for access to Outlook Notes (aka Sticky Notes)"
In the new Microsoft Graph API documenation, the "Notes" section discusses exclusively about OneNote notes and not Sticky Notes (Outlook notes). Meanwhile, the "Mail" (Outlook) section does not mention notes at all.

I need documentation about migrating access to sticky notes from the deprecated Outlook REST API v2 at outlook.office.com/api/v2.0/me/MailFolders/notes/messages to the new Graph API.

[2020-12-07 15:12] jasonjoh commented on #902
@khuongduybui there was never an Outlook REST API specifically for sticky notes. There is no Graph API specifically for sticky notes.

It looks like from your request URL (`/me/MailFolders/notes/messages`) that you were accessing them through the Mail API. I would assume this would work the same in Microsoft Graph, with the changes noted in this article. I just tested it with [Graph Explorer](http

[2020-12-07 15:18] khuongduybui commented on #902
I hope there would be official guidance, but I will continue to use the Mail API for now, thank you.

[2021-01-06 07:52] piyumi25 opened #903 "Error is occurred after connector is published to azure web service"
I am getting this error after calling "saveEvent.notifySuccess()". Can someone help me to fix the issue and I need to know is there any specific limitations for the connectors based on the Office365 subscriptions?

![image](https://user-images.githubusercontent.com/33615108/103743433-24b6c500-5022-11eb-99b8-335b46ad920a.png)

**Note:** this is worked for ngrok without any error.
---
#### Document

[2021-01-06 13:41] jasonjoh commented on #876
Closing the issue here since you have engaged support.

[2021-01-06 13:41] #876 closed

[2021-01-06 14:07] #885 closed

[2021-01-06 14:08] #890 closed

[2021-01-06 14:11] jasonjoh commented on #899
Confirmed this was removed from OWA and there are no immediate plans to bring it back.

[2021-01-06 14:29] #899 closed

[2021-01-06 14:30] jasonjoh commented on #882
Confirmed that mobile web does not support actionable messages.

[2021-01-06 14:30] #882 closed

[2021-01-06 14:30] #902 closed

[2021-01-06 14:33] jasonjoh commented on #903
@piyumi25 we're limited in our ability to provide support in this forum. You might get better results posting on Stack Overflow. If this is working fine in your dev setup with ngrok but not after deploying, then you're likely looking at a configuration issue: either your connector registration needs to be updated with the new URLs of your Azure service, or there's some config issue on your Azure w

[2021-01-06 14:43] #900 closed

[2021-01-06 15:00] #903 closed, assigned to nobody

[2021-01-19 07:20] Rajkumar4428 opened #909 "How to hide actionable buttons for the Cc'd users in the Actionable messages adaptive card email body?"
Currently the actionable messages are getting send to the To and CC'd users. But wanted to hide the actionable buttons for the CC'd users so that only the TO-list recipients can take action on the actionable requests. Where as it is just for information to the CC'd users.

Is there a way to achieve hiding actionable buttons for the CC'd users alone? was there any property already available which d

[2021-01-21 14:39] jasonjoh commented on #909
There is no way to do this today. I've forwarded your question to the product team for consideration for the future.

[2021-01-22 12:54] Rajkumar4428 commented on #909
Hi Jasonjoh,

Thank you for your response.

[2021-01-22 13:01] Rajkumar4428 opened #910 "Suddenly started showing Could not load file or assembly 'Microsoft.Spatial' error in the OAM"
Hi Team,

We have implemented OAM for Approvals. It was working fine till yesterday afternoon, but not displaying the Actionable messages from yesterday evening. We have not done any changes in the existing solutions. Encountering the same issue in our Dev, Test environments as well. Not sure what went wrong, when I check in the Outlook  Actionable message debugger, it showed the below error detai

[2021-01-22 14:26] #909 closed

[2021-01-22 15:00] #910 closed

[2021-02-08 14:05] iinuwa opened #911 "Include O365 OpenID/OAuth2 metadata URL in documentation"
Summary: This page should include the OAuth2 metadata URL for validating these requests.

While looking how to validate Teams actionable message callbacks, the only documentation that I could find was this page. However, based on the information here, I wasn't able to actually validate the JWT that I received because I couldn't find the public signing key.

The documentation mentions says that req

[2021-02-16 22:01] jasonjoh commented on #911
Thanks for the feedback @iinuwa! I will forward this to the team and update as needed.

[2021-02-18 13:47] jasonjoh commented on #911
- MetadataUrl: `https://substrate.office.com/sts/common/.well-known/openid-configuration`
- TokenIssuer:  `https://substrate.office.com/sts/`

[2021-02-26 05:22] sjlu opened #918 "Graph endpoint is returning a different user ID from the Outlook endpoint"
The Graph endpoint is returning a different user ID from the Outlook endpoint. Is this expected behavior or is there a way to normalize the two IDs?

**GET https://outlook.office.com/api/v2.0/Me**
[code]

**GET https://graph.microsoft.com/v1.0/me**
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78f042c4-37ce-458

[2021-02-26 14:08] jasonjoh commented on #918
The Outlook endpoint generates IDs as `<objectId>@<tenantId>`, where `objectId` is the id of the user in Azure AD. For Azure AD accounts (work or school, etc.) the Graph ID will be the `objectId` of the user, so it's easy to correlate. For personal accounts like the one you're showing, it's not so easily mapped.

The Outlook endpoint uses the same format for personal, where `84df9e7f-e9f6-40af-b43

[2021-02-26 19:23] sthi-1005 opened #919 "Sample code"
Hi, can we see the sample code for the adaptive cards in this page? The samples and templates in adaptivecards.io/samples/ do not contain the group membership approval.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc039d3b-b1e6-79ae-3b83-6e90d7d8af94
* Version Independent ID: f72d624f-36b9-bab1-9c14-e9fc1e81082b
* Co

[2021-03-11 02:40] sjlu commented on #918
Thanks @jasonjoh - closing this out but def useful information for the docs!

[2021-03-11 02:40] #918 closed

[2021-03-19 03:18] cevee49 opened #920 "Internal Server error when executing Action.Http in actionable message"
I suddenly can't use Action.Http for actionable message in my email account. The card will be shown correctly but I keep getting "An error occurred. Please try again later." whenever the Action.Http is triggered. Upon inspection, there is an (500) Internal Server Error thrown by https://outlook.office365.com/actions/userid/messages/{key}/adaptiveCard/executeAction?culture=en-US.  I tried to a few

[2021-03-22 13:59] jasonjoh commented on #920
Hi @cevee49, I'm sorry you're having trouble. Unfortunately, we're not set up to provide product support in this forum. If this issue is still happening, please contact [support](https://developer.microsoft.com/office/docs#officesupport) or post on [Microsoft Q&A](https://docs.microsoft.com/answers/products/).

[2021-03-25 02:37] maximojoexpress opened #921 "Postman example no longer works as written"
[Enter feedback here]
Try it yourself. You can back "Summary or Text is required." and your request is not sent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2606e423-7aff-b44e-3c88-1a96d16ed1fc
* Version Independent ID: 29e8d7ba-d255-f533-7781-aa2aa14a040e
* Content: [Get started with actionable messages via connect

[2021-04-04 21:12] k10blogger opened #922 "Formatting for Code Snippets in Markdown"
[Enter feedback here]
Hi this is more of a query.

I dont see anyway to format the text as code-snippets.
Any other way to do it? or allow inline html code into the MessageCard text field??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fa51748-908b-c781-39b2-09c961b1637a
* Version Independent ID: 51b88c0a-29d3-2ca8-0